.incoming-message {
    flex-basis: 25%;
    padding: 40px;
    height: 100%;
    overflow: auto;
    margin-right: 40px;
}
.incoming-message__warn {
    margin-bottom: 20px;
    color: #ff6961;
}
.incoming-message__group + .incoming-message__group {
    margin-top: 80px;
}
.incoming-message__title {
    font-size: 40px;
    margin: 0 0 20px;
}
.incoming-message__textarea {
    padding: 10px;
    font-family: sans-serif;
    width: 100%;
    font-size: 40px;
    max-height: 230px;
    border: 1px solid rgb(217, 220, 222);
}
.incoming-message__input {
    display: block;
    font-size: 40px;
    border: 1px solid rgb(217, 220, 222);
    width: 100%;
    padding: 20px;
}
.incoming-message__submit {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    border: 1px solid rgb(217, 220, 222);
    color: #000;
    background-color: rgba(0, 122, 255, 0.3);
    transition: opacity .2s;

}
.incoming-message__submit:disabled {
    opacity: .2;
}
.incoming-message__stickers {
    max-height: 400px;
    overflow: auto;
}


.emoji-list {
    font-size: 80px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    overflow: auto;
}
.emoji-list__item {
    padding: 20px;
}