.main, .keyboard-holder {
    will-change: transform;
    transition: transform .3s;
}
.keyboard-holder {
    box-sizing: border-box;
    width: 100%;
}
.keyboard-holder {
    position: absolute;
    top: 100%;
}
.keyboard {
    font-family: Roboto, sans-serif;
    border-top: 3px solid rgb(224, 224, 224);
    background-color: rgb(235, 239, 242);
    color: rgb(102, 102, 102);
    padding: 21px 20px;
    font-size: 60px;
    text-align: center;
}
.capitalize {
    text-transform: uppercase;
}
.main-controls {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -7px;
    margin-right: -7px;
    color: rgba(0, 0, 0, 0.35);
}
.main-controls .key {
    width: auto;
    align-items: center;
    margin: 0 7px;
    flex-basis: 7.5%;
}
.en .chars-board .key,
.fr .chars-board .key {
    flex-shrink: 0;
    width: 91px;
    margin: 17px 7px;
}
.en .chars-board .key:nth-child(-n+10),
.fr .chars-board .key:nth-child(-n+10) {
    margin-top: 0;
}
.en .chars-board .key:nth-child(n+19),
.fr .chars-board .key:nth-child(n+19) {
    margin-bottom: 0;
}
.en .chars-board .key:nth-child(11),
.fr .chars-board .key:nth-child(11) {
    margin-left: auto;
}
.en .chars-board .key:nth-child(19),
.fr .chars-board .key:nth-child(19) {
    margin-right: auto;
}
.key {
    min-width: 0;
    height: 121px;
    line-height: 121px;
    padding: 0 10px;
    position: relative;
    user-select: none;
}
.key:after {
    content: attr(data-caption);
    font-size: 26px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 20px;
    right: 6px;
}
.key.is-scaled {
    background-color: rgb(218, 219, 221);
}
.key.is-scaled:before {
    content: attr(data-active);
    position: absolute;
    width: 160%;
    height: 300px;
    line-height: 1.2;
    font-size: 1.6em;
    background-color: inherit;
    bottom: -20px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%);
    border-bottom: none;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.45);
    color: rgb(54, 69, 78);
}
.key.mic, .key.lang {
    padding: 1%;
}
.en .chars-board .key.control {
    width: 114px;
    padding: 0 28px;
    margin-right: 34px;
}
.en .chars-board .key.control:last-child {
    margin-left: 34px;
    margin-right: 7px;
}
.key.gray.is-pressed {
    background-color: #fff;
}
.key.gray, .key.is-pressed, .key.is-active {
    background-color: rgba(0, 0, 0, .05);
}
.key.fz-xs {
    font-size: .55em;
}
.key.switch-boards {
    flex-basis: 12%;
    font-size: 36px;
}
.key.space {
    height: 72px;
    line-height: 72px;
    flex-basis: 40%;
    background-color: rgb(212, 216, 218);
    color: rgb(102, 102, 102);
    border-radius: 6px;
    font-size: 40px;
}
.key.space.is-pressed {
    background-color: rgba(0, 0, 0, .2);
}
.key.enter {
    height: 104px;
    flex-basis: 104px;
    border-radius: 50%;
    background-color: #4cb5ab;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}
.key.enter.is-pressed {
    background-color: #339C92;
}
.chars-board .key img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row + .row {
    margin-top: 3%;
}
.row:last-child {
    margin-left: -1%;
    margin-right: -1%;
}
.row:last-child .key {
    width: auto;
    flex-grow: 1;
    margin: 0 1%;
}
.stickers.is-hidden {
    transform: scale(0);
    opacity: 0;
    transition: all .4s;
}
.input-value-holder {
    height: 100%;
}
.input-value {
    resize: none;
    outline: none;
    font-size: 3em;
    font-family: sans-serif;
    padding: 2.5% 3.5%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
}

.chars-board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 34px 14px;
}
.en .chars-board,
.fr .chars-board {
    margin: 0 -7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.symbols-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 34px 14px;
}
.symbols-controls {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}
.symbols-controls .big-control:first-child {
    margin-right: 15px;
    font-size: 44px;
}
.symbols-controls .big-control:last-child {
    margin-left: 15px;
}
.big-control {
    flex-basis: 15%;
    font-size: 44px;
}
.symbols-controls .key:not(.big-control) {
    flex-grow: 1;
    margin: 0 7px;
    flex-basis: 12%;
}



.key-grip {
    position: absolute;
    top: -32px;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: rgb(218, 219, 221);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 11px 13px 0 rgba(0, 0, 0, 0.3);
}
.key-additional-symbols {
    position: absolute;
    bottom: 153px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 510px;
    background-color: rgb(218, 219, 221);
    box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.3);
}
.additional-key {
    line-height: 108px;
    width: 90px;
    border-radius: 10px;
}
.additional-key:hover {
    background-color: rgb(130, 202, 195);
}