*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(239, 239, 241);
    padding: 28px 44px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.header--with-avatar {
    padding-top: 18px;
    padding-bottom: 20px;
}

.header__back, .header__info {
    width: 150px;
}
.header__info {
    text-align: right;
}

.header__back {
    font-size: 40px;
    color: rgb(0, 122, 255);
}
.header__avatar {
    height: 116px;
    width: 116px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 11px;
}
.avatar {
    width: 100%;
    height: auto;
}

.header__title {
    text-align: center;
}

.header__caption {
    font-size: 60px;
    line-height: 36px;
    min-height: 40px;
}
.header__caption--small {
    font-size: 38px;
    margin-top: 8px;
}

.chevron {
    vertical-align: middle;
}
.online {
    color: rgb(0, 122, 255);
}


.main {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 30px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    overflow: auto;
    font-size: 54px;
}
.bubbles-list.is-blue .is-outgoing .bubble {
    background-color: rgb(29, 136, 250);
}
.bubbles-list.is-blue .is-outgoing .bubble:after {
    right:  -14px;
    background: url(../img/outgoing-blue.png) no-repeat;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}
.bubble-holder {
    margin-bottom: 5px;
}
.bubble-holder.is-last {
    margin-bottom: 30px;
}
.bubble {
    background-color: rgb(229, 229, 235);
    padding: 24px 25px;
    max-width: 800px;
    min-width: 105px;
    border-radius: 50px;
    position: relative;
}
.bubble:after {
    content: '';
    position: absolute;
    width: 116px;
    height: 100px;
    z-index: -1;
    bottom: 0;
}
.is-last:not(.is-outgoing) .bubble:after {
    left: -18px;
    background: url(../img/incoming.png) no-repeat;
}
.is-last.is-outgoing .bubble:after {
    right:  -14px;
    background: url(../img/outgoing.png) no-repeat;
}
.bubble.fz-big, .is-outgoing .bubble.fz-big {
    background-color: transparent;
}
.bubble.fz-big:after {
    content: none;
}
.bubbles-list > * {
    margin-bottom: 30px;
}
.is-outgoing {
    align-self: flex-end;
}
.is-outgoing .bubble{
    color: #fff;
    background-color: rgb(34, 217, 75);
}
.bubble-status {
    font-size: 36px;
    text-align: right;
    font-weight: 500;
    margin-top: 5px;
    color: rgb(127, 127, 129);
    padding: 0 5px;
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 749px;
}

.input-bar-wrapper {
    will-change: margin;
    transition: margin .323s;
    position: relative;
    flex-shrink: 0;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    padding: 13px 35px 13px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(241, 243, 247);
}


.input-bar__tools {
    position: absolute;
    left: 55px;
    bottom: 30px;
    align-items: center;
}

.input-bar__icon {
    vertical-align: middle;
}

.input-bar__icon + .input-bar__icon {
    margin-left: 55px;
}

.input-bar__textarea-holder {
    width: 711px;
    position: relative;
    transition: width .3s;
}
.input-bar__textarea-holder--expanded {
    width: 855px;
}

.message-text {
    border-radius: 50px;
    height: 102px;
    border: 1px solid rgb(199, 199, 205);
    resize: none;
    outline: none;
    font-size: 50px;
    font-family: sans-serif;
    padding: 23px 99px 23px 28px;
    width: 100%;
    display: block;
    background-color: #fff;
    max-height: 400px;
}

.input-bar__send {
    position: absolute;
    right: 14px;
    bottom: 12px;
    background: none;
    padding: 0;
    border: 0;
}
.input-bar__reduce {
    width:  87px;
}
.icon-reduce {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}






/*
    Vue Animations
*/
.bounce-slide-enter-active, .bounce-slide-leave-active {
    transition: all .15s;
}
.input-bar__reduce, .input-bar__attachment {
    will-change: transform;
}
.input-bar__reduce.bounce-slide-leave-active {
    transform: translateX(200px);
    opacity: .3;
}
.input-bar__reduce.bounce-slide-enter-active {
    animation: bounce-slide-right .5s;
}


.input-bar__attachment.bounce-slide-enter-active {
    animation: bounce-slide .4s;
}
.input-bar__attachment.bounce-slide-leave-active {
    transform: translateX(-200px);
    opacity: .3;
}



.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/


@keyframes bounce-slide {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    35% {
        transform: translateX(0);
        opacity: 0.3;
    }
    70% {
        transform: translateX(-5px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce-slide-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    30% {
        transform: translateX(0);
        opacity: 0.3;
    }
    50% {
        transform: translateX(5px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}