.add-new-post {
	padding: 41px 41px 20px
}
.add-new-post__top {
	font-size: 50px;
	color: #9c9da1;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}
.add-new-post__avatar {
	width: 120px;
	height: 120px;
	margin-right: 20px;
}
.add-new-post__tools {
	font-size: 38px;
	display: flex;
	border-top: 1px solid #ced0d4;
	padding: 20px 0;
}
.add-new-post__tool {
	flex-basis: calc(100% / 3);
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}
//.en .add-new-post__tool,
//.fr .add-new-post__tool {
//	padding: 20px 0;
//}
.add-new-post__tool + .add-new-post__tool {
	border-left: 1px solid #ced0d4;
}
.add-new-post__tool-img {
	margin-right: 25px;
}