.comment-screen {
	will-change: transform;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	z-index: 2;
}
.comment-screen__container {
	overflow: auto;
	scroll-behavior: smooth;
	flex-grow: 1;
}
.comment-screen__container::-webkit-scrollbar {
	display: none;
}
.post-comments {
	border-top: 1px solid #e3e3e3;
	padding: 50px 115px 50px 41px;
}
.post-comment {
	display: flex;
}
.post-comment + .post-comment {
	margin-top: 50px;
}
.post-comment__avatar {
	width: 120px;
	height: 120px;
	margin-right: 25px;
	flex-shrink: 0;
}
.post-comment__avatar--small {
	width: 70px;
	height: 70px;
}
.post-comment__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.post-comment__bubble {
	border-radius: 65px;
	padding: 30px 45px;
	background-color: rgb(240, 241, 243);
	position: relative;
}
.post-comment__text {
	word-break: break-word;
}
.post-comment__name {
	display: block;
	margin-bottom: 10px;
	font-size: .85em;
}
.post-comment__likes {
	position: absolute;
	bottom: 27px;
	right: -80px;
	border-radius: 45px;
	background-color: #fff;
	box-shadow: 0 1px 8px rgba(0, 0, 0, .12);
	padding: 1px 10px 1px 1px;
}
.post-comment__meta {
	display: flex;
	color: rgb(127, 126, 130);
	font-size: 38px;
}
.post-comment__meta-container {
	display: flex;
	align-items: center;
}
.post-comment__meta-time {
	font-weight: 300;
}
.post-comment-meta-list {
	display: flex;
	margin-left: 45px;
	font-weight: 500;
	color: rgb(96, 103, 112);
}
.post-comment-meta-list__item + .post-comment-meta-list__item {
	margin-left: 45px;
}
.post-comment-meta-list__item--blue {
	color: rgb(66, 109, 178);
}
.post-comment__replies {
	margin-top: 40px;
}
.scrollable-wrapper {
	overflow: auto;
}



.write-comment {
	will-change: margin;
	transition: margin .323s;
	position: relative;
}
.write-comment__reply {
	color:rgb(153, 152, 156);
	padding: 20px 42px;
	border-top: 1px solid rgb(237, 237, 237);
	position: relative;
}
.write-comment__reply-close {
	background: none;
	border: 0;
	font-size: 50px;
	position: absolute;
	top: 10px;
	right: 20px;
	color: rgb(146, 146, 157);
}
.write-comment__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-shrink: 0;
	padding: 17px 33px 37px 45px;
	color: rgb(99, 100, 106);
	background-color: rgb(246, 247, 248);
}
.icon-camera {
	width: 61px;
}
.write-comment__group {
	display: flex;
	align-items: center;
}
.write-comment__attachments {
	display: flex;
	align-items: center;
}
.write-comment__attachment + .write-comment__attachment {
	margin-left: 40px;
}
.write-comment__img {
	vertical-align: middle;
}
.write-comment__send {
	margin-left: 70px;
}
.comment-screen .message-text {
	flex-grow: 1;
	font-size: 54px;
	height: 90px;
	background-color: transparent;
	padding: 27px 10px 0 50px;
	border: none;
	outline: none;
	max-height: 320px;
	margin-right: 20px;
	resize: none;
}

.write-comment .keyboard-holder {
	left: 0;
}
.comment-screen .keyboard-holder img {
	vertical-align: baseline;
}