.post {
	padding: 30px 42px;
}
.post__info {
	display: flex;
	margin-bottom: 30px;
}
.post__back {
	margin-right: 40px;
	margin-top: 30px;
}
.post__more {
	margin-left: auto;
}
.post__avatar {
	width: 120px;
	height: 120px;
	margin-right: 25px;
	flex-shrink: 0;
}
.post__author {
	font-size: 47px;
	color: #262626;
}
.post-geotag__place {
	white-space: nowrap;
}
.post-geotag__img {
	vertical-align: baseline;
}
.post__date-place {
	display: flex;
	font-size: 35px;
	color: #61676b;
}
.post__date + .post__date {
	margin-left: 20px;
}
.post__date + .post__date:before {
	content: '';
	width: 11px;
	height: 11px;
	background-color: #61676b;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
.post__text {
	margin-bottom: 20px;
}
.post__attachments {
	margin-left: -42px;
	margin-right: -42px;
	margin-bottom: 20px;
}

.post__meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #676B77;
}

.post__reactions-holder {
	display: flex;
	align-items: center;
	font-size: 45px;
	line-height: 1;
}

.post-reactions {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin-right: 10px;
}
.post-reactions__item {
	position: relative;
}
.post-reactions__img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.post-reactions__item:not(:last-child) {
	margin-left: -10px;
}
.post__meta-items {
	display: flex;
}
.post__meta-item + .post__meta-item {
	margin-left: 20px;
}
.bordered-post {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #e3e3e3;
}
.post__tools {
	font-size: 42px;
	color: #6a6e7a;
	display: flex;
	justify-content: space-between;
}
.post__views {
	color: rgb(93, 103, 112);
}
.post__tool {
	display: flex;
	align-items: center;
}
.post__tool--blue {
	color: #4080FF;
}
.post__tool-img {
	margin-right: 10px;
}
.post__tool:first-child {
	position: relative;
	padding-left: 60px;
}
.post__tool:first-child .post__tool-img {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 0;
}
.icon-like {
	width: 48px;
}
.post-tile {
	columns: 2;
	column-gap: 16px;
}

.post-tile__item {
	background-color: #B3B3B3;
	margin-bottom: 16px;
	height: 335px;
}
.post-tile__item:nth-child(2), .post-tile__item:last-child {
	margin-bottom: 0;
}
.post-tile__item--big {
	height: 511px;
}
.post-tile__img {
	height: inherit;
	width: 100%;
	object-fit: cover;
}
.post-video__holder {
	position: relative;
}
.post-video__icon {
	position: absolute;
	bottom: 30px;
	right: 42px;
}
.post-video__panel {
	background-color: #EFF1F3;
	text-align: right;
	padding: 40px 42px;
}
.post-video__button {
	display: inline-block;
	border-radius: 15px;
	border: 2px solid #939599;
	padding: 20px 30px;
	color: #54555a;
}
.post__shared {
	border: 1px solid #ccc;
	padding: 25px 42px;
	margin-top: 30px;
	margin-left: -20px;
	margin-right: -20px;
}
.post__shared .post__tools {
	margin-left: -22px;
	margin-right: -22px;
}