*, *:before, *:after {
	box-sizing: border-box;
}

body, figure, p, h2 {
	margin: 0;
}

menu, ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	vertical-align: middle;
}

html {
	touch-action: manipulation;
}
textarea {
	font-family: Helvetica, Arial, sans-serif;
}
body {
	font: 45px/1.3 Helvetica, Arial, sans-serif;
	color: #1d1e23;
}