.share-popup-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .4);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.share-popup {
	background-color: #fff;
	border-radius: 40px 40px 0 0;
	position: relative;
}
.share-popup__full-screen {
	position: absolute;
	top: 20px;
	right: 35px;
}
.with-grip {
	position: relative;
}
.with-grip:before {
	content: '';
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .8);
	height: 15px;
	width: 180px;
}
.share-popup__button-holder {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 40px;
}
.share-popup__button {
	border: none;
	outline: none;
	color: #fff;
	padding: 30px 70px;
	font-size: 50px;
	border-radius: 10px;
	background-color: rgb(74, 141, 250);
}
.share-popup-list {
	font-size: 55px;
	padding: 60px 30px;
	border-top: 2px solid #ced0d4;
}
.share-popup-list__icon {
	width: 58px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.share-popup-list__item {
	padding-left: 88px;
	position: relative;
}
.share-popup-list__item + .share-popup-list__item {
	margin-top: 100px;
}
.share-popup-wrapper {
	will-change: transform;
}
.share-popup-wrapper .keyboard-holder {
	position: static;
	margin-top: -364px;
}
.share-popup-inner {
	will-change: transform;
}


.privacy-popup {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.privacy-popup__head {
	background-color: rgb(251, 250, 254);
	display: flex;
	border-radius: 40px 40px 0 0;
	justify-content: space-between;
	padding: 40px 42px;
	font-size: 50px;
	white-space: nowrap;
	border-bottom: 1px solid rgb(224, 222, 224);
}
.privacy-popup__main {
	padding-top: 70px;
	background-color: #fff;
}
.privacy-popup__button {
	color: rgb(48, 136, 252);
}

.privacy-popup__caption {
	margin-bottom: 50px;
	padding: 0 42px;
	font-size: 50px;
}

.privacy-popup-list__item + .privacy-popup-list__item {
	border-top: 1px solid rgb(237, 235, 238);
}
.privacy-popup__more {
	border-top: 1px solid rgb(237, 235, 238);
	padding: 30px 150px;
	font-size: 50px;
}


.facebook-rounded-radiobutton {
	font-size: 55px;
	padding: 30px 30px;
	display: block;
}
.facebook-rounded-radiobutton__holder {
	display: flex;
	position: relative;
	align-items: center;
}
.facebook-rounded-radiobutton__holder:before {
	content: '';
	width: 80px;
	height: 80px;
	border: 2px solid rgb(203, 202, 207);
	margin-right: 40px;
	border-radius: 50%;
	flex-shrink: 0;
}
.facebook-rounded-radiobutton__holder:after {
	content: '';
	width: 50px;
	height: 100px;
	background: url(../img/checked.svg) no-repeat 50% 50%;
	background-size: contain;
	display: none;
	position: absolute;
	left: 15px;
	top: 15px;
}
.facebook-rounded-radiobutton__input {
	display: none;
}
.facebook-rounded-radiobutton__input:checked + .facebook-rounded-radiobutton__holder:before {
	background-color: rgb(87, 144, 252);
	border-color: rgb(87, 144, 252);
}
.facebook-rounded-radiobutton__input:checked + .facebook-rounded-radiobutton__holder:after {
	display: block;
}
.facebook-rounded-radiobutton__caption {
	font-size: .8em;
	color: rgb(159, 160, 174);
}