.flexible-img {
  width: 100%;
  height: auto;
}

.rounded {
  border-radius: 50%;
  overflow: hidden;
}

input[type=checkbox] {
  display:none;
}
.slide-toggle {
  display: block;
  position: relative;
  flex: none;
  width: 95px;
  height: 53px;
  border-radius: 30px;
  background-color: #d7d2cb;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 1;
  margin: 10px;

  &::before,
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 1px;
    border-radius: 30px;
    height: 51px;
    background-color: #fff;
    transform: translate3d(0,0,0);
    transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);;
  }

  &::before {
    z-index: -1;
    width: 95px;
    right: 1px;
    transform: scale(1);
  }

  &::after {
    z-index: 1;
    width: 51px;
    left: 1px;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
  }

  input:checked + & {
    background-color: #4dde5e;

    &::before {
      transform: scale(0);
    }

    &::after {
      transform: translate3d(41px,0,0);
    }
  }
}


.fb-txt-button {
  font-size: 50px;
  color: #007AFF;
  &:disabled {
    color: #AEAEAE;
  }
}



.keyboard-slide-enter-active {
  transition: transform .1s;
}
.keyboard-slide-leave-active {
  transition: transform .2s;
}
.keyboard-slide-enter-active, .keyboard-slide-leave-active {
  transform: translateY(100%);
}
