*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}





.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.header {
    background-color: rgb(81, 139, 204);
    padding: 69px 45px 18px 45px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.15);
}

.header__back {
    font-size: 40px;
    color: rgb(0, 122, 255);
    width: 44px;
    margin-right: 70px;
}

.chevron {
    width: 100%;
}

.header__user-info {
    display: flex;
    align-items: center;
}

.header__avatar {
    margin-right: 30px;
    width: 103px;
    height: 103px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar {
    width: 100%;
    height: auto;
}

.header__name {
    font-size: 65px;
    letter-spacing: -1.2px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.header__caption {
    font-size: 45px;
    color: rgb(174, 196, 221);
    line-height: 36px;
    min-height: 40px;
}

.header__menu {
    margin-left: auto;
}


.main {
    padding-top: 202px;
    height: 100%;
    position: relative;
    background-color: rgb(234, 237, 240);
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 45px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    flex-grow: 1;
    font-size: 55px;
    position: relative;
}
.bubble-holder {
    display: flex;
    margin-bottom: 30px;
    flex-shrink: 0;
}
.bubble-avatar {
    margin-right: 30px;
    position: relative;
    z-index: 1;
    height: 82px;
    width: 82px;
    overflow: hidden;
    border-radius: 50%;
}
.bubble-holder--without-avatar {
    margin-left: 112px;
}
.bubble-holder .bubble {
    margin-bottom: 0;
    max-width: 680px;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}
.bubble {
    background-color: #fff;
    padding: 22px 43px 40px 33px;
    max-width: 890px;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .05);
}
.bubble-holder:not(.is-outgoing):not(.bubble-holder--without-avatar) .bubble {
    border-top-left-radius: 0;
}
.bubble-holder:not(.is-outgoing):not(.bubble-holder--without-avatar) .bubble:before {
    content: '';
    background: url(../img/incoming-message-triangle.png) no-repeat;
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 42px;
    left: -30px;
    top: -1px;
}
.bubble-holder.is-outgoing .bubble {
    background-color: rgb(215, 231, 249);
    padding-right: 75px;

}
.bubble-holder.is-outgoing .bubble {
    border-top-right-radius: 0;
    box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, .1);
}
.bubble-holder.is-outgoing .bubble:after {
    content: '';
    background: url(../img/outgoing-message-triangle.png) no-repeat;
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 42px;
    right: -29px;
    top: -3px;
}
.bubble__title {
    font-size: .9em;
    font-weight: 700;
    color: rgb(63, 136, 196);
}
.bubble__time {
    font-size: 33px;
    color: rgb(153, 158, 163);
    position: absolute;
    bottom: 8px;
    right: 15px;
}
.bubble__text {
    word-break: break-word;
}
.bubbles-list > *:not(.animated-items-group) {
    margin-bottom: 20px;
}
.bubble-holder.is-outgoing {
    align-self: flex-end;
}
.bubble-holder.is-typing {
    color: rgb(130, 144, 159);
    font-size: .7em;
    margin-bottom: 20px;
    margin-top: auto;
}
.bubble-holder .rectangle {
    width: 620px;
}

.unread-separator {
    color: rgb(122, 136, 153);
    font-size: 45px;
    text-align: center;
    align-self: stretch;
    margin-top: 10px;
    margin-bottom: 30px;
}
.unread-separator.is-hidden {
    visibility: hidden;
}
.unread-separator__text {
    position: relative;
}
.unread-separator__text:before, .unread-separator__text:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(194, 198, 202);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.unread-separator__text:before {
    right: 105%;
}
.unread-separator__text:after {
    left: 105%;
}

.messages-date {
    align-self: stretch;
    text-align: center;
    color: rgb(122, 136, 153);
    font-size: 45px;
}



.sticker {
    position: relative;
}
.sticker__time {
    font-size: 33px;
    color: #fff;
    padding: 14px 20px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 7px;
    position: absolute;
    bottom: 41px;
    right: 20px;
}

.typing-message {
    margin-top: auto;
    margin-left: 102px;
}
.typing-message__img {
    vertical-align: middle;
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 775px;
    margin-bottom: 15px;
}

.input-bar-wrapper {
    will-change: margin;
    transition: margin .323s;
    position: relative;
    flex-shrink: 0;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    flex-shrink: 0;
    padding: 20px 20px 20px 40px;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, .1);
}


.input-bar__attachment {
    margin-right: 30px;
    margin-bottom: 10px;
}

.message-text {
    flex-basis: 722px;
    height: 90px;
    resize: none;
    outline: none;
    font-size: 48px;
    font-family: sans-serif;
    padding: 20px 28px;
    width: 100%;
    background: transparent;
    border: none;
    max-height: 450px;
}

.input-bar__sending-tools {
    width: 170px;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.input-bar__send {
    text-align: center;
    padding-bottom: 7px;
}

.input-bar__group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

.mic {
    height: 100%;
}





/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .15s, opacity .15s;
}
.scale-leave-active {
    transform: translateX(100px);
    opacity: .3;
}
.scale-enter {
    transform: scale(.35);
}



.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/











/*
    CSS Animations
*/
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.typing span {
    font-size: 1em;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}