<template>
  <div id="app" class="page-wrapper">
    <div v-if="eventScreenIsVisible" key="eventScreen" class="page-container">
      <EventScreen />
    </div>
    <div v-else key="defaultScreen" class="page-container">

      <header class="header">
        <button class="header__button">
          <img src="./assets/main/back-arrow.svg" alt="">
        </button>
        <span class="header__title">
        Мероприятия
      </span>
        <button class="header__button" @click="showModal('modalIsVisible')">
          Создать
        </button>
      </header>

      <ul class="tabs">
        <li class="tabs__item tabs__item--active">Главная</li>
        <li class="tabs__item">Календарь</li>
        <li class="tabs__item">Проводите вы</li>
      </ul>

      <EventMain></EventMain>

      <FbPanel></FbPanel>

      <transition name="fade-slide-popup">
        <div v-if="modalIsVisible" class="modal-overlay">
          <CreateEventModal class="bottom-modal" />
        </div>
      </transition>

      <transition name="slide-bottom">
        <CreatePublicEvent v-if="showCreateEventPopup" />
      </transition>

    </div>
    <div class="tools-col card">
      <ScreenSettings v-model="screenSettings" :database-ref="databaseRef" />
    </div>
  </div>
</template>
<script>
import { getscreenSettings } from '@common/mixins/get-chat-settings'
import { mapActions, mapGetters } from 'vuex'
import ScreenSettings from '@common/chat-settings/vue-chat-settings'
import EventMain from './components/EventMain'
import CreateEventModal from './components/CreateEventCommon/CreateEventModal'
import FbPanel from './components/FbPanel'
import CreatePublicEvent from './components/CreateEventScreens/CreatePublicEvent'
import EventScreen from './components/EventScreen'

export default {
  name: 'App',
  components: {
    ScreenSettings,
    EventMain,
    CreateEventModal,
    FbPanel,
    CreatePublicEvent,
    EventScreen
  },
  mixins: [getscreenSettings],
  data () {
    return {
      databaseRef: 'ios-fb-event'
    }
  },
  computed: {
    ...mapGetters([
      'modalIsVisible',
      'showCreateEventPopup',
      'eventScreenIsVisible'
    ]),
    screenSettings: {
      get () {
        return this.$store.state.screenSettings
      },
      set (value) {
        this.updateScreenSettings(value)
      }
    }
  },
  methods: {
    ...mapActions([
      'showModal',
      'updateScreenSettings'
    ])
  }
}
</script>

<style lang="scss">
  @import "../../commonComponents/base-ios-styles/base.css";
  @import "../../commonComponents/base-ios-styles/reset.css";
  @import "./styles/variables";
  @import "./styles/common";

  html, body {
    font: 45px/1.3 Helvetica, Arial, sans-serif;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    background-color: #CFD0D4;
  }

  .header {
    padding: 112px 46px 40px;
    background-color: $fbPrimaryColor;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-size: 65px;
    }
    &__button {
      min-width: 280px;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }

  .tabs {
    background-color: #fff;
    color: #5F5F68;
    text-transform: uppercase;
    display: flex;
    &__item {
      padding: 40px 37px;
      &--active {
        position: relative;
        border-bottom: 5px solid $fbPrimaryColor;
      }
    }
  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: transparentize(#000, .6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 47px;
  }

  /*
    Vue Animations
  */
  .fade-slide-popup-enter-active.modal-overlay,
  .fade-slide-popup-leave-active.modal-overlay {
    transition: opacity .25s;
  }
  .fade-slide-popup-enter.modal-overlay {
    opacity: .1;
  }
  .fade-slide-popup-leave-active.modal-overlay {
    opacity: .1;
  }
  .fade-slide-popup-enter-active .bottom-modal,
  .fade-slide-popup-leave-active .bottom-modal {
    transition: transform .25s;
  }
  .fade-slide-popup-enter .bottom-modal {
    transform: translateY(100%);
  }
  .fade-slide-popup-leave-active .bottom-modal {
    transform: translateY(100%);
  }

  .slide-bottom-leave-active {
    transition: transform .25s;
  }
  .slide-bottom-enter-active {
    transition-delay: .5s;
    transition: transform .4s;
  }
  .slide-bottom-enter, .slide-bottom-leave-active {
    transform: translateY(100%);
  }
  /*
    End Vue Animations
  */
</style>
