*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

html {
    touch-action: manipulation;
}
textarea {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    font: 42px/1.3 Helvetica, Arial, sans-serif;
    color: #1d1e23;
}

.page-wrapper {
    display: flex;
}

.page-container {
    height: 1923px;
    width: 1080px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    position: relative;
    background-color: #cdccd2;
    overflow: auto;
    will-change: transform;
    /*padding-bottom: 141px;*/
}
.main::-webkit-scrollbar {
    display: none;
}

.header {
    background-color: #4167B2;
    padding: 106px 42px 30px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.header__search {
    border-radius: 55px;
    background-color: #29497D;
    text-align: center;
    flex-grow: 1;
    color: #869CC4;
    height: 99px;
    line-height: 99px;
    margin: 0 40px;
}


.rounded {
    overflow: hidden;
    border-radius: 50%;
}
.flexible-img {
    width: 100%;
    height: auto;
}
.card {
    background-color: #fff;
}
.card + .card {
    margin-top: 25px;
}

.add-new-post {
    padding: 41px 41px 20px
}
.add-new-post__top {
    font-size: 50px;
    color: #9c9da1;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.add-new-post__avatar {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}
.add-new-post__tools {
    font-size: 38px;
    display: flex;
    border-top: 1px solid #ced0d4;
}
.add-new-post__tool {
    flex-basis: calc(100% / 3);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.en .add-new-post__tool,
.fr .add-new-post__tool {
    padding: 20px 0;
}
.add-new-post__tool + .add-new-post__tool {
    border-left: 1px solid #ced0d4;
}
.add-new-post__tool-img {
    margin-right: 25px;
}


.stories {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}
.stories__icon {
    background-color: #f5f7f9;
    text-align: center;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin-right: 25px;
}
.stories__more {
    margin-left: auto;
}

.post {
    padding: 30px 42px;
}
.post__info {
    display: flex;
    margin-bottom: 30px;
}
.post__back {
    margin-right: 40px;
    margin-top: 30px;
}
.post__more {
    margin-left: auto;
}
.post__avatar {
    width: 120px;
    height: 120px;
    margin-right: 25px;
    flex-shrink: 0;
}
.post__author {
    font-size: 47px;
    color: #262626;
}
.post-geotag__place {
    white-space: nowrap;
}
.post-geotag__img {
    vertical-align: baseline;
}
.post__date-place {
    display: flex;
    font-size: 35px;
    color: #61676b;
}
.post__date + .post__date {
    margin-left: 20px;
}
.post__date + .post__date:before {
    content: '';
    width: 11px;
    height: 11px;
    background-color: #61676b;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.post__text {
    margin-bottom: 20px;
}
.post__attachments {
    margin-left: -42px;
    margin-right: -42px;
    margin-bottom: 20px;
}

.post__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #676B77;
    /*padding-bottom: 20px;*/
    /*border-bottom: 1px solid #e3e3e3;*/
    /*margin-bottom: 25px;*/
}

.post__reactions-holder {
    display: flex;
    align-items: center;
    font-size: 45px;
    line-height: 1;
}

.post-reactions {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 10px;
}
.post-reactions__item {
    position: relative;
}
.post-reactions__img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.post-reactions__item:not(:last-child) {
    margin-left: -10px;
}
.post__meta-items {
    display: flex;
}
.post__meta-item + .post__meta-item {
    margin-left: 20px;
}
.bordered-post {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e3e3e3;
}
.post__tools {
    font-size: 42px;
    color: #6a6e7a;
    display: flex;
    justify-content: space-between;
}
.post__views {
    color: rgb(93, 103, 112);
}
.post__tool {
    display: flex;
    align-items: center;
}
.post__tool--blue {
    color: #4080FF;
}
.post__tool-img {
    margin-right: 10px;
}
.post__tool:first-child {
    position: relative;
    padding-left: 60px;
}
.post__tool:first-child .post__tool-img {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
}
.icon-like {
    width: 48px;
}
.post-tile {
    columns: 2;
    column-gap: 16px;
}

.post-tile__item {
    background-color: #B3B3B3;
    margin-bottom: 16px;
    height: 335px;
}
.post-tile__item:nth-child(2), .post-tile__item:last-child {
    margin-bottom: 0;
}
.post-tile__item--big {
    height: 511px;
}
.post-tile__img {
    height: inherit;
    width: 100%;
    object-fit: cover;
}
.post-video__holder {
    position: relative;
}
.post-video__icon {
    position: absolute;
    bottom: 30px;
    right: 42px;
}
.post-video__panel {
    background-color: #EFF1F3;
    text-align: right;
    padding: 40px 42px;
}
.post-button {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid #939599;
    padding: 20px 30px;
    color: #54555a;
}
.post__shared {
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 25px 42px;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
}
.post__shared .post__tools {
    margin-left: -22px;
    margin-right: -22px;
}
.post-check-in {
    display: flex;
    align-items: center;
    padding: 30px 42px;
    background-color: #EFF1F3;
}
.post-check-in__avatar {
    width: 120px;
    height: 120px;
    margin-right: 25px;
}
.post-check-in__type {
    font-weight: 300;
}
.post-check-in__btn {
    margin-left: auto;
}

.fb-panel {
    background-color: #fff;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    flex-shrink: 0;
}
.fb-panel__img {
    vertical-align: middle;
}



.comment-screen {
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.comment-screen__container {
    overflow: auto;
    scroll-behavior: smooth;
    flex-grow: 1;
}
.comment-screen__container::-webkit-scrollbar {
    display: none;
}
.post-comments {
    border-top: 1px solid #e3e3e3;
    padding: 50px 115px 50px 41px;
}
.post-comment {
    display: flex;
}
.post-comment + .post-comment {
    margin-top: 50px;
}
.post-comment__avatar {
    width: 120px;
    height: 120px;
    margin-right: 25px;
    flex-shrink: 0;
}
.post-comment__avatar--small {
    width: 70px;
    height: 70px;
}
.post-comment__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post-comment__bubble {
    border-radius: 65px;
    padding: 30px 45px;
    background-color: rgb(240, 241, 243);
    position: relative;
}
.post-comment__text {
    word-break: break-word;
}
.post-comment__name {
    display: block;
    margin-bottom: 10px;
    font-size: .85em;
}
.post-comment__likes {
    white-space: nowrap;
    position: absolute;
    bottom: 27px;
    right: -80px;
    border-radius: 45px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .12);
    padding: 1px 10px 1px 1px;
}
.post-comment__meta {
    display: flex;
    color: rgb(127, 126, 130);
    font-size: 38px;
}
.post-comment__meta-container {
    display: flex;
    align-items: center;
}
.post-comment__meta-time {
    font-weight: 300;
}
.post-comment-meta-list {
    display: flex;
    margin-left: 45px;
    font-weight: 500;
    color: rgb(96, 103, 112);
}
.post-comment-meta-list__item + .post-comment-meta-list__item {
    margin-left: 45px;
}
.post-comment-meta-list__item--blue {
    color: rgb(66, 109, 178);
}
.post-comment__replies {
    margin-top: 40px;
}
.scrollable-wrapper {
    overflow: auto;
}



.write-comment {
    /*flex-shrink: 0;*/
    /*padding: 17px 33px 37px 45px;*/
    /*color: rgb(99, 100, 106);*/
    /*background-color: rgb(246, 247, 248);*/
    will-change: margin;
    transition: margin .323s;
    position: relative;
}
.write-comment__reply {
    color:rgb(153, 152, 156);
    padding: 20px 42px;
    border-top: 1px solid rgb(237, 237, 237);
    position: relative;
}
.write-comment__reply-close {
    background: none;
    border: 0;
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(146, 146, 157);
}
.write-comment__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    padding: 17px 33px 37px 45px;
    color: rgb(99, 100, 106);
    background-color: rgb(246, 247, 248);
}
.icon-camera {
    width: 61px;
}
.write-comment__group {
    display: flex;
    align-items: center;
}
.write-comment__attachments {
    display: flex;
    align-items: center;
}
.write-comment__attachment + .write-comment__attachment {
    margin-left: 40px;
}
.write-comment__img {
    vertical-align: middle;
}
.write-comment__send {
    margin-left: 70px;
}
.comment-screen .message-text {
    flex-grow: 1;
    font-size: 54px;
    height: 90px;
    background-color: transparent;
    padding: 27px 10px 0 50px;
    border: none;
    outline: none;
    max-height: 320px;
    margin-right: 20px;
    resize: none;
}

.write-comment .keyboard-holder {
    left: 0;
}
.comment-screen .keyboard-holder img {
    vertical-align: baseline;
}





.new-publication-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: 55px;
    will-change: transform;
}
.new-publication-screen-header {
    font-size: 50px;
    background-color: rgb(244, 247, 249);
    padding: 87px 42px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(217, 217, 217);
    flex-shrink: 0;
}
.new-publication-screen-header__cancel, .new-publication-screen-header__share {
    color: rgb(30, 161, 243);
}
.new-publication-screen-header__avatar {
    text-align: right;
}
.new-publication-screen-header__title {
    text-align: center;
}
.new-publication-screen__main {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 224px;
}
.new-publication-screen__main--with-active-keyboard {
    padding-bottom: 854px;
}
.new-publication-screen__main::-webkit-scrollbar {
    display: none;
}
.new-publication-screen-header__caption {
    font-size: 34px;
    color: rgb(119, 119, 119);
    line-height: 36px;
    min-height: 40px;
}
.chevron {
    vertical-align: middle;
}
.new-post {
    padding: 30px 42px 0;
    overflow: auto;
}
.new-post__back {
    width: 100px;
    background: none;
    border: none;
    outline: none;
}
.new-post__head-wrapper > div {
    display: flex;
}
.new-post__head {
    display: flex;
}
.new-post__avatar {
    margin-right: 30px;
    width: 137px;
    height: 137px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}
.new-post__avatar-img {
    width: 100%;
    height: auto;
}
.new-post__name {
    margin-bottom: 20px;
}
.new-post__tools {
    display: flex;
}
.new-post-tool {
    border: 2px solid rgb(190, 190, 190);
    border-radius: 17px;
    color: rgb(152, 155, 166);
    position: relative;
    padding: 8px 70px 8px 22px;
    font-size: 38px;
    text-align: center;
    white-space: nowrap;
}
.new-post-tool:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: rgb(152, 155, 166) transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 31px;
}
/*.new-post-tool:before {*/
/*position: absolute;*/
/*left: 20px;*/
/*}*/
.new-post-tool--globe:before {
    content: '';
    background: url(../img/globe-light-gray.svg) no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}
.new-post-tool--plus:before {
    content: '+';
    font-weight: 100;
    font-size: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    top: -4px;
    line-height: 0.9;
}
.new-post-tool + .new-post-tool {
    margin-left: 15px;
}



.new-post__message {
    height: 150px;
    font-size: 46px;
    padding: 40px 0;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
.comment-screen .message-text::placeholder {
    color: rgb(152, 155, 166);
}
.comment-screen .message-text--fz-small {
    font-size: 50px;
}


.keyboard-additional {
    font-size: 42px;
    border-radius: 26px 26px 0 0;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 74px 45px 45px;
}

.keyboard-additional:not(.keyboard-additional--without-grip):before {
    content: '';
    width: 141px;
    height: 22px;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}
.keyboard-additional__icons {
    display: flex;
}
.keyboard-additional__icon + .keyboard-additional__icon {
    margin-left: 50px;
}

.keyboard-wrapper {
    flex-shrink: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.keyboard-wrapper .keyboard-holder {
    position: static;
}

.new-post-attachment {
    position: relative;
}
.new-post-attachment__edit {
    position: absolute;
    left: 55px;
    top: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.new-post-attachment__edit-img {
    margin-right: 10px;
}
.new-post-attachment__remove {
    position: absolute;
    top: 40px;
    right: 45px;
    background: none;
    border: none;
}




.share-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.share-popup {
    background-color: #fff;
    border-radius: 40px 40px 0 0;
    position: relative;
}
.share-popup__full-screen {
    position: absolute;
    top: 20px;
    right: 35px;
}
.with-grip {
    position: relative;
}
.with-grip:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);
    height: 15px;
    width: 180px;
}
.share-popup__button-holder {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}
.share-popup__button {
    border: none;
    outline: none;
    color: #fff;
    padding: 30px 70px;
    font-size: 50px;
    border-radius: 10px;
    background-color: rgb(74, 141, 250);
}
.share-popup-list {
    font-size: 55px;
    padding: 60px 30px;
    border-top: 2px solid #ced0d4;
}
.share-popup-list__icon {
    width: 58px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.share-popup-list__item {
    padding-left: 88px;
    position: relative;
}
.share-popup-list__item + .share-popup-list__item {
    margin-top: 100px;
}
.share-popup-wrapper {
    will-change: transform;
}
.share-popup-wrapper .keyboard-holder {
    position: static;
    margin-top: -364px;
}
.share-popup-inner {
    will-change: transform;
}


.privacy-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.privacy-popup__head {
    background-color: rgb(251, 250, 254);
    display: flex;
    border-radius: 40px 40px 0 0;
    justify-content: space-between;
    padding: 40px 42px;
    font-size: 50px;
    white-space: nowrap;
    border-bottom: 1px solid rgb(224, 222, 224);
}
.privacy-popup__main {
    padding-top: 70px;
    background-color: #fff;
}
.privacy-popup__button {
    color: rgb(48, 136, 252);
}

.privacy-popup__caption {
    margin-bottom: 50px;
    padding: 0 42px;
    font-size: 50px;
}

.privacy-popup-list__item + .privacy-popup-list__item {
    border-top: 1px solid rgb(237, 235, 238);
}
.privacy-popup__more {
    border-top: 1px solid rgb(237, 235, 238);
    padding: 30px 150px;
    font-size: 50px;
}


.facebook-rounded-radiobutton {
    font-size: 55px;
    padding: 30px 30px;
    display: block;
}
.facebook-rounded-radiobutton__holder {
    display: flex;
    position: relative;
    align-items: center;
}
.facebook-rounded-radiobutton__holder:before {
    content: '';
    width: 80px;
    height: 80px;
    border: 2px solid rgb(203, 202, 207);
    margin-right: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}
.facebook-rounded-radiobutton__holder:after {
    content: '';
    width: 50px;
    height: 100px;
    background: url(../img/checked.svg) no-repeat 50% 50%;
    background-size: contain;
    display: none;
    position: absolute;
    left: 15px;
    top: 15px;
}
.facebook-rounded-radiobutton__input {
    display: none;
}
.facebook-rounded-radiobutton__input:checked + .facebook-rounded-radiobutton__holder:before {
    background-color: rgb(87, 144, 252);
    border-color: rgb(87, 144, 252);
}
.facebook-rounded-radiobutton__input:checked + .facebook-rounded-radiobutton__holder:after {
    display: block;
}
.facebook-rounded-radiobutton__caption {
    font-size: .8em;
    color: rgb(159, 160, 174);
}











.new-post-screen__main {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


.new-post-screen .message-text {
    height: 450px;
    font-size: 68px;
    padding: 40px 0;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
.new-post-screen .new-post {
    min-height: 675px;
}
.new-post-screen .message-text::placeholder {
    color: rgb(152, 155, 166);
}
.new-post-screen .message-text--fz-small {
    font-size: 50px;
}
.keyboard-tools {
    margin-bottom: 20px;
}
.attachments {
    max-height: 1050px;
}
.attachments {
    padding-top: 60px;
    border-radius: 40px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}
.attachments:before, .keyboard-additional:before {
    content: '';
    width: 141px;
    height: 22px;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.attachments__item {
    display: flex;
    padding: 54px 45px 54px 175px;
    position: relative;
}
.attachments__item + .attachments__item {
    border-top: 3px solid rgb(231, 231, 231);
}
.attachments__icon {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
}



/*
    Vue Animations
*/
.slide-enter-active, .slide-leave-active {
    transition: transform .3s;
}
.slide-leave-active {
    transition: transform .5s;
    transform: translateX(-50%);
}
.slide-enter {
    transform: translateX(100%);
}



.slide-reverse-enter-active, .slide-reverse-leave-active {
    transition: transform .3s;
}
.slide-reverse-leave-active {
    transition: transform .15s;
    transform: translateX(100%);
}
.slide-reverse-enter {
    transform: translateX(-90%);
}




.new-publication-screen.slide-bottom-enter-active,
.keyboard-holder.slide-bottom-enter-active,
.keyboard-holder.slide-bottom-leave-active,
.new-publication-screen.slide-bottom-leave-active {
    transition: transform .3s;
}
.new-publication-screen.slide-bottom-enter,
.keyboard-holder.slide-bottom-enter {
    transform: translateY(100%);
}
.keyboard-holder.slide-bottom-leave-active,
.new-publication-screen.slide-bottom-leave-active {
    transform: translateY(100%);
    position: absolute;
}
.slide-bottom-move {
    transition: transform .3s;
}




.slide-back-button-enter-active, .slide-back-button-leave-active {
    transition: transform .3s, opacity .25s;
}
.slide-back-button-leave-active {
    transition: transform .3s;
    transform: translateX(-100%);
    opacity: .1;
    position: absolute;
}
.slide-back-button-enter {
    transform: translateX(-100%);
}
.slide-back-button-move {
    transition: transform .3s;
}



.slide-popup-enter-active, .slide-popup-leave-active {
    transition: transform .25s;
}
.slide-popup-enter {
    transform: translateY(-100%);
}
.slide-popup-leave-active {
    transform: translateY(-100%);
}




.fade-slide-popup-enter-active.share-popup-overlay,
.fade-slide-popup-leave-active.share-popup-overlay {
    transition: opacity .25s;
}

.fade-slide-popup-enter.share-popup-overlay {
    opacity: .1;
}
.fade-slide-popup-leave-active.share-popup-overlay {
    opacity: .1;
}

.fade-slide-popup-enter-active .share-popup-wrapper,
.fade-slide-popup-leave-active .share-popup-wrapper {
    transition: transform .25s;
}

.fade-slide-popup-enter .share-popup-wrapper {
    transform: translateY(100%);
}
.fade-slide-popup-leave-active .share-popup-wrapper {
    transform: translateY(100%);
}




.keyboard-slide-enter {
    transform: translateY(100%);
}
.keyboard-slide-move {
    transition: transform .3s;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .15s;
}

.fade-enter, .fade-leave-active {
    opacity: .1;
}


.like-leave-active {
    transition: opacity .1s;
}
.like-leave-active {
    opacity: .2;
}
.icon-like-active.like-enter-active {
    animation: rotate-scale .3s;
}






.slide-fade-enter-active, .slide-fade-leave-active {
    transition: transform .15s, opacity .15s;
}
.attachments.slide-fade-leave-active {
    transform: translateY(200px);
    opacity: 0;
}
.slide-fade-enter {
    transform: translateY(100%);
    opacity: 0;
}




/*
    End Vue Animations
*/

@keyframes rotate-scale {
    0% {
        transform: rotate(0) scale(1);
    }
    30% {
        transform: rotate(-15deg) scale(1.2);
    }
    75% {
        transform: rotate(0) scale(1.05);
    }
    100% {
        transform: rotate(0);
    }
}
