<template>
  <main class="main">

    <div class="interesting card">
      <p class="interesting__title">Интересные мероприятия поблизости</p>
      <ul class="interesting-list">
        <li class="interesting-item">
          <figure class="interesting-item__icon">
            <img src="../assets/main/icon-sun-white.svg" alt="">
          </figure>
          <span class="interesting-item__name">Сегодня</span>
        </li>
        <li class="interesting-item">
          <figure class="interesting-item__icon">
            <img src="../assets/main/icon-sun-brown.svg" alt="">
          </figure>
          <span class="interesting-item__name">Завтра</span>
        </li>
        <li class="interesting-item">
          <figure class="interesting-item__icon">
            <img src="../assets/main/icon-calendar.svg" alt="">
          </figure>
          <span class="interesting-item__name">На этой неделе</span>
        </li>
      </ul>
    </div>

    <div class="recommended card">
      <p class="recommended__title">Рекомендуемое вам</p>
      <swiper :options="swiperOption"  class="recommended-slider">
        <swiper-slide v-for="(i, index) in 3" class="recommended-slide" :key="i">
          <figure class="recommended-slide__container">
            <img v-if="screenSettings.recommendedGallery[index].image"
              :src="screenSettings.recommendedGallery[index].image" alt="" class="recommended-slide__img">
            <img v-else src="../assets/main/gallery-img01.jpg" alt="" class="recommended-slide__img">
            <figcaption class="recommended-slide__caption">
              <div class="recommended-slide__title">{{ screenSettings.recommendedGallery[index].title }}</div>
              <p class="recommended-slide__description">
                {{ screenSettings.recommendedGallery[index].descr }}
              </p>
            </figcaption>
          </figure>
          <ul class="recommended-slide__tools">
            <li class="recommended-slide__tool">
              <img src="../assets/main/icon-interesting.svg" alt="" class="recommended-slide__tool-img">
              Интересует
            </li>
            <li class="recommended-slide__tool">
              <img src="../assets/main/icon-share.svg" alt="" class="recommended-slide__tool-img">
              Поделиться
            </li>
          </ul>
        </swiper-slide>
      </swiper>
    </div>

  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
  name: 'EventMain',
  components: {
    swiper,
    swiperSlide
  },
  data () {
    return {
      swiperOption: {
        speed: 400,
        spaceBetween: 60,
        slidesPerView: 1.333,
        slidesOffsetBefore: 36,
        slidesOffsetAfter: 36
      }
    }
  },
  computed: {
    ...mapGetters([
      'screenSettings'
    ])
  }
}
</script>

<style scoped lang="scss">
  .card {
    background-color: #fff;
  }

  .card + .card {
    margin-top: 20px;
  }

  .main {
    flex-grow: 1;
    overflow: auto;
    padding-top: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .interesting {
    padding: 36px;
    &__title {
      margin-bottom: 30px;
    }
  }

  .interesting-list {
    display: flex;
    justify-content: space-between;
  }

  .interesting-item {
    border-radius: 8px;
    padding: 12px 25px 33px;
    width: 299px;
    height: 325px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:first-child {
      background-color: #4167B2;
    }
    &:nth-child(2) {
      background-color: #FBD872;
      color: #6D4E2F;
    }
    &:last-child {
      background-color: #E04D60;
    }
  }

  .recommended {
    padding: 36px 0 36px;
    &__title {
      margin-bottom: 5px;
      padding-left: 36px;
    }
  }

  .recommended-slider {
    padding: 20px 0;
  }

  .recommended-slide {
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    &__img {
      object-fit: cover;
      width: 100%;
      height: 429px;
    }
    &__title {
      color: #E04D60;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__caption {
      padding: 20px 35px;
      border-bottom: 1px solid #D9D9D9;
    }
    &__tools {
      display: flex;
      justify-content: space-between;
      padding: 25px 35px;
      color: #61676B;
    }
    &__tool {
      display: flex;
      align-items: center;
    }
    &__tool-img {
      margin-right: 15px;
    }
  }
</style>
