<template>
  <div class="event-screen">
    <div class="event-screen-head">
      <button class="event-screen-head__back fb-txt-button">
        <img src="../assets/event-screen/back.svg" alt="">
      </button>
      <div class="event-screen-head__search">
        Поиск
      </div>
      <span class="event-screen-head__message">
        <img src="../assets/event-screen/message.svg" alt="">
      </span>
    </div>

    <div class="event-bar card">
      <div class="event-bar__top">
        <div class="event-bar-time">
          <div class="event-bar-time">
            <div class="event-bar-time__top">
              {{ eventMonth }}
            </div>
            <div class="event-bar-time__bottom">
              {{ eventDate }}
            </div>
          </div>
        </div>
        <div class="event-bar-main-info">
          <div class="event-bar-main-info__name">
            {{ eventName }}
          </div>
          <div class="event-bar-main-info__type">
            {{ selectedEventType }} • Author Name
          </div>
        </div>
      </div>
      <ul class="event-bar__tools event-bar-tools">
        <li class="event-bar-tools__item">
          <figure class="event-bar-tools__icon-holder">
            <img src="../assets/event-screen/edit.svg" class="event-bar-tools__icon" alt="">
          </figure>
          Редактировать
        </li>
        <li class="event-bar-tools__item">
          <figure class="event-bar-tools__icon-holder">
            <img src="../assets/event-screen/email.svg" class="event-bar-tools__icon" alt="">
          </figure>
          Пригласить
        </li>
        <li class="event-bar-tools__item">
          <figure class="event-bar-tools__icon-holder">
            <img src="../assets/event-screen/more.svg" class="event-bar-tools__icon" alt="">
          </figure>
          Ещё
        </li>
      </ul>
      <ul class="event-bar__info event-bar-info">
        <li class="event-bar-info__row">
          <figure class="event-bar-info__icon">
            <img src="../assets/event-screen/time.svg" alt="">
          </figure>
          <div class="event-bar-info__title">
            {{ eventDay }}, {{ eventTime.resultDate }} в {{ eventTime.hours }}:{{ eventTime.minutes }}
          </div>
        </li>
        <li class="event-bar-info__row" v-if="eventPlace.place">
          <figure class="event-bar-info__icon">
            <img src="../assets/event-screen/pin.svg" alt="">
          </figure>
          <div class="event-bar-info__title">
            {{ eventPlace.place }}
          </div>
        </li>
      </ul>
    </div>

    <div class="create-comment card">
      <figure class="create-comment__avatar-holder">
        <img :src="screenSettings.avatar" class="create-comment__img flexible-img" alt="">
      </figure>
      <div class="create-comment__text">
        Напишите что-нибудь...
      </div>
    </div>

    <div class="event-meta card">
      <ul class="event-meta__statistic">
        <li class="event-meta__item">
          <div class="event-meta__caption">Пойдут</div>
          <span class="event-meta__count">
            1
          </span>
        </li>
        <li class="event-meta__item">
          <div class="event-meta__caption">Возможно</div>
          <span class="event-meta__count">
            0
          </span>
        </li>
        <li class="event-meta__item">
          <div class="event-meta__caption">Приглашенные</div>
          <span class="event-meta__count">
            0
          </span>
        </li>
      </ul>
      <div class="event-meta__invite">
        <img src="../assets/event-screen/email-blue.svg" class="event-meta__icon" alt="">
        Пригласить друзей
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ru } from 'vuejs-datepicker/dist/locale'
import { days } from './days'

export default {
  name: 'EventScreen',
  computed: {
    ...mapGetters([
      'eventName',
      'eventTime',
      'eventPlace',
      'selectedEventType',
      'screenSettings'
    ]),
    eventMonth () {
      return ru._months[this.eventTime.date.getMonth()]
    },
    eventDate () {
      return this.eventTime.date.getDate()
    },
    eventDay () {
      return days.ru[this.eventTime.date.getDay()]
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../styles/variables';

  .event-screen {
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card {
    background-color: #fff;
    & + & {
      margin-top: 40px;
    }
  }

  .event-screen-head {
    background-color: $fbPrimaryColor;
    padding: 80px 45px 30px;
    display: flex;
    align-items: center;
    color: #869CC4;
    &__back {
      margin-right: 50px;
    }
    &__message {
      margin-left: 40px;
    }
    &__search {
      flex-grow: 1;
      border-radius: 48px;
      padding: 15px 25px 15px 125px;
      background: transparentize(#000, .8) url(../assets/event-screen/search.svg) no-repeat 40px 50%;
    }
  }

  .event-bar {
    background-color: #fff;
    padding-top: 45px;
    &__top {
      display: flex;
      padding: 0 45px 45px;
      border-bottom: 1px solid rgb(225, 225, 228);
    }
  }

  .event-bar-time {
    text-align: center;
    margin-right: 40px;
    &__top {
      color: rgb(219, 85, 86);
      font-size: .85em;
      text-transform: uppercase;
    }
    &__bottom {
      font-size: 70px;
    }
  }

  .event-bar-main-info {
    &__name {
      font-size: 70px;
    }
    &__type {
      text-transform: capitalize;
      color: rgb(152, 150, 152);
    }
  }

  .event-bar-tools {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 42px;
    color: rgb(115, 114, 121);
    padding: 30px 0;
    border-bottom: 1px solid rgb(225, 225, 228);
    &__item {
      width: 29%;
      padding:  0 20px;
    }
    &__icon-holder {
      width: 73px;
      margin: 0 auto 20px;
    }
  }

  .event-bar-info {
    padding: 35px 45px;
    &__row {
      display: flex;
      align-items: center;
      & + & {
        margin-top: 40px;
      }
    }
    &__icon {
      margin-right: 40px;
    }
    &__title {
      color: #000;
    }
  }

  .create-comment {
    display: flex;
    align-items: center;
    padding: 35px 45px;
    font-size: 55px;
    &__avatar-holder {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #ccc;
      margin-right: 40px;
    }
  }

  .event-meta {
    padding: 25px 0 45px;
    &__statistic {
      display: flex;
      padding: 0 45px 30px;
      border-bottom: 1px solid rgb(225, 225, 228);
      margin-bottom: 40px;
    }
    &__item {
      & + & {
        margin-left: 90px;
      }
    }
    &__caption {
      text-transform: uppercase;
      color: rgb(136, 134, 136);
      font-size: 38px;
      margin-bottom: 15px;
    }
    &__count {
      color: $fbPrimaryColor;
      font-size: 70px;
      font-weight: 300;
    }
    &__invite {
      text-align: center;
      color: $fbPrimaryColor;
    }
    &__icon {
      width: 70px;
    }
  }
</style>
