<template>
  <ul class="fb-panel">
    <li class="fb-panel__item">
      <img src="../assets/main/card.svg" class="fb-panel__img" alt="">
    </li>
    <li class="fb-panel__item">
      <img src="../assets/main/friends.svg" class="fb-panel__img" alt="">
    </li>
    <li class="fb-panel__item">
      <img src="../assets/main/bell.svg" class="fb-panel__img" alt="">
    </li>
    <li class="fb-panel__item">
      <img src="../assets/main/menu.svg" class="fb-panel__img" alt="">
    </li>
  </ul>
</template>

<script>
export default {
  name: 'FbPanel'
}
</script>

<style scoped lang="scss">
  .fb-panel {
    background-color: #fff;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    flex-shrink: 0;
    &__img {
      vertical-align: middle;
    }
  }
</style>
