<template>
  <div class="modal-overlay">
    <transition name="fade">
      <div v-if="modalIsVisible" class="modal-overlay__container" @click="hideModal">
        <slot></slot>
      </div>
    </transition>
    <slot></slot>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ModalOverlay',
  computed: {
    ...mapGetters([
      'modalIsVisible'
    ])
  },
  methods: {
    ...mapActions([
      'hideModal'
    ])
  }
}
</script>

<style scoped lang="scss">
  .fade-enter-active {
    transition: opacity .9s ease;
  }
  .fade-enter, .fade-leave {
    opacity: .3;
  }

  .modal-overlay {
    &__container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparentize(#000, .4);
     }
  }
</style>
