*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flexible-img {
    width: 100%;
    height: auto;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.header {
    background-color: rgb(247, 247, 247);
    padding: 39px 60px 39px 42px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__back {
    font-size: 40px;
    color: rgb(0, 122, 255);
    margin-right: 85px;
}

.chevron {
    width: 36px;
    vertical-align: middle;
}

.header__title {
    display: flex;
    align-items: center;
}
.header__title-container {
    max-width: 850px;
}
.header__title-container--short {
    max-width: 510px;
}
.header__avatar {
    width: 106px;
    height: 106px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 40px;
}


.header__name, .header__caption {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header__name {
    font-size: 43px;
    letter-spacing: -1.2px;
    line-height: 60px;
    font-weight: 700;
}

.header__caption {
    font-size: 37px;
    line-height: 44px;
    min-height: 40px;
    color: rgb(167, 167, 167);
}

.header__tools {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header__tool + .header__tool {
    margin-left: 55px;
}
.header__tool {
    width: 60px;
}
.header__tool:first-child {
    width: 70px;
}

.main {
    padding-top: 193px;
    height: 100%;
    background: url('../img/chat_background.png');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 55px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    overflow: auto;
    font-size: 50px;
}
.bubble-holder {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    flex-shrink: 0;
    position: relative;
}
.bubble-holder.is-notification {
    align-self: center;
    text-align: center;
}
.bubble-holder.is-notification .bubble {
    background-color: rgb(209, 234, 249);
    border-radius: 60px;
    max-width: 940px;
}
.bubble-avatar {
    margin-right: 20px;
}
.bubble-holder .bubble {
    margin-bottom: 0;
    max-width: 780px;
}
.is-last:not(.is-outgoing):not(.is-notification):before,
.is-last.is-outgoing:before {
    content: '';
    width: 36px;
    position: absolute;
}
.is-last:not(.is-outgoing):before {
    background: url(../img/bubble-incomming.png) no-repeat;
    left: -22px;
    bottom: 8px;
    z-index: 1;
    height: 43px;
}
.bubble-holder.is-outgoing {
    align-self: flex-end;
}
.is-last.is-outgoing:before {
    background: url(../img/bubble-outgoing.png) no-repeat;
    right: -32px;
    bottom: 8px;
    height: 49px;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}
.bubble {
    background-color: #FCFBFB;
    padding: 18px 19px;
    max-width: 973px;
    border-radius: 17px;
    margin-bottom: 30px;
    box-shadow: 3px 5px 12px -1px rgba(0,0,0,0.1);
    position: relative;
}
.is-outgoing .bubble {
    box-shadow: -8px 5px 12px -1px rgba(0,0,0,0.1);
    padding-right: 100px;
    background-color: #DCF8C6;
}
.with-time .bubble {
    padding-bottom: 54px;
    min-width: 215px;
}
.with-time .is-outgoing .bubble {
    padding-right: 200px;
}
.bubble__meta {
    position: absolute;
    right: 27px;
    bottom: 13px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.bubble__sending-status {
    width: 41px;
    /*height: 26px;*/

}
.bubble__title {
    font-size: .9em;
    font-weight: 700;
    color: rgb(63, 136, 196);
}
.bubble__time {
    font-size: 36px;
    color: #AEAEAE;
}
.bubble__time + .bubble__sending-status {
    margin-left: 20px;
}
.bubbles-list > * {
    margin-bottom: 30px;
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 400px;
    width: 556px;
}

.input-bar-wrapper {
    will-change: margin;
    transition: margin .323s;
    position: relative;
    flex-shrink: 0;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    padding: 20px 40px;
    display: flex;
    align-items: flex-end;
    background-color: rgb(250, 250, 250);
}


.input-bar__smile {
    margin-right: 30px;
}

.message-text {
    width: 619px;
    max-height: 350px;
    height: 90px;
    resize: none;
    outline: none;
    font-size: 48px;
    font-family: sans-serif;
    padding: 20px 28px;
    border-radius: 50px;
    background: transparent;
    border: 3px solid rgb(221, 221, 221);
    caret-color: rgb(82, 165, 231);
    /*position: absolute;*/
    /*left: 120px;*/
    transition: width .3s;
}

.message-text.is-expanded {
    width: 800px;
}

.input-bar__add {
    margin-bottom: 7px;
    margin-right: 30px;
}

.input-bar__sending-tools {
    /*width: 170px;*/
    justify-content: flex-end;
    position: absolute;
    right: 40px;
}

.input-bar__send {
    text-align: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #007AFF;
    padding: 17px 10px 17px 20px;
    margin-bottom: 10px;
}

.send {
    width: 100%;
    height: auto;
}

.input-bar__group {
    display: flex;
    width: 240px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mic {
    height: 100%;
}





/*
    Vue Animations
*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}



.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/











/*
    CSS Animations
*/
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.typing span {
    font-size: .5em;
    vertical-align: middle;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}