<template>
  <div class="create-public-event">
    <CreateEventHead
      :is-disabled="!eventTitle.length"
      @cancel-was-clicked="hideModal('showCreateEventPopup')"
      @create-was-clicked="createEvent" />
    <div class="create-public-event__main">
      <CreateEventName
        class="card"
        v-model="eventTitle"
        @input-was-focused="textareaWasFocused = true"
        @input-was-blurred="textareaWasFocused = false" />

      <div class="user-name card">
        <figure class="user-name__avatar">
          <img v-if="screenSettings.avatar" :src="screenSettings.avatar" class="user-name__img" alt="">
          <img v-else src="../../assets/create-event/avatar.jpg" class="user-name__img" alt="">
        </figure>
        <div class="user-name__container">
          <div class="user-name__name">{{ screenSettings.name }}</div>
          <span class="user-name__caption">организатор</span>
        </div>
        <img src="../../assets/create-event/right-arrow.svg" alt="" class="arrow">
      </div>

      <CreateEventInfo class="card" />

      <div class="info-item card">
        Организаторы
        <img src="../../assets/create-event/right-arrow.svg" alt="" class="arrow">
      </div>

      <div class="tool card">
        <p class="tool__text">
          Публикакции и истории должны быть одобрены администратором
        </p>
        <label class="toggle">
          <input type="checkbox">
          <span class="slide-toggle"></span>
        </label>
      </div>
    </div>

    <transition name="keyboard-slide">
        <IosKeyboard v-if="textareaWasFocused" />
    </transition>

    <transition name="slide-bottom">
      <EventDateModal v-if="datePopupIsVisible" />
    </transition>

    <transition name="slide-bottom">
      <EventPlaceModal v-if="placePopupIsVisible" />
    </transition>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CreateEventHead from '../CreateEventCommon/CreateEventHead'
import IosKeyboard from '@quadrupleNestingCommon/ios-keyboard/vue-ios-keyboard'
import CreateEventName from '../CreateEventCommon/CreateEventName'
import CreateEventInfo from '../CreateEventCommon/CreateEventInfo'
import EventDateModal from '../EventInfoModals/EventDateModal'
import EventPlaceModal from '../EventInfoModals/EventPlaceModal'

export default {
  name: 'CreatePublicEvent',
  components: {
    CreateEventHead,
    IosKeyboard,
    CreateEventName,
    CreateEventInfo,
    EventDateModal,
    EventPlaceModal
  },
  data () {
    return {
      eventTitle: '',
      textareaWasFocused: false
    }
  },
  computed: {
    ...mapGetters([
      'showCreateEventPopup',
      'placePopupIsVisible',
      'datePopupIsVisible',
      'screenSettings'
    ])
  },
  methods: {
    ...mapActions([
      'hideModal',
      'showModal',
      'setEventName'
    ]),
    showKeyboard () {
      this.textareaWasFocused = true
    },
    createEvent () {
      this.hideModal('showCreateEventPopup')
      this.showModal('eventScreenIsVisible')
      this.setEventName(this.eventTitle)
    }
  }
}
</script>

<style scoped lang="scss">
  .card {
    background-color: #fff;
    & + & {
      margin-top: 38px;
    }
  }

  .create-public-event {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F7F9;
    display: flex;
    flex-direction: column;
    &__main {
      overflow: auto;
      flex-grow: 1;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .ce-head {
    flex-shrink: 0;
  }

  .user-name {
    display: flex;
    align-items: center;
    padding: 20px 39px;
    &__avatar {
      width: 132px;
      height: 122px;
    }
    &__img {
      object-fit: cover;
      width: 100%;
      height: 120px;
    }
    &__container {
      margin-left: 20px;
    }
    &__name {
      font-size: 55px;
    }
    &__caption {
      color: #AEAEAE;
    }
  }

  .arrow {
    margin-left: auto;
  }

  .info-item {
    display: flex;
    align-items: center;
    padding: 25px 39px;
  }

  .tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 39px;
    &__description {
      margin-right: 40px;
    }
  }

  .keyboard-holder {
    position: static;
    flex-shrink: 0;
  }
</style>
