@font-face {
    font-family: 'Neue Helvetica';
    src: url(../fonts/HelveticaNeue.woff) format('woff2'),
    url(../fonts/HelveticaNeue.woff2) format('woff');
}

*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flexible-img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 46px;
    font-family: Neue Helvetica, Helvetica, Arial, serif;;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.comments-header {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .15);
    padding: 70px 31px 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header {
    background-color: rgb(250, 250, 250);
    padding: 50px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__tools {
    display: flex;
}
.header__tool + .header__tool {
    margin-left: 55px;
}
.header__name {
    font-size: 65px;
}


.main {
    padding-top: 193px;
    padding-bottom: 107px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.main__container {
    flex-grow: 1;
    overflow: auto;
}
.main__container::-webkit-scrollbar {
    display: none;
}


.profile-info {
    padding: 40px 40px 60px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.profile-info__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.profile-info__avatar-holder {
    position: relative;
    width: 221px;
    height: 221px;
}
.profile-info__avatar-holder:after {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff url(../img/plus.svg) no-repeat 50% 50%;
    border: 5px solid #fff;
    border-radius: 50%;
}
.profile-info__avatar {
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.profile-info__stats {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 0 20px;
}
.profile-info__stats-holder {
    flex-grow: 1;
    margin-left: 60px;
}
.profile-info__meta {
    padding: 0 20px;
}
.profile-info__count {
    font-size: 55px;
    color: rgb(37, 37, 37);
}
.profile-info__caption {
    font-size: 38px;
    color: rgb(152, 152, 152);
}
.profile-info__button {
    display: block;
    width: 100%;
    font-size: 42px;
    border-radius: 9px;
    padding: 15px 20px 17px;
    border: 3px solid rgb(218, 218, 218);
    font-family: -apple-system, Helvetica, Arial, serif;
    background: none;
    outline: none;
}

.profile-info__description {
    margin-bottom: 20px;
}
.profile-info__name {
    font-size: 46px;
    font-weight: 500;
}
.add-story {
    width: 179px;
    height: 179px;
    border: 1px solid #DADADA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-story__img {
    width: 53px;
    height: 53px;
}


.view-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 111px 35px;
    border-bottom: 3px solid rgb(227, 227, 227);
}



.post {
    padding: 25px 0;
}
.post__author {
    display: flex;
    align-items: center;
    padding: 0 23px;
    margin-bottom: 25px;
    font-size: 55px;
    justify-content: space-between;
}
.post__author-container {
    display: flex;
    align-items: center;
}
.post__avatar {
    width: 76px;
    height: 76px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.post__photo {
    position: relative;
}
.post__like {
    opacity: 0;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    will-change: transform;
}
.post__info {
    padding: 28px;
}
.post__tools {
    display: flex;
    margin-bottom: 25px;
}
.post__tools-item {
    min-width: 64px;
}
.post__tools-item + .post__tools-item {
    margin-left: 40px;
}
.icon-bookmark {
    height: 54px;
}
.post__likes {
    margin-bottom: 18px;
    font-size: 53px;
}
.post__date {
    font-size: 38px;
    color: #929294;
}




.toolbar {
    /*position: absolute;*/
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    /*bottom: -2px;*/
    /*left: 0;*/
    /*right: 0;*/
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
}



.add-new-post {
    font-size: 50px;
    padding: 30px;
    background-color: #03a9f4;
    color: #fff;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}



.comments-screen {
    background-color: #fff;
    margin-top: 181px;
    will-change: transform;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.comments {
    padding: 50px 32px;
    flex-grow: 1;
    overflow: auto;
    scroll-behavior: smooth;
}
.comments::-webkit-scrollbar {
    display: none;
}
.comment {
    display: flex;
}
.comment--small {
    margin-top: 40px;
}
.comment + .comment {
    margin-top: 90px;
}
.comment__avatar {
    width: 108px;
    height: 108px;
    margin-right: 25px;
    flex-shrink: 0;
}
.comment--small .comment__avatar {
    width: 72px;
    height: 72px;
}
.comment__container {
    flex-grow: 1;
}
.comment__inner {
    display: flex;
}
.comment__main {
    margin-right: 30px;
}
.comment__text {
    margin-bottom: 10px;
    word-break: break-word;
}
.comment__bar {
    font-size: 36px;
    color: #949494;
    display: flex;
    align-items: center;
}
.comment__time {
    font-weight: 300;
}
.comment-meta-list {
    font-weight: 500;
}
.comment__like {
    margin-left: auto;
    flex-shrink: 0;
}
.comment__replies {
    margin-top: 50px;
}
.comment-meta-list {
    display: flex;
    margin-left: 40px;
}
.comment-meta-list__item {
    white-space: nowrap;
}
.comment-meta-list__item + .comment-meta-list__item {
    margin-left: 40px;
}
.comments-input .keyboard-holder {
    left: 0;
}

.keyboard-holder img {
    vertical-align: baseline;
}

.comments-input {
    position: relative;
    transition: margin-bottom .3s;
    flex-shrink: 0;
}
.comments-input__reply {
    background-color: rgb(239, 239, 239);
    color: rgb(183, 183, 183);
    position: relative;
    padding: 30px 43px;
    border-top: 1px solid #B1B1B1;
}
.comments-input__reply-close {
    background: none;
    outline: none;
    border: 0;
    font-size: 44px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-family: Helvetica, sans-serif;
}
.comments-input__main {
    display: flex;
    align-items: flex-end;
    padding: 20px 43px;
    border-top: 1px solid #B1B1B1;
}
.comments-input__avatar {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-right: 35px;
    margin-bottom: 13px;
}
.rounded {
    overflow: hidden;
    border-radius: 50%;
}
.comments-input__holder {
    position: relative;
    flex-grow: 1;
}
.comments-input__send {
    position: absolute;
    bottom: 61px;
    right: 30px;
    color: rgb(55, 160, 243);
    border: none;
    font-size: 35px;
    outline: none;
    background: none;
    font-weight: 700;
}
.comments-input__send:disabled {
    opacity: .5;
}
.message-text {
    font-family: -apple-system, Helvetica, Arial, serif;
    border: 2px solid #D7D7D7;
    border-radius: 80px;
    padding: 50px 180px 45px 42px;
    resize: none;
    font-size: 39px;
    height: 150px;
    width: 100%;
    outline: none;
    max-height: 375px;
}
.rus .message-text {
    padding-right: 292px;
}
.message-text::-webkit-scrollbar {
    display: none;
}


.toolbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    bottom: -2px;
    left: 0;
    right: 0;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
}





























/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .1s, opacity .1s;
}
.scale-enter, .scale-leave-active {
    transform: scale(.75);
    opacity: .3;
}



.bounce-enter-to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.bounce-enter-active {
    animation: bounce-in .35s, bounce-out .2s 1s;
}


.slide-enter-active {
    transition: transform .25s;
}
.slide-leave-active {
    transition: transform .25s, opacity .25s;
    transform: translateX(-20%);
}
.slide-enter {
    transform: translateX(100%);
}

.slide-reverse-enter-active {
    transition: transform .25s;
}
.slide-reverse-leave-active {
    transition: transform .45s;
    transform: translateX(100%);
}
.slide-reverse-enter {
    transform: translateX(-100%);
}



.fade-header-enter-active, .fade-header-leave-active {
    transition: opacity .25s;
}
.fade-header-enter, .fade-header-leave-active {
    opacity: .3;
}


.slide-fade-enter-active {
    transition: transform .15s, opacity .15s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}
/*
    End Vue Animations
*/



@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes bounce-out {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(.3);
        opacity: 0;
    }
}
