<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="utf-8"/>
	<meta content="width=1080px, maximum-scale=1.0" name="viewport"/>
	<link href="./img/favicon.png" rel="shortcut icon"/>
	<link href="./css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="page-wrapper" id="app" v-cloak>

	<div class="page-container">

		<header class="top-bar">
			<div class="top-bar__tools">
				<img src="./img/mobile-signal.svg" alt="" class="top-bar__img">
				<img src="./img/wifi.svg" alt="" class="top-bar__img">
			</div>
			<div class="top-bar__time">12:30</div>
			<div class="top-bar__tools">
				<img src="./img/bluetooth.svg" alt="" class="top-bar__img">
				<img src="./img/battery.svg" alt="" class="top-bar__img icon-battery">
			</div>
		</header>

		<div class="main">
			<div class="screen-bar">
				<div class="screen-bar__tool">
					<img src="./img/camera.svg" alt="">
				</div>
				<div class="screen-bar__title">
					Новости
					<img src="./img/chevron.svg" alt="icon-chevron-down">
				</div>
			</div>

			<ul class="posting-tools bordered">
				<li class="posting-tools__item">
					<img src="./img/new-post.svg" alt="" class="posting-tools__img">
					ЗАПИСЬ
				</li>
				<li class="posting-tools__item">
					<img src="./img/ether.svg" alt="" class="posting-tools__img">
					ЭФИР
				</li>
			</ul>

			<ul class="stories bordered">
				<li class="stories__item"
					:class="{ 'stories__item--updated' : story.isUpdated }"
					v-for="story in screenSettings.stories">

					<div class="stories__frame"
							:class="{ 'stories__frame--bordered' : story.isUpdated }">
						<figure class="stories__frame-inner">
							<img :src="story.avatar" alt="" class="stories__img">
						</figure>
					</div>
					{{ story.name }}
				</li>
			</ul>

			<div class="card bordered" v-for="post in screenSettings.posts">
				<div class="card__head">
					<figure class="card__avatar">
						<img :src="post.avatar" alt="" class="card__img">
					</figure>
					<div class="card__head-container">
						<div class="card__author-name">
							{{ post.name }}
						</div>
						<div class="card__time">
							{{ post.time }}
						</div>
					</div>
					<div class="card__more">
						<img src="./img/more.svg" alt="">
					</div>
				</div>
				<p class="card__text">
					{{ post.text }}
				</p>
				<div v-if="post.attachment" class="card__attachment card-attachment">
					<figure class="card-attachment__frame">
						<img :src="post.attachment.img" alt="" class="card__img">
					</figure>
					<div v-if="post.attachment.name && post.attachment.views" class="card-attachment__info">
						<div class="card-attachment__name">
							{{ post.attachment.name }}
						</div>
						<div class="card-attachment__views">
							{{ post.attachment.views }}
						</div>
					</div>
				</div>
				<div class="card__meta">
					<div class="card__meta-top">
						<ul class="card-meta-list">
							<li class="card-meta-list__item"
								:class="{ 'card-meta-list__item--red' : post.isLiked }"
								@click="toggleLike(post)">
								<img v-if="post.isLiked" src="./img/like-active.svg" alt="" class="card-meta-list__img icon-heart">
								<img v-else src="./img/like.svg" alt="" class="card-meta-list__img icon-heart">
								{{ getCount(post.likesCount) }}
							</li>
							<li class="card-meta-list__item">
								<img src="./img/comment.svg" alt="" class="card-meta-list__img">
								{{ getCount(post.commentsCount) }}
							</li>
							<li class="card-meta-list__item">
								<img src="./img/reply.svg" alt="" class="card-meta-list__img">
								{{ getCount(post.repliesCount) }}
							</li>
						</ul>
						<span class="card__views">
							<img src="./img/views.svg" alt="">
							{{ getCount(post.views) }}
						</span>
					</div>
					<div class="card__meta-bottom">
						<ul class="card-friends-likes">
							<li class="card-friends-likes__item"
								v-for="avatar in post.friendsWhoLikesAvatars">
								<img :src="avatar" alt="" class="card__img">
							</li>
						</ul>
						{{ post.friendsWhoLikesCaption }}
					</div>
				</div>
			</div>

		</div>

		<ul class="nav">
			<li class="nav__item">
				<img src="./img/newsfeed.svg" alt="" class="nav__img">
			</li>
			<li class="nav__item">
				<img src="./img/search.svg" alt="" class="nav__img">
			</li>
			<li class="nav__item">
				<img src="./img/messages.svg" alt="" class="nav__img">
				<span v-if="screenSettings.messagesNotificationsCount" class="nav__notification">
					{{ screenSettings.messagesNotificationsCount }}
				</span>
			</li>
			<li class="nav__item">
				<img src="./img/notifications.svg" alt="" class="nav__img">
			</li>
			<li class="nav__item">
				<img src="./img/menu.svg" alt="" class="nav__img">
			</li>
		</ul>


		<loading-overlay v-if="loadingOverlayIsVisible"></loading-overlay>
	</div>

	<div class="tools-col">
		<chat-settings v-model="screenSettings" :database-ref="databaseRef"></chat-settings>
		<button class="button" @click="addNewPost">
			+ add new post
		</button>
	</div>




</div>







<!-- Vue templates -->
<script type="text/x-template" id="chat-settings-template">
	<div class="chat-settings-wrapper">

		<chat-settings-presets
				:inputs="inputs"
				:database-versions-ref="databaseVersionsRef"
				@version-was-selected="selectVersion"
				@version-remove-was-clicked="removeVersion"
				@select-default-was-clicked="selectDefault"></chat-settings-presets>

		<button
				class="chat-settings-button button"
				@click="$modal.show('chat-settings')">
			<svg class="chat-settings-button__icon" viewBox="0 0 478.703 478.703">
				<g>
					<g>
						<path d="M454.2,189.101l-33.6-5.7c-3.5-11.3-8-22.2-13.5-32.6l19.8-27.7c8.4-11.8,7.1-27.9-3.2-38.1l-29.8-29.8    c-5.6-5.6-13-8.7-20.9-8.7c-6.2,0-12.1,1.9-17.1,5.5l-27.8,19.8c-10.8-5.7-22.1-10.4-33.8-13.9l-5.6-33.2    c-2.4-14.3-14.7-24.7-29.2-24.7h-42.1c-14.5,0-26.8,10.4-29.2,24.7l-5.8,34c-11.2,3.5-22.1,8.1-32.5,13.7l-27.5-19.8    c-5-3.6-11-5.5-17.2-5.5c-7.9,0-15.4,3.1-20.9,8.7l-29.9,29.8c-10.2,10.2-11.6,26.3-3.2,38.1l20,28.1    c-5.5,10.5-9.9,21.4-13.3,32.7l-33.2,5.6c-14.3,2.4-24.7,14.7-24.7,29.2v42.1c0,14.5,10.4,26.8,24.7,29.2l34,5.8    c3.5,11.2,8.1,22.1,13.7,32.5l-19.7,27.4c-8.4,11.8-7.1,27.9,3.2,38.1l29.8,29.8c5.6,5.6,13,8.7,20.9,8.7c6.2,0,12.1-1.9,17.1-5.5    l28.1-20c10.1,5.3,20.7,9.6,31.6,13l5.6,33.6c2.4,14.3,14.7,24.7,29.2,24.7h42.2c14.5,0,26.8-10.4,29.2-24.7l5.7-33.6    c11.3-3.5,22.2-8,32.6-13.5l27.7,19.8c5,3.6,11,5.5,17.2,5.5l0,0c7.9,0,15.3-3.1,20.9-8.7l29.8-29.8c10.2-10.2,11.6-26.3,3.2-38.1    l-19.8-27.8c5.5-10.5,10.1-21.4,13.5-32.6l33.6-5.6c14.3-2.4,24.7-14.7,24.7-29.2v-42.1    C478.9,203.801,468.5,191.501,454.2,189.101z M451.9,260.401c0,1.3-0.9,2.4-2.2,2.6l-42,7c-5.3,0.9-9.5,4.8-10.8,9.9    c-3.8,14.7-9.6,28.8-17.4,41.9c-2.7,4.6-2.5,10.3,0.6,14.7l24.7,34.8c0.7,1,0.6,2.5-0.3,3.4l-29.8,29.8c-0.7,0.7-1.4,0.8-1.9,0.8    c-0.6,0-1.1-0.2-1.5-0.5l-34.7-24.7c-4.3-3.1-10.1-3.3-14.7-0.6c-13.1,7.8-27.2,13.6-41.9,17.4c-5.2,1.3-9.1,5.6-9.9,10.8l-7.1,42    c-0.2,1.3-1.3,2.2-2.6,2.2h-42.1c-1.3,0-2.4-0.9-2.6-2.2l-7-42c-0.9-5.3-4.8-9.5-9.9-10.8c-14.3-3.7-28.1-9.4-41-16.8    c-2.1-1.2-4.5-1.8-6.8-1.8c-2.7,0-5.5,0.8-7.8,2.5l-35,24.9c-0.5,0.3-1,0.5-1.5,0.5c-0.4,0-1.2-0.1-1.9-0.8l-29.8-29.8    c-0.9-0.9-1-2.3-0.3-3.4l24.6-34.5c3.1-4.4,3.3-10.2,0.6-14.8c-7.8-13-13.8-27.1-17.6-41.8c-1.4-5.1-5.6-9-10.8-9.9l-42.3-7.2    c-1.3-0.2-2.2-1.3-2.2-2.6v-42.1c0-1.3,0.9-2.4,2.2-2.6l41.7-7c5.3-0.9,9.6-4.8,10.9-10c3.7-14.7,9.4-28.9,17.1-42    c2.7-4.6,2.4-10.3-0.7-14.6l-24.9-35c-0.7-1-0.6-2.5,0.3-3.4l29.8-29.8c0.7-0.7,1.4-0.8,1.9-0.8c0.6,0,1.1,0.2,1.5,0.5l34.5,24.6    c4.4,3.1,10.2,3.3,14.8,0.6c13-7.8,27.1-13.8,41.8-17.6c5.1-1.4,9-5.6,9.9-10.8l7.2-42.3c0.2-1.3,1.3-2.2,2.6-2.2h42.1    c1.3,0,2.4,0.9,2.6,2.2l7,41.7c0.9,5.3,4.8,9.6,10,10.9c15.1,3.8,29.5,9.7,42.9,17.6c4.6,2.7,10.3,2.5,14.7-0.6l34.5-24.8    c0.5-0.3,1-0.5,1.5-0.5c0.4,0,1.2,0.1,1.9,0.8l29.8,29.8c0.9,0.9,1,2.3,0.3,3.4l-24.7,34.7c-3.1,4.3-3.3,10.1-0.6,14.7    c7.8,13.1,13.6,27.2,17.4,41.9c1.3,5.2,5.6,9.1,10.8,9.9l42,7.1c1.3,0.2,2.2,1.3,2.2,2.6v42.1H451.9z" fill="#FFFFFF"/>
						<path d="M239.4,136.001c-57,0-103.3,46.3-103.3,103.3s46.3,103.3,103.3,103.3s103.3-46.3,103.3-103.3S296.4,136.001,239.4,136.001    z M239.4,315.601c-42.1,0-76.3-34.2-76.3-76.3s34.2-76.3,76.3-76.3s76.3,34.2,76.3,76.3S281.5,315.601,239.4,315.601z" fill="#FFFFFF"/>
					</g>
				</g>
			</svg>

		</button>


		<modal
				class="chat-settings"
				name="chat-settings"
				:width="900"
				:height="900">
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Messages notifications count:
				</label>
				<input
						v-model="inputs.messagesNotificationsCount"
						@input="emitInput"
						type="number"
						class="chat-settings__input">
			</div>

			<h2 class="chat-settings__title">
				Stories section:
			</h2>
			<div class="chat-settings__row chat-settings__row--with-background"
				 v-for="(story, index) in inputs.stories">
				<h3 class="chat-settings__title">
					{{ index + 1 }} story settings:
				</h3>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Avatar:
					</label>
					<vue-dropzone
							@vdropzone-success="getAvatar($event, 'stories', index, 'avatar')"
							id="`dropzoneStory${index}`"
							:options="dropzoneOptions"></vue-dropzone>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Name:
					</label>
					<input
							v-model="story.name"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="checkbox">
						<input
								v-model="story.isUpdated"
								@input="emitInput"
								type="checkbox"
								class="checkbox__input">
						Story is unwatched
					</label>
				</div>
			</div>


			<h2 class="chat-settings__title">
				Posts section:
			</h2>
			<div class="chat-settings__row chat-settings__row--with-background"
				 v-for="(post, postIndex) in inputs.posts">
				<h3 class="chat-settings__title">
					{{ postIndex + 1 }} post settings:
				</h3>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Author avatar:
					</label>
					<vue-dropzone
							@vdropzone-success="getAvatar($event, 'posts', postIndex, 'avatar')"
							id="`dropzonePostAuthorAvatar${postIndex}`"
							:options="dropzoneOptions"></vue-dropzone>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Author name:
					</label>
					<input
							v-model="post.name"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Time:
					</label>
					<input
							v-model="post.time"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Text:
					</label>
					<input
							v-model="post.text"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Attachment img:
					</label>
					<vue-dropzone
							@vdropzone-success="getAvatar($event, 'posts', postIndex, 'attachment', 'img')"
							id="`dropzonePostAttachment${postIndex}`"
							:options="dropzoneOptions"></vue-dropzone>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Attachment name:
					</label>
					<input
							v-model="post.attachment.name"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Attachment views:
					</label>
					<input
							v-model="post.attachment.views"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Post likes count:
					</label>
					<input
							v-model="post.likesCount"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Post comments count:
					</label>
					<input
							v-model="post.commentsCount"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Post replies count:
					</label>
					<input
							v-model="post.repliesCount"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Post views count:
					</label>
					<input
							v-model="post.views"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="checkbox">
						<input
								v-model="post.isLiked"
								@input="emitInput"
								type="checkbox"
								class="checkbox__input">
						Post is liked
					</label>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Avatars of friends who liked post:
					</label>
					<div class="chat-settings__row">
						<button class="button" @click="addElemToArray(post.friendsWhoLikesAvatars)">Add avatar</button>
					</div>
					<div class="chat-settings__row"
						 v-for="(avatar, likesAvatarIndex) in post.friendsWhoLikesAvatars">
						<label class="chat-settings__label">
							{{ likesAvatarIndex + 1 }} Avatar:
						</label>
						<vue-dropzone
								@vdropzone-success="getAvatar($event, 'posts', postIndex, 'friendsWhoLikesAvatars', likesAvatarIndex)"
								id="`dropzonePostAttachment${likesAvatarIndex}`"
								:options="dropzoneOptions"></vue-dropzone>
					</div>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Likes caption:
					</label>
					<input
							v-model="post.friendsWhoLikesCaption"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
			</div>




			<chat-settings-save
					:inputs="inputs"
					:database-ref="databaseRef"
					:database-versions-ref="databaseVersionsRef"
					:version-key="currentVersionKey"
					@version-name-was-added="addNameVersion"
					@new-version-was-added="setCreatedVersion"></chat-settings-save>
		</modal>
	</div>
</script>
<!-- End of vue templates -->


<script src="./dist/bundle.js"></script>
</body>
</html>