button {
    outline: none;
    background-color: transparent;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
}

textarea {
    outline: none;
    resize: none;
    border: none;
    background: none;
}

input {
    outline: none;
    border: none;
    background: none;
    font-size: 1em;
}