*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}
button:disabled {
    opacity: .4;
}
svg {
    vertical-align: middle;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.video {
    position: relative;
    height: 605px;
    background-color: rgb(116, 116, 116);
    flex-shrink: 0;
}
.video-tools__img {
    width: 100%;
    height: auto;
}
.video-info {
    flex-grow: 1;
    overflow: auto;
}
.video-info::-webkit-scrollbar {
    display: none;
}
.video-meta {
    color: rgb(116, 116, 116);
    padding: 40px 50px 60px;
    position: relative;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.video-meta__info {
    position: relative;
    margin-bottom: 10px;
}
.video-meta__info:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: rgb(117, 117, 117) transparent transparent transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.video-meta__date {
    font-size: 45px;
    margin-bottom: 20px;
}
.video-meta__views {

}

.video-meta-bar {
    display: flex;
    align-items: center;
    text-align: center;
    height: 190px;
    overflow: hidden;
}
.video-meta-bar__item {
    flex-basis: 25%;
    display: flex;
    padding: 61px 0;
    flex-direction: column;
    transition: background-color .3s;
    border-radius: 50%;
    height: 244px;
    user-select: none;
}
.video-meta-bar__item.is-active {
    background-color: rgba(0, 0, 0, .08);
}
.video-meta-bar__icon {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.youtube-block {
    padding: 30px 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.channel-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.channel-info__about {
    display: flex;
}
.channel-info__avatar {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 30px;
}
.channel-info__avatar-img {
    width: 100%;
    height: auto;
}
.channel-info__name {
    font-size: 55px;
}
.channel-info__subscribers {
    font-size: 45px;
    color: rgb(116, 116, 116);
}
.channel-info__icon {
    vertical-align: middle;
}


.comments {
    padding-top: 30px;
}
.comments__caption {
    margin-bottom: 40px;
    font-size: 55px;
    padding: 0 50px;
}
.comments__count {
    color: rgb(116, 116, 116);
    margin-left: 30px;
}


.leave-comment {
    display: flex;
    align-items: center;
    color: rgb(180, 180, 180);
    font-size: 55px;
    /*padding: 30px 50px;*/
}
.leave-comment__avatar {
    margin-right: 40px;
    width: 112px;
    height: 112px;
    overflow: hidden;
    border-radius: 50%;
}
.leave-comment__avatar-img {
    width: 100%;
    height: auto;
}

.comment {
    display: flex;
}
.comment__avatar {
    flex-shrink: 0;
    margin-right: 30px
}
.comment__container {
    flex-grow: 1;
}
.comment__content {
    font-size: 50px;
}
.comment__about {
    margin-top: 10px;
    font-size: 45px;
    color: rgb(116, 116, 116);
}
.comment__bar {
    display: flex;
    margin-top: 40px;
}
.icon-like {
    height: 67px;
}
.comment__bar-item:not(:last-child) {
    flex-basis: 26%;
    display: flex;
    align-items: center;
}
.comment__bar-item:last-child {
    margin-left: auto;
}
.comment__icon {
    position: relative;
}
.comment__icon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    transition: background-color .3s;
}
.comment__icon.is-active:after {
    background-color: rgb(0, 0, 0, .05);
}
.comment__count {
    margin-left: 20px;
    font-size: 50px;
    color: rgb(116, 116, 116);
}
.comment__show-reply {
    font-size: 45px;
    margin-top: 40px;
    color: rgb(65, 133, 243);
}

.message-holder {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.2);
}
.message-text {
    display: block;
    flex-grow: 1;
    padding: 38px 40px;
    height: 140px;
    max-height: 240px;
    font-size: 50px;
    outline: none;
    resize: none;
    border: none;
}
.send-message {
    flex-basis: 10%;
    border: none;
    outline: none;
    background: none;
    margin-bottom: 33px;
}
.keyboard-wrapper {
    transition: transform .3s;
    transform: translateY(102%);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.keyboard-wrapper .keyboard-holder {
    position: static;
}

.reaction-icon {
    fill: #909090;
}
.video-meta-bar .reaction-icon {
    fill: #666;
}
.reaction-icon--filled, .video-meta-bar .reaction-icon--filled {
    fill: #4688F1;
}