*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    /*margin: 0 auto;*/
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.header {
    border-bottom: 2px solid rgb(222, 226, 230);
    padding: 50px 29px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__close {
    width: 39px;
}

.header__back {
    font-size: 40px;
    color: rgb(0, 122, 255);
}
.header__avatar {
    text-align: right;
}

.header__title {
    text-align: center;
    font-size: 65px;
}

.header__name {
    font-size: 50px;
    letter-spacing: -1.2px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.chevron {
    vertical-align: middle;
}
.online {
    color: rgb(0, 122, 255);
}


.main {
    padding-top: 193px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 40px 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}

.twit {
    display: flex;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.twit:not(:last-child):after {
    content: '';
    width: 2px;
    height: 80%;
    position: absolute;
    left: 80px;
    top: 180px;
    background-color: rgb(194, 195, 197);
}
.twit__avatar {
    margin-right: 30px;
    align-self: flex-start;
    width: 159px;
    height: 159px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}
.twit__img {
    width: 100%;
    height: auto;
}
.twit__container {
    flex-grow: 1;
}
.twit__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.twit__arrow-down {
    margin-left: 20px;
}
.twit__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.twit__meta-elem {
    display: flex;
    align-items: center;
}
.twit__meta-count {
    margin-left: 20px;
}

.bubble {
    background-color: #fff;
    padding: 18px 19px;
    line-height: 60px;
    max-width: 973px;
    border-radius: 17px;
    margin-bottom: 30px;
}
.bubbles-list > * {
    margin-bottom: 30px;
}
.bubble.is-outgoing {
    align-self: flex-end;
    background-color: rgb(226, 253, 202);
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 775px;
}

.input-bar-wrapper {
    will-change: margin;
    transition: margin .323s;
    position: relative;
    flex-shrink: 0;
}

.input-bar__recipient {
    font-size: 30px;
    color: rgb(155, 158, 161);
    padding: 10px 0 30px;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    padding: 20px 20px 20px 40px;
    border-top: 1px solid rgb(233, 234, 235);
    /*border-bottom: 1px solid rgb(233, 234, 235);*/
}


.input-bar__attachment {
    margin-right: 30px;
}

.input-bar__textare-holder {
    position: relative;
}
.input-bar__resize {
    position: absolute;
    width: 60px;
    bottom: 42px;
    right: 27px;
}
.sending-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 35px;
}
.sending-tools__group {
    display: flex;
    align-items: center;
}
.c100 {
    margin-right: 40px;
}
.sending-tools__attach {
    display: flex;
    align-items: center;
}
.sending-tools__icon + .sending-tools__icon {
    margin-left: 80px;
}
.sending-tools__reply {
    outline: none;
    border-radius: 50px;
    color: #fff;
    font-size: 37px;
    border: none;
    padding: 20px 30px;
    background-color: rgb(97, 161, 235);
}
.twitter-nav {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-top: 1px solid rgb(233, 234, 235);
}

.message-text {
    border-radius: 70px;
    height: 134px;
    max-height: 400px;
    border: 1px solid rgb(217, 220, 222);
    resize: none;
    outline: none;
    font-size: 44px;
    font-family: sans-serif;
    padding: 40px 100px 40px 40px;
    width: 100%;
    background: rgb(231, 234, 237);
    max-height: 400px;
}

.input-bar__sending-tools {
    width: 105px;
    display: flex;
    justify-content: flex-end;
}

.input-bar__mic {
    width: 47px;
    margin-right: 20px;
}

.mic {
    height: 100%;
}






/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .1s, opacity .1s;
}
.scale-enter, .scale-leave-active {
    transform: scale(.35);
    opacity: .3;
}



.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/











/*
    CSS Animations
*/
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.typing {
    color: rgb(0, 122, 255);
}

.typing span {
    font-size: .5em;
    vertical-align: middle;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}