<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="utf-8"/>
	<meta content="width=1080px, maximum-scale=1.0" name="viewport"/>
	<link href="./img/favicon.png" rel="shortcut icon"/>
	<link href="./css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="page-wrapper" id="app">

	<form class="incoming-message" @submit.prevent="sendIncomingComment">
		<div class="incoming-message__group">
			<h6 class="incoming-message__title">Author name:</h6>
			<input
					v-model.trim="incomingComment.name"
					type="text"
					class="incoming-message__input">
		</div>
		<div class="incoming-message__group">
			<h6 class="incoming-message__title">Comment:</h6>
			<div class="incoming-message__textarea-holder">
				<textarea
						v-model.trim="incomingComment.text"
						rows="10"
						class="incoming-message__textarea"></textarea>
			</div>
			<button type="submit"
					class="incoming-message__submit">Send message</button>
		</div>
	</form>

	<div class="page-container">
		<div class="video">
			<div class="video-tools">
				<img src="./img/video.jpg" alt="" class="video-tools__img">
			</div>
		</div>
		<div class="video-info">
			<div class="video-meta">
				<div class="video-meta__info">
					<div class="video-meta__date">
						{{ screenSettings.date }}
					</div>
					<div class="video-meta__views">
						{{ screenSettings.views }}
					</div>
				</div>
				<ul class="video-meta-bar">
					<li class="video-meta-bar__item"
						@click="reactToPost($event, screenSettings.video, 'likes')">
						<figure class="video-meta-bar__icon">
							<svg width="67px" height="60px">
								<defs></defs>
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g class="reaction-icon"
									   :class="{ 'reaction-icon--filled' : screenSettings.video.likes.isActive }"
									   transform="translate(-196.000000, -2565.000000)"
									   fill-rule="nonzero">
										<g id="Group-2" transform="translate(0.000000, 2364.000000)">
											<g id="liked" transform="translate(196.000000, 201.000000)">
												<polygon id="Shape"
														 points="0.52173913 59.7391304 11.826087 59.7391304 11.826087 26.0869565 0.52173913 26.0869565"></polygon>
												<path d="M65.5652174,27.9130435 C64.4347826,24.6956522 62,24.3478261 61.0434783,24.3478261 L48.9565217,24.3478261 C49.4782609,22.9565217 50.2608696,21.1304348 50.8695652,19.5652174 C54.173913,11.7391304 56.173913,6.43478261 53.9130435,3.04347826 C53.3043478,2.17391304 52,0.782608696 49.2173913,0.782608696 L47.2173913,0.782608696 C45.3913043,0.782608696 41.6521739,0.782608696 39.826087,4.43478261 C35.1304348,13.826087 20.3478261,24.8695652 20.173913,24.9565217 L18.9565217,25.826087 L18.9565217,59.7391304 L55.0434783,59.7391304 C62.7826087,59.7391304 66.173913,39.5652174 66.173913,33.1304348 C66.2608696,30.9565217 66.0869565,29.2173913 65.5652174,27.9130435 Z"
													  id="Shape"></path>
											</g>
										</g>
									</g>
								</g>
							</svg>
						</figure>
						<span class="video-meta-bar__caption">
							{{ screenSettings.video.likes.count }}
						</span>
					</li>
					<li class="video-meta-bar__item"
						@click="reactToPost($event, screenSettings.video, 'dislikes')">
						<figure class="video-meta-bar__icon">
							<svg width="66px" height="60px">
								<defs></defs>
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g class="reaction-icon"
									   :class="{ 'reaction-icon--filled' : screenSettings.video.dislikes.isActive }"
									   transform="translate(-411.000000, -2873.000000)"
									   fill-rule="nonzero">
										<g id="Group-2-Copy" transform="translate(0.000000, 2569.000000)">
											<g id="Group" transform="translate(411.000000, 304.000000)">
												<polygon id="Shape"
														 points="65.826087 0.434782609 54.5217391 0.434782609 54.5217391 34.0869565 65.826087 34.0869565"></polygon>
												<path d="M0.695652174,32.2608696 C1.82608696,35.4782609 4.26086957,35.826087 5.2173913,35.826087 L17.3043478,35.826087 C16.7826087,37.2173913 16,39.0434783 15.3913043,40.6086957 C12.0869565,48.4347826 10.0869565,53.7391304 12.3478261,57.1304348 C12.9565217,58 14.2608696,59.3913043 17.0434783,59.3913043 L19.0434783,59.3913043 C20.8695652,59.3913043 24.6086957,59.3913043 26.4347826,55.7391304 C31.1304348,46.3478261 45.9130435,35.3043478 46.0869565,35.2173913 L47.3043478,34.3478261 L47.3043478,0.434782609 L11.2173913,0.434782609 C3.47826087,0.434782609 0.0869565217,20.6086957 0.0869565217,27.0434783 C-2.04419814e-14,29.2173913 0.260869565,30.8695652 0.695652174,32.2608696 Z"
													  id="Shape"></path>
											</g>
										</g>
									</g>
								</g>
							</svg>
						</figure>
						<span class="video-meta-bar__caption">
							{{ screenSettings.video.dislikes.count }}
						</span>
					</li>
					<li class="video-meta-bar__item">
						<figure class="video-meta-bar__icon">
							<img src="./img/share.svg" alt="">
						</figure>
						<span class="video-meta-bar__caption">
							{{ currentLang.share }}
						</span>
					</li>
					<li class="video-meta-bar__item">
						<figure class="video-meta-bar__icon">
							<img src="./img/menu.svg" alt="">
						</figure>
						<span class="video-meta-bar__caption">
							{{ currentLang.addTo }}
						</span>
					</li>
				</ul>
			</div>
			<div class="channel-info youtube-block">
				<div class="channel-info__about">
					<figure class="channel-info__avatar">
						<img :src="screenSettings.channelAvatar" class="channel-info__avatar-img" alt="">
					</figure>
					<div class="channel-info__main">
						<div class="channel-info__name">
							{{ screenSettings.channelName }}
						</div>
						<div class="channel-info__subscribers">
							{{ screenSettings.subscribers }}
						</div>
					</div>
				</div>
				<div class="channel-info__tools">
					<img src="./img/subscribe.svg" class="channel-info__icon" alt="">
					{{ currentLang.subscribe }}
				</div>
			</div>
			<div class="comments">
				<div class="comments__caption">
					{{ currentLang.comments }} <span class="comments__count">{{ screenSettings.commentsCount }}</span>
				</div>

				<div class="leave-comment youtube-block" @click="showKeyboard">
					<figure class="leave-comment__avatar">
						<img :src="screenSettings.authorAvatar" class="leave-comment__avatar-img" alt="">
					</figure>
					{{ currentLang.placeholder }}
				</div>

				<div class="comments-list" ref="messagesHolder">

					<div class="comment youtube-block"
						 v-for="(comment, index) in screenSettings.comments"
						 :key="index">
						<figure class="comment__avatar">
							<img src="./img/avatar2.png" alt="">
						</figure>
						<div class="comment__container">
							<div class="comment__content" v-html="comment.content">

							</div>
							<div class="comment__about">
								{{ comment.name }} ● {{ comment.time }}
							</div>

							<div class="comment__bar">
								<div class="comment__bar-item">
									<figure class="comment__icon"
											@click="reactToPost($event, comment, 'likes')">
										<svg width="67px" height="60px" class="icon-like">
											<defs></defs>
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<g class="reaction-icon"
												   :class="{ 'reaction-icon--filled' : comment.likes.isActive }"
												   transform="translate(-196.000000, -2565.000000)"
												   fill-rule="nonzero">
													<g id="Group-2" transform="translate(0.000000, 2364.000000)">
														<g id="liked" transform="translate(196.000000, 201.000000)">
															<polygon id="Shape"
																	 points="0.52173913 59.7391304 11.826087 59.7391304 11.826087 26.0869565 0.52173913 26.0869565"></polygon>
															<path d="M65.5652174,27.9130435 C64.4347826,24.6956522 62,24.3478261 61.0434783,24.3478261 L48.9565217,24.3478261 C49.4782609,22.9565217 50.2608696,21.1304348 50.8695652,19.5652174 C54.173913,11.7391304 56.173913,6.43478261 53.9130435,3.04347826 C53.3043478,2.17391304 52,0.782608696 49.2173913,0.782608696 L47.2173913,0.782608696 C45.3913043,0.782608696 41.6521739,0.782608696 39.826087,4.43478261 C35.1304348,13.826087 20.3478261,24.8695652 20.173913,24.9565217 L18.9565217,25.826087 L18.9565217,59.7391304 L55.0434783,59.7391304 C62.7826087,59.7391304 66.173913,39.5652174 66.173913,33.1304348 C66.2608696,30.9565217 66.0869565,29.2173913 65.5652174,27.9130435 Z"
																  id="Shape"></path>
														</g>
													</g>
												</g>
											</g>
										</svg>
									</figure>
									<span class="comment__count"
										  v-if="comment.likes.count">
										{{ comment.likes.count }}
									</span>
								</div>
								<div class="comment__bar-item">
									<figure class="comment__icon"
											@click="reactToPost($event, comment, 'dislikes')">
										<svg width="66px" height="60px" class="icon-dislike">
											<defs></defs>
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<g class="reaction-icon"
												   :class="{ 'reaction-icon--filled' : comment.dislikes.isActive }"
												   transform="translate(-411.000000, -2873.000000)"
												   fill-rule="nonzero">
													<g id="Group-2-Copy" transform="translate(0.000000, 2569.000000)">
														<g id="Group" transform="translate(411.000000, 304.000000)">
															<polygon id="Shape"
																	 points="65.826087 0.434782609 54.5217391 0.434782609 54.5217391 34.0869565 65.826087 34.0869565"></polygon>
															<path d="M0.695652174,32.2608696 C1.82608696,35.4782609 4.26086957,35.826087 5.2173913,35.826087 L17.3043478,35.826087 C16.7826087,37.2173913 16,39.0434783 15.3913043,40.6086957 C12.0869565,48.4347826 10.0869565,53.7391304 12.3478261,57.1304348 C12.9565217,58 14.2608696,59.3913043 17.0434783,59.3913043 L19.0434783,59.3913043 C20.8695652,59.3913043 24.6086957,59.3913043 26.4347826,55.7391304 C31.1304348,46.3478261 45.9130435,35.3043478 46.0869565,35.2173913 L47.3043478,34.3478261 L47.3043478,0.434782609 L11.2173913,0.434782609 C3.47826087,0.434782609 0.0869565217,20.6086957 0.0869565217,27.0434783 C-2.04419814e-14,29.2173913 0.260869565,30.8695652 0.695652174,32.2608696 Z"
																  id="Shape"></path>
														</g>
													</g>
												</g>
											</g>
										</svg>
									</figure>
									<span class="comment__count"
										  v-if="comment.dislikes.count">
										{{ comment.dislikes.count }}
									</span>
								</div>
								<div class="comment__bar-item">
									<figure class="comment__icon">
										<img src="./img/add-comment.svg" alt="">
									</figure>
									<span class="comment__count"
										  v-if="comment.comments">
										{{ comment.comments }}
									</span>
								</div>
								<div class="comment__bar-item">
									<figure class="comment__icon">
										<img src="./img/dots.svg" alt="">
									</figure>
								</div>
							</div>

							<div class="comment__show-reply"
								 v-if="comment.comments">
								<template v-if="comment.comments === 1">
									{{ currentLang.showReply[0] }}
								</template>
								<template v-else>
									{{ currentLang.showReply[1] }} {{ comment.comments }} {{ replyEnding(comment.comments) }}
								</template>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>

		<div class="keyboard-wrapper" ref="keyboardWrapper">
			<div class="message-holder">
				<outgoing-message
						:placeholder="currentLang.placeholder"
						ref="textarea"
						v-model="outgoingComment"></outgoing-message>
				<button v-if="outgoingComment.length"
						class="send-message"
						@click="sendMessage">
					<img src="./img/send.svg" alt="">
				</button>
			</div>
			<ios-keyboard :lang="screenSettings.currentLang" ref="keyboard"></ios-keyboard>
		</div>

		<loading-overlay v-if="loadingOverlayIsVisible"></loading-overlay>
	</div>

	<div class="tools-col">
		<switch-lang v-model="screenSettings.currentLang"></switch-lang>
		<chat-settings v-model="screenSettings" :database-ref="databaseRef"></chat-settings>
	</div>

</div>


<!-- Vue templates -->
<script type="text/x-template" id="chat-settings-template">
	<div class="chat-settings-wrapper">
		<chat-settings-presets
				:inputs="inputs"
				:database-versions-ref="databaseVersionsRef"
				@version-was-selected="selectVersion"
				@version-remove-was-clicked="removeVersion"
				@select-default-was-clicked="selectDefault"></chat-settings-presets>

		<button
				class="chat-settings-button button"
				@click="$modal.show('chat-settings')">
			<span class="chat-settings-button__text">Chat Settings</span>
			<svg class="chat-settings-button__icon" viewBox="0 0 478.703 478.703">
				<g>
					<g>
						<path d="M454.2,189.101l-33.6-5.7c-3.5-11.3-8-22.2-13.5-32.6l19.8-27.7c8.4-11.8,7.1-27.9-3.2-38.1l-29.8-29.8    c-5.6-5.6-13-8.7-20.9-8.7c-6.2,0-12.1,1.9-17.1,5.5l-27.8,19.8c-10.8-5.7-22.1-10.4-33.8-13.9l-5.6-33.2    c-2.4-14.3-14.7-24.7-29.2-24.7h-42.1c-14.5,0-26.8,10.4-29.2,24.7l-5.8,34c-11.2,3.5-22.1,8.1-32.5,13.7l-27.5-19.8    c-5-3.6-11-5.5-17.2-5.5c-7.9,0-15.4,3.1-20.9,8.7l-29.9,29.8c-10.2,10.2-11.6,26.3-3.2,38.1l20,28.1    c-5.5,10.5-9.9,21.4-13.3,32.7l-33.2,5.6c-14.3,2.4-24.7,14.7-24.7,29.2v42.1c0,14.5,10.4,26.8,24.7,29.2l34,5.8    c3.5,11.2,8.1,22.1,13.7,32.5l-19.7,27.4c-8.4,11.8-7.1,27.9,3.2,38.1l29.8,29.8c5.6,5.6,13,8.7,20.9,8.7c6.2,0,12.1-1.9,17.1-5.5    l28.1-20c10.1,5.3,20.7,9.6,31.6,13l5.6,33.6c2.4,14.3,14.7,24.7,29.2,24.7h42.2c14.5,0,26.8-10.4,29.2-24.7l5.7-33.6    c11.3-3.5,22.2-8,32.6-13.5l27.7,19.8c5,3.6,11,5.5,17.2,5.5l0,0c7.9,0,15.3-3.1,20.9-8.7l29.8-29.8c10.2-10.2,11.6-26.3,3.2-38.1    l-19.8-27.8c5.5-10.5,10.1-21.4,13.5-32.6l33.6-5.6c14.3-2.4,24.7-14.7,24.7-29.2v-42.1    C478.9,203.801,468.5,191.501,454.2,189.101z M451.9,260.401c0,1.3-0.9,2.4-2.2,2.6l-42,7c-5.3,0.9-9.5,4.8-10.8,9.9    c-3.8,14.7-9.6,28.8-17.4,41.9c-2.7,4.6-2.5,10.3,0.6,14.7l24.7,34.8c0.7,1,0.6,2.5-0.3,3.4l-29.8,29.8c-0.7,0.7-1.4,0.8-1.9,0.8    c-0.6,0-1.1-0.2-1.5-0.5l-34.7-24.7c-4.3-3.1-10.1-3.3-14.7-0.6c-13.1,7.8-27.2,13.6-41.9,17.4c-5.2,1.3-9.1,5.6-9.9,10.8l-7.1,42    c-0.2,1.3-1.3,2.2-2.6,2.2h-42.1c-1.3,0-2.4-0.9-2.6-2.2l-7-42c-0.9-5.3-4.8-9.5-9.9-10.8c-14.3-3.7-28.1-9.4-41-16.8    c-2.1-1.2-4.5-1.8-6.8-1.8c-2.7,0-5.5,0.8-7.8,2.5l-35,24.9c-0.5,0.3-1,0.5-1.5,0.5c-0.4,0-1.2-0.1-1.9-0.8l-29.8-29.8    c-0.9-0.9-1-2.3-0.3-3.4l24.6-34.5c3.1-4.4,3.3-10.2,0.6-14.8c-7.8-13-13.8-27.1-17.6-41.8c-1.4-5.1-5.6-9-10.8-9.9l-42.3-7.2    c-1.3-0.2-2.2-1.3-2.2-2.6v-42.1c0-1.3,0.9-2.4,2.2-2.6l41.7-7c5.3-0.9,9.6-4.8,10.9-10c3.7-14.7,9.4-28.9,17.1-42    c2.7-4.6,2.4-10.3-0.7-14.6l-24.9-35c-0.7-1-0.6-2.5,0.3-3.4l29.8-29.8c0.7-0.7,1.4-0.8,1.9-0.8c0.6,0,1.1,0.2,1.5,0.5l34.5,24.6    c4.4,3.1,10.2,3.3,14.8,0.6c13-7.8,27.1-13.8,41.8-17.6c5.1-1.4,9-5.6,9.9-10.8l7.2-42.3c0.2-1.3,1.3-2.2,2.6-2.2h42.1    c1.3,0,2.4,0.9,2.6,2.2l7,41.7c0.9,5.3,4.8,9.6,10,10.9c15.1,3.8,29.5,9.7,42.9,17.6c4.6,2.7,10.3,2.5,14.7-0.6l34.5-24.8    c0.5-0.3,1-0.5,1.5-0.5c0.4,0,1.2,0.1,1.9,0.8l29.8,29.8c0.9,0.9,1,2.3,0.3,3.4l-24.7,34.7c-3.1,4.3-3.3,10.1-0.6,14.7    c7.8,13.1,13.6,27.2,17.4,41.9c1.3,5.2,5.6,9.1,10.8,9.9l42,7.1c1.3,0.2,2.2,1.3,2.2,2.6v42.1H451.9z" fill="#FFFFFF"/>
						<path d="M239.4,136.001c-57,0-103.3,46.3-103.3,103.3s46.3,103.3,103.3,103.3s103.3-46.3,103.3-103.3S296.4,136.001,239.4,136.001    z M239.4,315.601c-42.1,0-76.3-34.2-76.3-76.3s34.2-76.3,76.3-76.3s76.3,34.2,76.3,76.3S281.5,315.601,239.4,315.601z" fill="#FFFFFF"/>
					</g>
				</g>
			</svg>

		</button>

		<modal
				class="chat-settings"
				name="chat-settings"
				:width="1200"
				:height="'auto'">
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter video date added:
				</label>
				<input
						v-model="inputs.date"
						type="text"
						@input="emitInput"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter video views count:
				</label>
				<input
						v-model="inputs.views"
						type="text"
						@input="emitInput"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter video likes count:
				</label>
				<input
						v-model="inputs.video.likes.count"
						type="number"
						@input="emitInput"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter video dislikes count:
				</label>
				<input
						v-model="inputs.video.dislikes.count"
						type="number"
						@input="emitInput"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Upload channel avatar:
				</label>
				<vue-dropzone
						@vdropzone-success="getAvatar($event, 'channelAvatar')"
						ref="dropzone"
						id="dropzone"
						:options="dropzoneOptions"></vue-dropzone>
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter channel name:
				</label>
				<input
						v-model="inputs.channelName"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter subscribers count:
				</label>
				<input
						v-model="inputs.subscribers"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Upload avatar of comment author:
				</label>
				<vue-dropzone
						@vdropzone-success="getAvatar($event, 'authorAvatar')"
						ref="dropzone"
						id="dropzone"
						:options="dropzoneOptions"></vue-dropzone>
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter comments count:
				</label>
				<input
						v-model="inputs.commentsCount"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Enter comment placeholder:
				</label>
				<input
						v-model="inputs.placeholder"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>
			<h3>Comments settings:</h3>
			<div class="chat-settings__row">
				<button class="button button--danger"
						@click="removeElemFromArray(inputs.comments)">
					remove last comment
				</button>
			</div>
			<div
					class="chat-settings__row chat-settings__row--with-background"
					v-for="(comment, index) in inputs.comments">
				<h4 style="margin-top: 0;">
					Comment №{{ index + 1 }}
				</h4>

				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Enter comment name:
					</label>
					<input
							v-model="comment.name"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>

				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Enter comment content:
					</label>
					<input
							v-model="comment.content"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>

				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Enter likes:
					</label>
					<input
							v-model="comment.likes.count"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>

				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Enter dislikes:
					</label>
					<input
							v-model="comment.dislikes.count"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>

				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Enter comments count:
					</label>
					<input
							v-model="comment.comments"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>

				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Enter time:
					</label>
					<input
							v-model="comment.time"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
			</div>

			<chat-settings-save
					:inputs="inputs"
					:database-ref="databaseRef"
					:database-versions-ref="databaseVersionsRef"
					:version-key="currentVersionKey"
					@version-name-was-added="addNameVersion"
					@new-version-was-added="setCreatedVersion"></chat-settings-save>
		</modal>
	</div>
</script>
<!-- End of vue templates -->


<script src="./dist/bundle.js"></script>
</body>
</html>