@import "modules/reset";
@import "modules/common";
@import "modules/post";
@import "modules/fb-panel";
@import "modules/comment-screen";
@import "modules/add-new-post";
@import "modules/share-popup";

.page-wrapper {
    display: flex;
}

.page-container {
    height: 1923px;
    width: 1080px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    position: relative;
    background-color: #cdccd2;
    overflow: auto;
}
.main::-webkit-scrollbar {
    display: none;
}

.header {
    background-color: #4167B2;
    padding: 106px 42px 30px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.header__search {
    border-radius: 55px;
    background-color: #29497D;
    text-align: center;
    flex-grow: 1;
    color: #869CC4;
    height: 99px;
    line-height: 99px;
    margin: 0 40px;
}


.profile-bg {
    position: relative;
    &__img {
        width: 100%;
        height: 637px;
        object-fit: cover;
    }
}
.profile-avatar {
    padding: 8px;
    border-radius: 14px;
    background-color: #fff;
    width: 407px;
    height: 407px;
    margin: -200px auto 70px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    &__container {
        position: relative;
    }
    &__img {
        width: 100%;
        height: 391px;
        object-fit: cover;
    }
}
.edit-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #F7F7F7;
    border-top-left-radius: 20px;
    width: 135px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-name {
    text-align: center;
    font-size: 85px;
    margin-bottom: 10px;
}
.profile-status {
    //color: #007AFF;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 45px;
}
.profile-tools {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 45px 25px;
    border-top: 2px solid #E3E3E3;
    font-size: 38px;
    color: #61676B;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 23%;
        min-height: 160px;
    }
}

.profile-info {
    font-size: 55px;
    padding: 35px 58px;
    border-top: 2px solid #E3E3E3;
    &__item {
        display: flex;
        align-items: center;
        & + & {
            margin-top: 40px;
        }
    }
    &__icon {
        margin-right: 40px;
    }
    &__caption {
        color: #61676B;
        margin-right: 20px;
    }
}


.profile-nav {
    display: flex;
    align-items: center;
    padding: 35px 58px;
    text-align: center;
    background-color: #F5F7F9;
    border-top: 2px solid #E3E3E3;
    &__item {
        width: calc(100%/3);
        & + & {
            border-left: 1px solid #E3E3E3;
        }
    }
}

.head-icon {
    margin-right: 23px;
}

.profile-photos {
    padding: 30px 0;
    &__title {
        padding: 0 45px;
        margin-bottom: 30px;
    }
}


.see-all {
    text-align: center;
    font-size: 55px;
    color: #61676B;
    &__text {
        &:after {
            content: '';
            width: 26px;
            height: 48px;
            background: url(../img/arrow-right.svg) no-repeat 50% 50%;
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
        }
    }
}


.profile-friends {
    padding: 30px 0;
    &__head {
        display: flex;
        align-items: center;
        padding: 0 45px;
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        border-bottom: 2px solid #E3E3E3;
        margin-bottom: 20px;
    }
}


.friend-preview {
    width: 350px;
    margin-bottom: 25px;
    &__avatar-holder {
        margin-bottom: 15px;
    }
    &__avatar {
        width: 100%;
        height: 360px;
        object-fit: cover;
    }
    &__container {
        padding: 0 15px;
    }
    &__name {
        font-size: 55px;
    }
    &__updates {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:before {
            content: '';
            width: 23px;
            height: 23px;
            background-color: #59A0FF;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

.profile-bar {
    padding: 35px 45px;
    display: flex;
    align-items: center;
    font-size: 55px;
    &__add {
        margin-left: auto;
        font-size: 45px;
        color: #59A0FF;
        &:before {
            content: '+';
            font-size: 1.2em;
        }
    }
}



.new-publication-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: 55px;
    will-change: transform;
}
.new-publication-screen-header {
    font-size: 50px;
    background-color: rgb(244, 247, 249);
    padding: 87px 42px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(217, 217, 217);
    flex-shrink: 0;
}
.new-publication-screen-header__cancel, .new-publication-screen-header__share {
    color: rgb(30, 161, 243);
}
.new-publication-screen-header__avatar {
    text-align: right;
}
.new-publication-screen-header__title {
    text-align: center;
}
.new-publication-screen__main {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 224px;
}
.new-publication-screen__main--with-active-keyboard {
    padding-bottom: 854px;
}
.new-publication-screen__main::-webkit-scrollbar {
    display: none;
}
.new-publication-screen-header__caption {
    font-size: 34px;
    color: rgb(119, 119, 119);
    line-height: 36px;
    min-height: 40px;
}
.chevron {
    vertical-align: middle;
}
.new-post {
    padding: 30px 42px 0;
    overflow: auto;
}
.new-post__back {
    width: 100px;
    background: none;
    border: none;
    outline: none;
}
.new-post__head-wrapper > div {
    display: flex;
}
.new-post__head {
    display: flex;
}
.new-post__avatar {
    margin-right: 30px;
    width: 137px;
    height: 137px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}
.new-post__avatar-img {
    width: 100%;
    height: auto;
}
.new-post__name {
    margin-bottom: 20px;
}
.new-post__tools {
    display: flex;
}
.new-post-tool {
    border: 2px solid rgb(190, 190, 190);
    border-radius: 17px;
    color: rgb(152, 155, 166);
    position: relative;
    padding: 8px 70px 8px 22px;
    font-size: 38px;
    text-align: center;
    white-space: nowrap;
}
.new-post-tool:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: rgb(152, 155, 166) transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 31px;
}
.new-post-tool--globe:before {
    content: '';
    background: url(../img/globe-light-gray.svg) no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}
.new-post-tool--plus:before {
    content: '+';
    font-weight: 100;
    font-size: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    top: -4px;
    line-height: 0.9;
}
.new-post-tool + .new-post-tool {
    margin-left: 15px;
}



.new-post__message {
    height: 150px;
    font-size: 46px;
    padding: 40px 0;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
.comment-screen .message-text::placeholder {
    color: rgb(152, 155, 166);
}
.comment-screen .message-text--fz-small {
    font-size: 50px;
}


.keyboard-additional {
    font-size: 42px;
    border-radius: 26px 26px 0 0;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 74px 45px 45px;
}

.keyboard-additional:not(.keyboard-additional--without-grip):before {
    content: '';
    width: 141px;
    height: 22px;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}
.keyboard-additional__icons {
    display: flex;
}
.keyboard-additional__icon + .keyboard-additional__icon {
    margin-left: 50px;
}

.keyboard-wrapper {
    flex-shrink: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.keyboard-wrapper .keyboard-holder {
    position: static;
}

.new-post-attachment {
    position: relative;
}
.new-post-attachment__edit {
    position: absolute;
    left: 55px;
    top: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.new-post-attachment__edit-img {
    margin-right: 10px;
}
.new-post-attachment__remove {
    position: absolute;
    top: 40px;
    right: 45px;
    background: none;
    border: none;
}




.new-post-screen__main {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


.new-post-screen .message-text {
    height: 450px;
    font-size: 68px;
    padding: 40px 0;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
.new-post-screen .new-post {
    min-height: 675px;
}
.new-post-screen .message-text::placeholder {
    color: rgb(152, 155, 166);
}
.new-post-screen .message-text--fz-small {
    font-size: 50px;
}
.keyboard-tools {
    margin-bottom: 20px;
}
.attachments {
    max-height: 1050px;
}
.attachments {
    padding-top: 60px;
    border-radius: 40px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}
.attachments:before, .keyboard-additional:before {
    content: '';
    width: 141px;
    height: 22px;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.attachments__item {
    display: flex;
    padding: 54px 45px 54px 175px;
    position: relative;
}
.attachments__item + .attachments__item {
    border-top: 3px solid rgb(231, 231, 231);
}
.attachments__icon {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
}






/*
    Vue Animations
*/
.slide-enter-active, .slide-leave-active {
    transition: transform .3s;
}
.slide-leave-active {
    transition: transform .5s;
    transform: translateX(-50%);
}
.slide-enter {
    transform: translateX(100%);
}



.slide-reverse-enter-active, .slide-reverse-leave-active {
    transition: transform .3s;
}
.slide-reverse-leave-active {
    transition: transform .15s;
    transform: translateX(100%);
}
.slide-reverse-enter {
    transform: translateX(-90%);
}




.new-publication-screen.slide-bottom-enter-active,
.keyboard-holder.slide-bottom-enter-active,
.keyboard-holder.slide-bottom-leave-active,
.new-publication-screen.slide-bottom-leave-active {
    transition: transform .3s;
}
.new-publication-screen.slide-bottom-enter,
.keyboard-holder.slide-bottom-enter {
    transform: translateY(100%);
}
.keyboard-holder.slide-bottom-leave-active,
.new-publication-screen.slide-bottom-leave-active {
    transform: translateY(100%);
    position: absolute;
}
.slide-bottom-move {
    transition: transform .3s;
}




.slide-back-button-enter-active, .slide-back-button-leave-active {
    transition: transform .3s, opacity .25s;
}
.slide-back-button-leave-active {
    transition: transform .3s;
    transform: translateX(-100%);
    opacity: .1;
    position: absolute;
}
.slide-back-button-enter {
    transform: translateX(-100%);
}
.slide-back-button-move {
    transition: transform .3s;
}



.slide-popup-enter-active, .slide-popup-leave-active {
    transition: transform .25s;
}
.slide-popup-enter {
    transform: translateY(-100%);
}
.slide-popup-leave-active {
    transform: translateY(-100%);
}




.fade-slide-popup-enter-active.share-popup-overlay,
.fade-slide-popup-leave-active.share-popup-overlay {
    transition: opacity .25s;
}

.fade-slide-popup-enter.share-popup-overlay {
    opacity: .1;
}
.fade-slide-popup-leave-active.share-popup-overlay {
    opacity: .1;
}

.fade-slide-popup-enter-active .share-popup-wrapper,
.fade-slide-popup-leave-active .share-popup-wrapper {
    transition: transform .25s;
}

.fade-slide-popup-enter .share-popup-wrapper {
    transform: translateY(100%);
}
.fade-slide-popup-leave-active .share-popup-wrapper {
    transform: translateY(100%);
}




.keyboard-slide-enter {
    transform: translateY(100%);
}
.keyboard-slide-move {
    transition: transform .3s;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .15s;
}

.fade-enter, .fade-leave-active {
    opacity: .1;
}


.like-leave-active {
    transition: opacity .1s;
}
.like-leave-active {
    opacity: .2;
}
.icon-like-active.like-enter-active {
    animation: rotate-scale .3s;
}






.slide-fade-enter-active, .slide-fade-leave-active {
    transition: transform .15s, opacity .15s;
}
.attachments.slide-fade-leave-active {
    transform: translateY(200px);
    opacity: 0;
}
.slide-fade-enter {
    transform: translateY(100%);
    opacity: 0;
}




/*
    End Vue Animations
*/

@keyframes rotate-scale {
    0% {
        transform: rotate(0) scale(1);
    }
    30% {
        transform: rotate(-15deg) scale(1.2);
    }
    75% {
        transform: rotate(0) scale(1.05);
    }
    100% {
        transform: rotate(0);
    }
}
