*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 55px;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    /*height: 100vh;*/
    height: 1923px;
    display: flex;
    /*min-height: 1923px;*/
}

.page-container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(244, 247, 249);
    padding: 95px 42px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.header__cancel, .header__share {
    color: rgb(30, 161, 243);
}

.header__avatar {
    text-align: right;
}

.header__title {
    text-align: center;
}

.header__caption {
    font-size: 34px;
    color: rgb(119, 119, 119);
    line-height: 36px;
    min-height: 40px;
}

.chevron {
    vertical-align: middle;
}
.online {
    color: rgb(0, 122, 255);
}


.main {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


.new-post {
    padding: 30px 42px;
    flex-grow: 1;
    overflow: auto;
    min-height: 675px;
}
.new-post__head {
    display: flex;
}
.new-post__avatar {
    margin-right: 30px;
    width: 137px;
    height: 137px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}
.new-post__avatar-img {
    width: 100%;
    height: auto;
}
.new-post__name {
    margin-bottom: 20px;
}
.new-post__tools {
    display: flex;
}
.new-post-tool {
    border: 2px solid rgb(190, 190, 190);
    border-radius: 17px;
    color: rgb(152, 155, 166);
    position: relative;
    padding: 8px 70px;
    font-size: 45px;
    text-align: center;
}
.new-post-tool:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: rgb(152, 155, 166) transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 31px;
}
.new-post-tool:before {
    position: absolute;
    left: 20px;
}
.new-post-tool--globe:before {
    content: '';
    background: url(../img/globe.png) no-repeat;
    width: 34px;
    height: 34px;
    top: 50%;
    transform: translateY(-50%);
}
.new-post-tool--plus:before {
    content: '+';
    font-weight: 100;
    font-size: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    top: -4px;
}
.new-post-tool + .new-post-tool {
    margin-left: 15px;
}


.message-text {
    height: 450px;
    font-size: 68px;
    padding: 40px 0;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
.message-text::placeholder {
    color: rgb(152, 155, 166);
}
.message-text--fz-small {
    font-size: 50px;
}


.attachments {
    max-height: 1050px;
}
.attachments, .keyboard-additional {
    padding-top: 60px;
    border-radius: 40px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}
.attachments:before, .keyboard-additional:before {
    content: '';
    width: 141px;
    height: 22px;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.attachments__item {
    display: flex;
    padding: 58px 45px 58px 175px;
    position: relative;
}
.attachments__item + .attachments__item {
    border-top: 3px solid rgb(231, 231, 231);
}
.attachments__icon {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
}


.keyboard-wrapper {
    margin-top: 20px;
}
.keyboard-wrapper .keyboard-holder {
    position: static;
}

.keyboard-additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px 45px 45px;
}
.keyboard-additional__icons {
    display: flex;
}
.keyboard-additional__icon + .keyboard-additional__icon {
    margin-left: 50px;
}



.keyboard-tools__img {
    width: 100%;
}





/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .1s, opacity .1s;
}
.scale-enter, .scale-leave-active {
    transform: scale(.35);
    opacity: .3;
}



.slide-fade-enter-active, .slide-fade-leave-active {
    transition: transform .15s, opacity .15s;
}
.attachments.slide-fade-leave-active {
    transform: translateY(200px);
    opacity: 0;
}
.slide-fade-enter {
    transform: translateY(100%);
    opacity: 0;
}

/*
    End Vue Animations
*/