*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.header {
    background-color: rgb(249, 249, 249);
    padding: 49px 29px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 2px solid rgb(220, 220, 220);
}


.header__back {
    font-size: 40px;
    position: absolute;
    left: 29px;
    bottom: 38px;
    width: 215px;
    color: rgb(0, 122, 255);
}

.header__title {
    text-align: center;
}

.header__name {
    font-size: 50px;
    letter-spacing: -1.2px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.header__caption {
    font-size: 36px;
    color: rgb(156, 156, 156);
    line-height: 36px;
    min-height: 40px;
    font-weight: 300;
}

.header__tools {
    display: flex;
    align-items: center;
    position: absolute;
    right: 29px;
    bottom: 45px;
}
.header__tool + .header__tool {
    margin-left: 40px;
}
.header__tool-img {
    /*width: 60px;*/
}
.icon-call {
    width: 57px;
}
.icon-video-call {
    width: 80px;
}

.chevron {
    vertical-align: middle;
}


.main {
    padding-top: 193px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    overflow: auto;
    font-size: 50px;
}
.interlocutor-is-typing {
    padding-bottom: 30px;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}
.bubble-holder {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    flex-shrink: 0;
}
.bubble-holder--typing {
    margin-bottom: 0;
    padding-bottom: 0;
}
.bubble-avatar-wrapper {
    margin-right: 20px;
}
.bubble-avatar {
    width: 79px;
    height: 79px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    margin-bottom: 10px;
}
.avatar {
    width: 100%;
    height: auto;
}
.bubble-avatar-wrapper--with-dot {
    position: relative;
}
.bubble-avatar-wrapper--with-dot:after {
    content: '';
    width: 40px;
    height: 40px;
    background-color: rgb(73, 195, 42);
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    bottom: 6px;
    right: -4px;
}
.bubble {
    background-color: #f0f0f0;
    padding: 26px;
    max-width: 750px;
    border-radius: 55px;
}
.bubbles-list > * {
    margin-bottom: 30px;
}
.bubble-holder.is-outgoing {
    align-self: flex-end;
}
.bubble-holder.is-outgoing .bubble {
    background-color: #007AFF;
    color: #fff;
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 703px;
}

.input-bar-wrapper {
    will-change: margin;
    transition: margin .323s;
    position: relative;
    flex-shrink: 0;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    padding: 20px 140px 20px 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 137px;
}


.input-bar__tools {
    display: flex;
    align-items: center;
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.input-bar__tool + .input-bar__tool {
    margin-left: 60px;
}


.input-bar__textarea-holder {
    /*position: absolute;*/
    /*right: 140px;*/
    width: 390px;
    position: relative;
    transition: width .3s;
}

.input-bar__textarea-holder--expanded {
    width: 800px;
 }

.input-bar__textarea-embedded {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.message-text {
    vertical-align: middle;
    border-radius: 48px;
    height: 96px;
    border: 3px solid rgb(151, 151, 151);
    resize: none;
    outline: none;
    font-size: 48px;
    font-family: sans-serif;
    padding: 20px 80px 20px 28px;
    width: 100%;
    background: #fff;
    max-height: 440px;
    caret-color: rgb(94, 161, 227);
}
.message-text::placeholder {
    color: rgb(151, 151, 151);
}
.input-bar__arrow {
    position: absolute;
    left: 40px;
    bottom: 23px;
}
.input-bar__sending-tools {
    width: 58px;
    height: 58px;
    /*margin-bottom: 20px;*/
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.input-bar__send {
    height: 54px;
}
.input-bar__like {
    height: inherit;
    width: inherit;
}





/*
    Vue Animations
*/
.scale-in-enter-active, .scale-in-leave-active {
    transition: all .15s;
}
.input-bar__tools.scale-in-enter, .scale-in-enter.scale-in-leave-active {
    opacity: .3;
}
.input-bar__arrow.scale-in-enter-active {
    animation: bounce-in .4s;
}




.slide-enter-active, .slide-leave-active {
    transition: all .2s;
}

.slide-enter, .slide-leave-active {
    transform: translateY(20px);
    opacity: .3;
}


.sending-enter-active, .sending-leave-active {
    transition: all .15s;
}
.input-bar__like {
    will-change: transform;
}
.input-bar__like.sending-enter-active {
    animation: rotate .25s;
}
.input-bar__like.sending-leave-active {
    transform: scale(.8);
    opacity: .3;
}
.input-bar__send.sending-enter-active {
    animation: bounce-in .25s;
}
.input-bar__send.sending-leave-active {
    transform: scale(.8);
    opacity: .3;
}





.slide-fade-enter-active, .slide-fade-leave-active {
    transition: transform .2s, opacity .3s;
}
.slide-fade-leave-active {
    transform: translateY(40px);
    opacity: 0;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/


@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes rotate {
    0% {
        transform: rotate(25deg) scale(.9);
    }
    30% {
        transform: rotate(-15deg) scale(1);
    }
    75% {
        transform: rotate(5deg) scale(1.05);
    }
    100% {
        transform: rotate(0);
    }
}










/*
    CSS Animations
*/
@keyframes jump {
    0% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.typing {
    color: rgb(143, 143, 143);
}

.typing span {
    font-size: 1.1em;
    margin: 0 3px;
    display: inline-block;
    vertical-align: middle;
    will-change: transform;
    animation-name: jump;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}