*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.header {
    background-color: rgb(249, 249, 249);
    padding: 39px 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__back, .header__avatar {
    width: 160px;
}

.header__avatar-frame {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
}

.avatar {
    width: 100%;
    height: auto;
}

.header__back {
    color: rgb(0, 122, 255);
}
.header__avatar {
    text-align: right;
}

.header__title {
    text-align: center;
}

.header__name {
    font-size: 50px;
    letter-spacing: -1.2px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.header__caption {
    font-size: 34px;
    color: rgb(119, 119, 119);
    line-height: 36px;
    min-height: 40px;
}

.chevron {
    vertical-align: middle;
}
.online {
    color: rgb(0, 122, 255);
}


.main {
    padding-top: 193px;
    height: 100%;
    background: url('../img/1a ios51edc046eb80046ee4755ee71d0f19ca.png');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    overflow: auto;
    font-size: 50px;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}
.bubble {
    background-color: #fff;
    padding: 18px 19px;
    max-width: 973px;
    border-radius: 17px;
    margin-bottom: 30px;
}
.bubbles-list > * {
    margin-bottom: 30px;
}
.bubble.is-outgoing {
    align-self: flex-end;
    background-color: rgb(226, 253, 202);
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 775px;
}

.input-bar-wrapper {
    will-change: margin;
    transition: margin .323s;
    position: relative;
    flex-shrink: 0;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    padding: 20px 20px 20px 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(249, 249, 249);
}


.input-bar__attachment {
    margin-right: 30px;
}

.message-text {
    border-radius: 48px;
    flex-basis: 822px;
    height: 96px;
    border: 1px solid rgb(217, 220, 222);
    resize: none;
    outline: none;
    font-size: 48px;
    font-family: sans-serif;
    padding: 20px 28px;
    width: 100%;
    background: transparent;
    max-height: 400px;
}

.input-bar__sending-tools {
    width: 105px;
    display: flex;
    justify-content: flex-end;
}

.input-bar__mic {
    width: 47px;
    margin-right: 20px;
}

.mic {
    height: 100%;
}



/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .1s, opacity .1s;
}
.scale-enter, .scale-leave-active {
    transform: scale(.35);
    opacity: .3;
}



.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/











/*
    CSS Animations
*/
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        /*opacity: .2;*/
        transform: scale(.8);
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        /*opacity: 1;*/
        transform: scale(1.2);
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        /*opacity: .2;*/
        transform: scale(.8);
    }
}

.typing {
    color: rgb(0, 122, 255);
}

.typing span {
    display: inline-block;
    font-size: .65em;
    vertical-align: middle;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}