*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 55px;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 14px 48px 35px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
}
.header__user {
    display: flex;
    margin-left: 50px;
}
.header__avatar {
    margin-right: 25px;
    width: 112px;
    height: 112px;
    overflow: hidden;
    border-radius: 50%;
}
.header__dot-separator {
    font-size: 30px;
    margin-left: 50px;
}
.header__globe {
    vertical-align: middle;
}
.header__date {
    font-size: 45px;
    color: rgb(142, 145, 149);
}
.header__menu {
    margin-left: auto;
    display: flex;
    font-size: 30px;
}

.avatar {
    width: 100%;
    height: auto;
    vertical-align: middle;
}




.main {
    padding-top: 172px;
    height: 100%;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.scrollable-wrapper {
    overflow: auto;
}
.scrollable-wrapper::-webkit-scrollbar {
    display: none;
}
.fb-post__tools {
    margin-top: 70px;
    padding: 25px 64px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgb(227, 227, 227);
}
.fb-post__tools:before {
    content: '';
    background-color: rgb(238, 238, 238);
    height: 1px;
    width: 92%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.fb-post__tool {
    display: flex;
}
.fb-post__tool-icon {
    margin-right: 10px;
}

.fb-post__reactions-holder {
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 15px 34px;
}

.fb-post-reactions {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.fb-post-reactions__item {
    position: relative;
    width: 51px;
}
.fb-post-reactions__img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.fb-post-reactions__item:not(:last-child) {
    margin-left: -10px;
}

.icon-heart {
    width: 42px;
    height: 42px;
}
.fb-post__reactions-authors {
    margin-left: 10px;
}
.fb-post__comments-count {
    margin-left: 20px;
}


.fb-comments {
    padding: 30px 58px 30px 28px;
}

.fb-comment {
    display: flex;
    align-items: flex-start;
}
.fb-comment + .fb-comment {
    margin-top: 40px;
}
.fb-comment__avatar {
    width: 111px;
    height: 111px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 20px;
}

.fb-comment__main {
    position: relative;
}

.fb-comment__bubble {
    border-radius: 40px;
    background-color: rgb(237, 241, 242);
    padding: 20px 40px;
}

.fb-comment__title {
    font-size: 45px;
    margin-bottom: 20px;
}

.fb-comment__meta {
    padding: 10px 40px;
    color: rgb(142, 147, 158);
    font-size: 40px;
    display: flex;
}

.fb-comment__meta-item + .fb-comment__meta-item {
    margin-left: 50px;
}

.fb-comment-reactions {
    font-size: 32px;
    background-color: #fff;
    border-radius: 40px;
    padding: 2px 5px;
    position: absolute;
    right: 10px;
    bottom: 35px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
}
.fb-comment-reactions__group {
    display: flex;
    align-items: center;
}


.write-comment {
    padding: 17px 33px 37px 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: rgb(99, 100, 106);
    background-color: rgb(246, 247, 248);
    will-change: margin;
    transition: margin .323s;
    position: relative;
    margin-bottom: 141px;
}
.icon-camera {
    width: 61px;
}
.write-comment__group {
    display: flex;
    align-items: center;
}
.write-comment__attachments {
    display: flex;
    align-items: center;
}
.write-comment__attachment + .write-comment__attachment {
    margin-left: 40px;
}
.write-comment__img {
    vertical-align: middle;
}
.write-comment__send {
    margin-left: 70px;
}


.fb-panel {
    background-color: #fff;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.fb-panel__img {
    vertical-align: middle;
}


.footer {
    flex-shrink: 0;
    background-color: #fff;
}



.message-text {
    flex-grow: 1;
    font-size: 54px;
    height: 90px;
    background-color: transparent;
    padding: 27px 10px 0 50px;
    border: none;
    outline: none;
    max-height: 320px;
    margin-right: 20px;
    resize: none;
}

.write-comment .keyboard-holder {
    left: 0;
}




.fade-enter-active, .fade-leave-active {
    transition: opacity .15s;
}

.fade-enter, .fade-leave-active {
    opacity: .1;
}