*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    touch-action: manipulation;
    font-size: 20px;
}

body {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
}

.page-wrapper {
    display: flex;
}

.page-container {
    color: #fff;
    width: 375px;
    height: 667px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: #3a404b url(../img/voice-call-bg.jpg);
    background-size: contain;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    letter-spacing: 0.8px;
}
.top-bar__tools {
    flex-basis: 30%;
}
.top-bar__time {
    font-size: .6rem;
}
.top-bar__tools:last-child {
    text-align: right;
}
.top-bar__img {
    vertical-align: middle;
}
.icon-battery {
    width: 25px;
}


.main {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px 0;
}


.interlocutor-bar {
    display: flex;
    justify-content: space-between;
}
.interlocutor-bar__name {
    margin-bottom: 8px;
}
.interlocutor-bar__container {
    text-align: center;
}
.interlocutor-bar__time {
    font-size: .8rem;
    opacity: .8;
}


.interlocutor-photo {
    align-self: center;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
}
.interlocutor-photo__img {
    width: 100%;
    height: auto;
}



.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrapper .button {
    font-size: 24px;
}

.page-wrapper .chat-settings {
    font-size: 1rem;
}
.page-wrapper .chat-settings__input {
    font-size: 1.25rem;
}