.main, .keyboard-holder {
    will-change: transform;
    transition: transform .3s;
}
.keyboard-holder {
    box-sizing: border-box;
    width: 100%;
}
.keyboard-holder {
    position: absolute;
    top: 100%;
}
.keyboard {
    background-color: #d2d5db;
    padding: 2% 1%;
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.capitalize {
    text-transform: uppercase;
}
.fr .key {

}
.en .chars-board .key, .fr .chars-board .key {
    flex-shrink: 0;
    width: 91px;
    margin: 17px 7px;
}
.en .chars-board .key:nth-child(-n+10),
.fr .chars-board .key:nth-child(-n+10) {
    margin-top: 0;
}
.en .chars-board .key:nth-child(n+19),
.fr .chars-board .key:nth-child(n+19) {
    margin-bottom: 0;
}
.en .chars-board .key:nth-child(11),
.fr .chars-board .key:nth-child(11) {
    margin-left: auto;
}
.en .chars-board .key:nth-child(19),
.fr .chars-board .key:nth-child(19) {
    margin-right: auto;
}
.en .chars-board .key.gray,
.fr .chars-board .key.gray {
    width: 127px;
    margin-right: 20px;
}
.en .chars-board .key.gray:last-child,
.fr .chars-board .key.gray:last-child {
    margin-left: 20px;
    margin-right: 7px;
}
.key {
    height: 121px;
    line-height: 121px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #898b8f;
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
}
.key.is-scaled {
    /*position: relative;*/
    border-left: 1px solid #898b8f;
    border-right: 1px solid #898b8f;
}
.key.is-scaled:before {
    content: attr(data-active);
    position: absolute;
    width: 160%;
    height: 126%;
    line-height: 1.2;
    font-size: 1.6em;
    background-color: inherit;
    bottom: 113%;
    border-radius: 15px 15px 40px 40px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #898b8f;
    border-bottom: none;
}
.key.is-scaled:after {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: 27px;
    bottom: 93%;
    left: -1px;
    background-color: inherit;
    border-left: 1px solid #898b8f;
    border-right: 1px solid #898b8f;
}
.key.mic, .key.lang {
    padding: 1%;
}
.key.gray.is-pressed, .key.gray.is-active {
    background-color: #fff;
}
.key.gray, .key.is-pressed {
    background-color: #adb3bd;
    box-shadow: 0 1px 0 0 #898b8f;
}
.key.fz-s {
    font-size: .7em;
}
.key.fz-xs {
    font-size: .55em;
}
.key.switch-boards {
    flex-basis: 8%;
}
.key.space {
    flex-basis: 36%;
}
.key.enter {
    flex-basis: 15%;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row + .row {
    margin-top: 3%;
}
.row:last-child {
    margin-left: -1%;
    margin-right: -1%;
}
.row:last-child .key {
    width: auto;
    flex-grow: 1;
    margin: 0 1%;
}
.stickers.is-hidden {
    transform: scale(0);
    opacity: 0;
    transition: all .4s;
}
.input-value-holder {
    height: 100%;
}
.input-value {
    resize: none;
    outline: none;
    font-size: 3em;
    font-family: sans-serif;
    padding: 2.5% 3.5%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
}

.en .chars-board, .fr .chars-board {
    margin: 0 -7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chars-board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 34px 14px;
}

.symbols-board {
    font-size: 60px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 34px 14px;
}

.main-controls {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    margin-left: -7px;
    margin-right: -7px;
}
.symbols-controls {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}
.symbols-controls .big-control:first-child {
    margin-right: 33px;
    font-size: 44px;
}
.symbols-controls .big-control:last-child {
    margin-left: 33px;
}
.big-control {
    flex-basis: 12%;
}
.symbols-controls .key:not(.big-control) {
    flex-grow: 1;
    margin: 0 7px;
    flex-basis: 12%;
}
.main-controls .key {
    width: auto;
    flex-grow: 1;
    margin: 0 7px;
}



.key-grip {
    position: absolute;
    top: -21px;
    left: 0;
    width: 100%;
    height: 142px;
    background: #fff;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #898b8f;
    border-top: 0;
}
.key-additional-symbols {
    position: absolute;
    top: -150px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px 15px;
    border: 1px solid #898b8f;
    display: flex;
    box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.3);
}
.additional-key {
    width: 90px;
    line-height: 103px;
    border-radius: 10px;
}
.additional-key + .additional-key {
    margin-left: 10px;
}
.additional-key:hover {
    background-color: rgb(21, 126, 253);
    color: #fff;
}