<template>
  <ul class="info">
    <li class="info__item info__item--filled info-item" @click="showModal('datePopupIsVisible')">
      {{ eventTimeResult }}
    </li>
    <li class="info__item info-item"
        :class="{ 'info__item--filled' : eventPlace.place }"
        @click="showModal('placePopupIsVisible')">
      {{ eventPlace.place ? eventPlace.place : 'Местонахождение' }}
    </li>
    <li class="info__item info-item">
      Добавть информацию
      <img src="../../assets/create-event/right-arrow.svg" alt="" class="arrow">
    </li>
  </ul>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'CreateEventInfo',
  computed: {
    ...mapGetters([
      'datePopupIsVisible',
      'placePopupIsVisible',
      'eventTimeResult',
      'eventPlace'
    ])
  },
  methods: {
    ...mapActions([
      'hideModal',
      'showModal'
    ])
  }
}
</script>

<style scoped lang="scss">
  .info {
    &__item {
      color: #CFD0D4;
      & + & {
        border-top: 1px solid #DBDBDC;
      }
      &:active {
        background-color: transparentize(#000, .85);
        transition: background-color .3s;
      }
      &--filled {
        color: #000;
      }
    }
  }

  .info-item {
    display: flex;
    align-items: center;
    padding: 25px 39px;
  }

  .arrow {
    margin-left: auto;
  }
</style>
