<template>
  <div class="add-event-title">
    <OutgoingMessage class="add-event-title__textarea"
                     placeholder="Название мероприятия"
                     :value="value"
                     @input.native="$emit('input', $event.target.value)"
                     @focus.native="$emit('input-was-focused')"
                     @blur.native="$emit('input-was-blurred')"></OutgoingMessage>
    <figure class="add-event-title__avatar rounded">
      <img src="../../assets/create-event/photo-camera.svg" alt="" class="flexible-img">
    </figure>
  </div>
</template>

<script>
import OutgoingMessage from '@quadrupleNestingCommon/messaging/vue-outgoing-message'

export default {
  name: 'CreateEventName',
  components: {
    OutgoingMessage
  },
  props: {
    value: String
  }
}
</script>

<style scoped lang="scss">
  .add-event-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 39px;
    &__textarea {
      font-size: 60px;
      flex-grow: 1;
      height: 72px;
      max-height: 72px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__avatar {
      width: 80px;
      height: 80px;
    }
  }
</style>
