<template>
  <div class="ce-head">
    <button class="ce-head__btn fb-txt-button"
            @click="$emit('cancel-was-clicked')">
      Отмена
    </button>
    <div class="ce-head__container">
      <strong class="ce-head__caption">
        Создать мероприятие
      </strong>
      <span class="ce-head__type">
        {{ activeType.alias }}
      </span>
    </div>
    <button class="ce-head__btn fb-txt-button"
            @click="$emit('create-was-clicked')"
            :disabled="isDisabled">
      Создать
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CreateEventHead',
  props: {
    isDisabled: {
      value: Boolean,
      default: false
    }
  },
  data () {
    return {
      eventTypes: [
        {
          type: 'closed',
          alias: 'Закрытое'
        },
        {
          type: 'opened',
          alias: 'Открытое'
        },
        {
          type: 'groupEvent',
          alias: 'Мероприятие группы'
        }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'selectedEventType'
    ]),
    activeType () {
      return this.eventTypes.find(obj => obj.type === this.selectedEventType)
    }
  }
}
</script>

<style scoped lang="scss">
  .ce-head {
    background-color: #F6F7F9;
    padding: 37px 37px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__container {
      text-align: center;
    }
    &__caption {
      font-size: 55px;
      display: block;
      margin-bottom: 5px;
    }
  }
</style>
