<template>
  <div class="create-event-modal" v-click-outside="hide">
    <ul class="create-event-modal__list">
      <li class="create-event-modal__item"
          v-for="eventType in eventTypes"
          :key="eventType.type"
          @click="selectEventType(eventType.type)">
        <div class="create-event-modal__name">
          {{ eventType.name }}
        </div>
        <p class="create-event-modal__description">
          {{ eventType.description }}
        </p>
      </li>
    </ul>
    <button class="create-event-modal__cancel" @click="hideModal('modalIsVisible')">
      Отмена
    </button>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import {mapActions} from 'vuex'

export default {
  name: 'CreateEventModal',
  directives: {
    ClickOutside
  },
  data () {
    return {
      eventTypes: [
        {
          type: 'closed',
          alias: 'Закрытое',
          name: 'Создать закрытое мероприятие',
          description: 'Мероприятие увидят только приглашенные гости. Вы можете разрешить гостям приглашать друзей.'
        },
        {
          type: 'opened',
          alias: 'Открытое',
          name: 'Создать открытое мероприятие',
          description: 'Теперь все могут видеть ваше мероприятие и находить его, даже если вы не являетесь друзьями.'
        },
        {
          type: 'groupEvent',
          alias: 'Мероприятие группы',
          name: 'Создать мероприятие группы',
          description: 'Только выбранные вами участники группы смогут видеть мероприятие, которое вы создадите.'
        }
      ]
    }
  },
  methods: {
    ...mapActions([
      'hideModal',
      'showModal',
      'selectEventType'
    ]),
    hide () {
      this.hideModal('modalIsVisible')
    }
  }
}
</script>

<style scoped lang="scss">
  .create-event-modal {
    &__list {
      background-color: #fff;
      border-radius: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &__item {
      padding: 34px 77px;
      & + & {
        border-top: 1px solid transparentize(#000, .95);
      }
    }
    &__name {
      font-size: 50px;
      color: #383838;
    }
    &__description {
      font-size: 35px;
      color: #61676B;
    }
    &__cancel {
      height: 153px;
      line-height: 153px;
      font-size: 50px;
      color: #007AFF;
      border-radius: 40px;
      margin-top: 40px;
      text-align: center;
      background-color: #fff;
      display: block;
      width: 100%;
    }
  }
</style>
