*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.header {
    background-color: #617d8a;
    padding: 39px 40px 39px 42px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
}

.header__back {
    font-size: 40px;
    color: rgb(0, 122, 255);
    width: 140px;
}

.header__user-info {
    display: flex;
    align-items: center;
}

.header__avatar {
    height: 106px;
    width: 106px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 40px;
}

.avatar {
    width: 100%;
    height: auto;
}

.header__name {
    font-size: 50px;
    letter-spacing: -1.2px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.header__caption {
    font-size: 30px;
    /*color: rgb(119, 119, 119);*/
    line-height: 36px;
    min-height: 40px;
}

.header__menu {
    margin-left: auto;
}


.main {
    padding-top: 193px;
    height: 100%;
    background-color: rgb(240, 243, 245);
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 91%;
    overflow: auto;
    flex-grow: 1;
    font-size: 50px;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}
.bubble-holder {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    flex-shrink: 0;
}
.bubble-avatar {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.bubble {
    color: #fff;
    background-color: #617d8a;
    padding: 26px;
    max-width: 780px;
    border-radius: 50px;
}
.bubbles-list > * {
    margin-bottom: 30px;
}
.bubble-holder.is-outgoing {
    align-self: flex-end;
}
.bubble-holder.is-outgoing .bubble {
    background-color: #fff;
    color: #000;
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 724px;
}

.input-bar-wrapper {
    will-change: margin;
    transition: margin .323s;
    position: relative;
    flex-shrink: 0;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    padding: 20px 20px 20px 40px;
    display: flex;
    align-items: flex-end;
}


.input-bar__add {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 84px;
    height: 84px;
    flex-shrink: 0;
}
.plus-icon {
    width: 100%;
    height: auto;
}

.message-text {
    flex-grow: 1;
    height: 130px;
    border-radius: 66px;
    resize: none;
    outline: none;
    font-size: 48px;
    font-family: sans-serif;
    padding: 39px 125px 39px 28px;
    background: #fff;
    border: none;
    border-top: 1px solid #ccc;
}


.input-bar__send {
    cursor: pointer;
    position: absolute;
    bottom: 33px;
    right: 75px;
    text-align: center;
}
.input-bar__send-caption {
    color: #617d8a;
    font-size: 25px;
}

.input-bar__group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

.mic {
    height: 100%;
}




/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .15s, opacity .15s;
}
.scale-leave-active {
    transform: translateX(100px);
    opacity: .3;
}
.scale-enter {
    transform: scale(.35);
}



.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/











/*
    CSS Animations
*/
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.typing span {
    font-size: .5em;
    vertical-align: middle;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}