<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="utf-8"/>
	<meta content="width=1080px, maximum-scale=1.0" name="viewport"/>
	<link href="./img/favicon.png" rel="shortcut icon"/>
	<link href="./css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="page-wrapper" id="app">

	<div class="page-container" :class="{ [screenSettings.currentLang] : screenSettings.currentLang }">

		<transition name="fade-header">
			<header v-if="showComments" class="comments-header" key="comments">
				<div class="comments-header__tool" @click="showComments = false">
					<img src="./img/back-arrow.svg" alt="" class="comments-header__img flexible-img">
				</div>
				{{ currentLang.comments.head }}
				<div class="comments-header__tool">
					<img src="./img/direct.svg" alt="" class="comments-header__img flexible-img">
				</div>
			</header>
			<header v-else class="header" key="feed">
				<figure class="header__user">
					<img src="./img/icon-user.svg" class="flexible-img" alt="">
				</figure>
				<div class="header__name">{{ screenSettings.username }}</div>
				<ul class="header__tools">
					<li class="header__tool">
						<img src="./img/archive.svg" class="flexible-img" alt="">
					</li>
				</ul>
			</header>
		</transition>

		<transition :name="animationName()">
			<comments-screen v-if="showComments"
							 key="comments"
							 :avatar="screenSettings.avatar"
							 :username="screenSettings.username"
							 :lang="screenSettings.currentLang"
							 v-model="screenSettings.posts[selectedPostIndex]"></comments-screen>

			<div v-else key="feed" class="main">
				<div class="main__container">
					<div class="profile-info">
						<div class="profile-info__row">
							<div class="profile-info__avatar-holder">
								<figure class="profile-info__avatar">
									<img :src="screenSettings.avatar" alt="" class="profile-info__img flexible-img">
								</figure>
							</div>
							<div class="profile-info__stats-holder">
								<ul class="profile-info__stats">
									<li class="profile-info__meta">
										<div class="profile-info__count">
											107
										</div>
										<span class="profile-info__caption">
										{{ currentLang.meta[0] }}
									</span>
									</li>
									<li class="profile-info__meta">
										<div class="profile-info__count">
											10.5m
										</div>
										<span class="profile-info__caption">
										{{ currentLang.meta[1] }}
									</span>
									</li>
									<li class="profile-info__meta">
										<div class="profile-info__count">
											116
										</div>
										<span class="profile-info__caption">
										{{ currentLang.meta[2] }}
									</span>
									</li>
								</ul>
								<button class="profile-info__button">
									{{ currentLang.changeProfileBtn }}
								</button>
							</div>
						</div>

						<div class="profile-info__description">
							<h3 class="profile-info__name">
								{{ screenSettings.name }}
							</h3>
						</div>
						<p class="profile-info__bio">
							{{ screenSettings.bio }}
						</p>
						<!--<div class="profile-info__stories">
							<div class="add-story">
								<figure class="add-story__holder">
									<img src="./img/plus-big.svg" class="add-story__img flexible-img" alt="">
								</figure>
							</div>
						</div>-->
					</div>

					<ul class="view-settings">
						<li class="view-settings__item">
							<img src="./img/icon-tile.svg" class="flexible-img" alt="">
						</li>
						<li class="view-settings__item">
							<img src="./img/icon-list.svg" class="flexible-img" alt="">
						</li>
						<li class="view-settings__item">
							<img src="./img/icon-bookmark.svg" class="flexible-img" alt="">
						</li>
						<li class="view-settings__item">
							<img src="./img/icon-mentions.svg" class="flexible-img" alt="">
						</li>
					</ul>

					<div class="posts-list">
						<div v-for="(post, postIndex) in screenSettings.posts" class="post">
							<div class="post__author">
								<div class="post__author-container">
									<figure class="post__avatar">
										<img :src="screenSettings.avatar" alt="" class="post__avatar-img flexible-img">
									</figure>
									{{ screenSettings.username }}
								</div>
								<span class="post__bookmark">
									<img src="./img/bookmark.svg" alt="" class="post__meta-img icon-bookmark">
								</span>
							</div>
							<div class="post__photo">
								<img :src="post.photo" class="flexible-img" alt="">
								<transition name="bounce">
									<figure v-if="post.isLiked" class="post__like">
										<img
												src="./img/like-white.svg"
												class="post__like-img flexible-img"
												alt="">
									</figure>
								</transition>
							</div>
							<div class="post__info">
								<ul class="post__tools">
									<li class="post__tools-item">
										<transition name="scale" mode="out-in">
											<img
													v-if="post.isLiked"
													@click="toggleLike(post)"
													key="on"
													src="./img/like-filled.svg"
													alt=""
													class="post__tools-img flexible-img">
											<img
													v-else
													@click="toggleLike(post)"
													key="off"
													src="./img/like.svg"
													alt=""
													class="post__tools-img flexible-img">
										</transition>
									</li>
									<li class="post__tools-item" @click="goToComments(postIndex)">
										<img src="./img/comment.svg" alt="" class="post__tools-img flexible-img">
									</li>
									<li class="post__tools-item">
										<img src="./img/direct.svg" alt="" class="post__meta-img flexible-img">
									</li>
								</ul>
								<div class="post__likes">
									{{ currentLang.likes }}: {{ post.likes | addSpaceToLikes }}
								</div>
								<div class="post__date">
									{{ post.date }}
								</div>

							</div>
						</div>
					</div>
				</div>

				<ul class="toolbar">
					<li class="toolbar__item">
						<img src="./img/icon-home.svg" alt="" class="toolbar__img flexible-img">
					</li>
					<li class="toolbar__item">
						<img src="./img/icon-search.svg" alt="" class="toolbar__img flexible-img">
					</li>
					<li class="toolbar__item">
						<img src="./img/icon-plus.svg" alt="" class="toolbar__img flexible-img">
					</li>
					<li class="toolbar__item">
						<img src="./img/icon-heart.svg" alt="" class="toolbar__img flexible-img">
					</li>
					<li class="toolbar__item">
						<img src="./img/icon-user-profile.svg" alt="" class="toolbar__img flexible-img">
					</li>
				</ul>
			</div>
		</transition>

		<loading-overlay v-if="loadingOverlayIsVisible"></loading-overlay>
	</div>

	<div class="tools-col">
		<switch-lang v-model="screenSettings.currentLang"></switch-lang>
		<chat-settings v-model="screenSettings" :database-ref="databaseRef"></chat-settings>
		<button class="button" @click="addNewPost">
			+ add post bellow
		</button>
	</div>

</div>







<!-- Vue templates -->
<script type="text/x-template" id="chat-settings-template">
	<div class="chat-settings-wrapper">
		<chat-settings-presets
				:inputs="inputs"
				:database-versions-ref="databaseVersionsRef"
				@version-was-selected="selectVersion"
				@version-remove-was-clicked="removeVersion"
				@select-default-was-clicked="selectDefault"></chat-settings-presets>

		<button
				class="chat-settings-button button"
				@click="$modal.show('chat-settings')">
			<span class="chat-settings-button__text">Chat Settings</span>
			<svg class="chat-settings-button__icon" viewBox="0 0 478.703 478.703">
				<g>
					<g>
						<path d="M454.2,189.101l-33.6-5.7c-3.5-11.3-8-22.2-13.5-32.6l19.8-27.7c8.4-11.8,7.1-27.9-3.2-38.1l-29.8-29.8    c-5.6-5.6-13-8.7-20.9-8.7c-6.2,0-12.1,1.9-17.1,5.5l-27.8,19.8c-10.8-5.7-22.1-10.4-33.8-13.9l-5.6-33.2    c-2.4-14.3-14.7-24.7-29.2-24.7h-42.1c-14.5,0-26.8,10.4-29.2,24.7l-5.8,34c-11.2,3.5-22.1,8.1-32.5,13.7l-27.5-19.8    c-5-3.6-11-5.5-17.2-5.5c-7.9,0-15.4,3.1-20.9,8.7l-29.9,29.8c-10.2,10.2-11.6,26.3-3.2,38.1l20,28.1    c-5.5,10.5-9.9,21.4-13.3,32.7l-33.2,5.6c-14.3,2.4-24.7,14.7-24.7,29.2v42.1c0,14.5,10.4,26.8,24.7,29.2l34,5.8    c3.5,11.2,8.1,22.1,13.7,32.5l-19.7,27.4c-8.4,11.8-7.1,27.9,3.2,38.1l29.8,29.8c5.6,5.6,13,8.7,20.9,8.7c6.2,0,12.1-1.9,17.1-5.5    l28.1-20c10.1,5.3,20.7,9.6,31.6,13l5.6,33.6c2.4,14.3,14.7,24.7,29.2,24.7h42.2c14.5,0,26.8-10.4,29.2-24.7l5.7-33.6    c11.3-3.5,22.2-8,32.6-13.5l27.7,19.8c5,3.6,11,5.5,17.2,5.5l0,0c7.9,0,15.3-3.1,20.9-8.7l29.8-29.8c10.2-10.2,11.6-26.3,3.2-38.1    l-19.8-27.8c5.5-10.5,10.1-21.4,13.5-32.6l33.6-5.6c14.3-2.4,24.7-14.7,24.7-29.2v-42.1    C478.9,203.801,468.5,191.501,454.2,189.101z M451.9,260.401c0,1.3-0.9,2.4-2.2,2.6l-42,7c-5.3,0.9-9.5,4.8-10.8,9.9    c-3.8,14.7-9.6,28.8-17.4,41.9c-2.7,4.6-2.5,10.3,0.6,14.7l24.7,34.8c0.7,1,0.6,2.5-0.3,3.4l-29.8,29.8c-0.7,0.7-1.4,0.8-1.9,0.8    c-0.6,0-1.1-0.2-1.5-0.5l-34.7-24.7c-4.3-3.1-10.1-3.3-14.7-0.6c-13.1,7.8-27.2,13.6-41.9,17.4c-5.2,1.3-9.1,5.6-9.9,10.8l-7.1,42    c-0.2,1.3-1.3,2.2-2.6,2.2h-42.1c-1.3,0-2.4-0.9-2.6-2.2l-7-42c-0.9-5.3-4.8-9.5-9.9-10.8c-14.3-3.7-28.1-9.4-41-16.8    c-2.1-1.2-4.5-1.8-6.8-1.8c-2.7,0-5.5,0.8-7.8,2.5l-35,24.9c-0.5,0.3-1,0.5-1.5,0.5c-0.4,0-1.2-0.1-1.9-0.8l-29.8-29.8    c-0.9-0.9-1-2.3-0.3-3.4l24.6-34.5c3.1-4.4,3.3-10.2,0.6-14.8c-7.8-13-13.8-27.1-17.6-41.8c-1.4-5.1-5.6-9-10.8-9.9l-42.3-7.2    c-1.3-0.2-2.2-1.3-2.2-2.6v-42.1c0-1.3,0.9-2.4,2.2-2.6l41.7-7c5.3-0.9,9.6-4.8,10.9-10c3.7-14.7,9.4-28.9,17.1-42    c2.7-4.6,2.4-10.3-0.7-14.6l-24.9-35c-0.7-1-0.6-2.5,0.3-3.4l29.8-29.8c0.7-0.7,1.4-0.8,1.9-0.8c0.6,0,1.1,0.2,1.5,0.5l34.5,24.6    c4.4,3.1,10.2,3.3,14.8,0.6c13-7.8,27.1-13.8,41.8-17.6c5.1-1.4,9-5.6,9.9-10.8l7.2-42.3c0.2-1.3,1.3-2.2,2.6-2.2h42.1    c1.3,0,2.4,0.9,2.6,2.2l7,41.7c0.9,5.3,4.8,9.6,10,10.9c15.1,3.8,29.5,9.7,42.9,17.6c4.6,2.7,10.3,2.5,14.7-0.6l34.5-24.8    c0.5-0.3,1-0.5,1.5-0.5c0.4,0,1.2,0.1,1.9,0.8l29.8,29.8c0.9,0.9,1,2.3,0.3,3.4l-24.7,34.7c-3.1,4.3-3.3,10.1-0.6,14.7    c7.8,13.1,13.6,27.2,17.4,41.9c1.3,5.2,5.6,9.1,10.8,9.9l42,7.1c1.3,0.2,2.2,1.3,2.2,2.6v42.1H451.9z" fill="#FFFFFF"/>
						<path d="M239.4,136.001c-57,0-103.3,46.3-103.3,103.3s46.3,103.3,103.3,103.3s103.3-46.3,103.3-103.3S296.4,136.001,239.4,136.001    z M239.4,315.601c-42.1,0-76.3-34.2-76.3-76.3s34.2-76.3,76.3-76.3s76.3,34.2,76.3,76.3S281.5,315.601,239.4,315.601z" fill="#FFFFFF"/>
					</g>
				</g>
			</svg>

		</button>

		<modal
				class="chat-settings"
				name="chat-settings"
				:width="1200"
				:height="'auto'">
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Change username:
				</label>
				<input
						v-model="inputs.username"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Upload profile avatar:
				</label>
				<vue-dropzone
						@vdropzone-success="getAvatar($event)"
						ref="dropzone"
						id="dropzone"
						:options="dropzoneOptions"></vue-dropzone>
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Profile name:
				</label>
				<input
						v-model="inputs.name"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Profile bio:
				</label>
				<textarea
						v-model="inputs.bio"
						@input="emitInput"
						class="chat-settings__textarea chat-settings__input"></textarea>
			</div>
			<div class="chat-settings__row chat-settings__row--with-background"
				 v-for="(post, postIndex) in inputs.posts">
				<h3 class="chat-settings__title">{{ postIndex + 1 }} post settings: </h3>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Post image:
					</label>
					<vue-dropzone
							@vdropzone-success="getAvatar($event, 'posts', postIndex, 'photo')"
							:id="`dropzoneId${postIndex}`"
							:options="dropzoneOptions"></vue-dropzone>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Post likes:
					</label>
					<input
							v-model="post.likes"
							@input="emitInput"
							type="number"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Post date:
					</label>
					<input
							v-model="post.date"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>

				<h3 class="chat-settings__title">
					{{ postIndex + 1 }} post comments:
				</h3>
				<div class="chat-settings__row">
					<button class="button"
							@click="addElemToArray(post, 'comments', {
								name: 'Some name',
								avatar: './img/post-avatar.png',
								text: 'Some text',
								time: '1с',
								likesCount: 0
							})">
						add new comment
					</button>
				</div>
				<div class="chat-settings__row">
					<button class="button button--danger"
							@click="removeElemFromArray(post.comments)">
						remove last comment
					</button>
				</div>
				<template v-if="post.comments.length">
					<div class="chat-settings__row chat-settings__row--with-background"
						 v-for="(comment, commentIndex) in post.comments">
						<div class="chat-settings__row">
							<label class="chat-settings__label">
								{{ commentIndex + 1 }} Comment author name:
							</label>
							<input
									v-model="comment.name"
									@input="emitInput"
									type="text"
									class="chat-settings__input">
						</div>
						<div class="chat-settings__row">
							<label class="chat-settings__label">
								{{ commentIndex + 1 }} Comment author avatar:
							</label>
							<vue-dropzone
									@vdropzone-success="getAvatar($event, 'posts', postIndex, 'comments', commentIndex, 'avatar')"
									:id="`commentAuthorAvatar{commentIndex}`"
									:options="dropzoneOptions"></vue-dropzone>
						</div>
						<div class="chat-settings__row">
							<label class="chat-settings__label">
								{{ commentIndex + 1 }} Comment text:
							</label>
							<textarea
									v-model="comment.text"
									@input="emitInput"
									class="chat-settings__textarea"></textarea>
						</div>
						<div class="chat-settings__row">
							<label class="chat-settings__label">
								{{ commentIndex + 1 }} Comment time:
							</label>
							<input
									v-model="comment.time"
									@input="emitInput"
									type="text"
									class="chat-settings__input">
						</div>
						<div class="chat-settings__row">
							<label class="chat-settings__label">
								{{ commentIndex + 1 }} Comment likes count:
							</label>
							<input
									v-model="comment.likesCount"
									@input="emitInput"
									type="number"
									class="chat-settings__input">
						</div>
					</div>
				</template>
				<div v-else class="chat-settings__row">
					No comments yet...
				</div>
			</div>


			<chat-settings-save
					:inputs="inputs"
					:database-ref="databaseRef"
					:database-versions-ref="databaseVersionsRef"
					:version-key="currentVersionKey"
					@version-name-was-added="addNameVersion"
					@new-version-was-added="setCreatedVersion"></chat-settings-save>
		</modal>
	</div>
</script>
<!-- End of vue templates -->



<script src="./dist/bundle.js"></script>
</body>
</html>