*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 44px;
    font-family: -apple-system, Helvetica, Arial, serif;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.comments-header {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .15);
    padding: 70px 31px 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header {
    background-color: rgb(250, 250, 250);
    padding: 50px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__user {
    position: relative;
    font-size: 55px;
}
.header__user:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: rgb(38, 38, 38) transparent transparent transparent;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.header__tools {
    display: flex;
}
.header__tool + .header__tool {
    margin-left: 55px;
}


.main {
    padding-top: 193px;
    /*padding-bottom: 107px;*/
    height: 100%;
    position: relative;
    /*overflow: auto;*/
    display: flex;
    flex-direction: column;
}
.main__container {
    flex-grow: 1;
    overflow: auto;
}
.main__container::-webkit-scrollbar {
    display: none;
}


.profile-info {
    padding: 40px 40px 60px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.profile-info__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.profile-info__avatar-holder {
    position: relative;
    width: 221px;
    height: 221px;
}
.profile-info__avatar-holder:after {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff url(../img/plus.svg) no-repeat 50% 50%;
    border: 5px solid #fff;
    border-radius: 50%;
}
.profile-info__avatar {
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.profile-info__stats {
    display: flex;
    text-align: center;
    margin-bottom: 35px;
}
.profile-info__meta {
    padding: 0 20px;
}
.profile-info__count {
    font-size: 53px;
    color: rgb(37, 37, 37);
}
.profile-info__caption {
    font-size: 42px;
    color: rgb(152, 152, 152);
}
.profile-info__button {
    display: block;
    width: 100%;
    font-size: 1em;
    border-radius: 9px;
    padding: 15px 20px 17px;
    border: 3px solid rgb(218, 218, 218);
    font-family: -apple-system, Helvetica, Arial, serif;
    background: none;
}

.profile-info__name {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}


.view-settings {
    display: flex;
    justify-content: space-between;
    padding: 25px 239px 35px;
    border-bottom: 3px solid rgb(227, 227, 227);
}



.post {
    padding: 25px 0;
}
.post__author {
    display: flex;
    align-items: center;
    padding: 0 23px;
    margin-bottom: 25px;
}
.post__avatar {
    width: 76px;
    height: 76px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.post__photo {
    position: relative;
}
.post__like {
    opacity: 0;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    will-change: transform;
}
.post__info {
    padding: 28px;
}
.post__tools {
    display: flex;
    margin-bottom: 25px;
}
.post__tools-item {
    min-width: 64px;
}
.post__tools-item + .post__tools-item {
    margin-left: 40px;
}
.post__tools-item:last-child {
    margin-left: auto;
}
.icon-bookmark {
    height: 54px;
}
.post__likes {
    margin-bottom: 10px;
}
.post__hashtags {
    margin-bottom: 15px;
}
.post__hashtag {
    color: rgb(0, 52, 104);
}
.post__show-comments {
    font-size: 43px;
    color: rgb(153, 153, 153);
    margin-bottom: 15px;
}
.post__date {
    font-size: 40px;
    color: rgb(153, 153, 153);
}




.toolbar {
    /*position: absolute;*/
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    /*bottom: -2px;*/
    /*left: 0;*/
    /*right: 0;*/
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
}



.add-new-post {
    font-size: 50px;
    padding: 30px;
    background-color: #03a9f4;
    color: #fff;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}


/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .1s, opacity .1s;
}
.scale-enter, .scale-leave-active {
    transform: scale(.75);
    opacity: .3;
}



.bounce-enter-to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.bounce-enter-active {
    animation: bounce-in .35s, bounce-out .2s 1s;
}


.slide-enter-active {
    transition: transform .25s;
}
.slide-leave-active {
    transition: transform .25s, opacity .25s;
    transform: translateX(-20%);
}
.slide-enter {
    transform: translateX(100%);
}

.slide-reverse-enter-active {
    transition: transform .25s;
}
.slide-reverse-leave-active {
    transition: transform .45s;
    transform: translateX(100%);
}
.slide-reverse-enter {
    transform: translateX(-100%);
}



.fade-header-enter-active, .fade-header-leave-active {
    transition: opacity .25s;
}
.fade-header-enter, .fade-header-leave-active {
    opacity: .3;
}


.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}
/*
    End Vue Animations
*/



@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes bounce-out {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(.3);
        opacity: 0;
    }
}
