*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 44px;
    font-family: -apple-system, Helvetica, Arial, serif;
}
.rounded {
    overflow: hidden;
    border-radius: 50%;
}
.flexible-img {
    width: 100%;
    height: auto;
}
.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .15);
    padding: 70px 31px 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header--comments {
    padding-bottom: 55px;
}


.main {
    padding-top: 180px;
    padding-bottom: 107px;
    height: 100%;
    background-size: cover;
    position: relative;
    overflow: auto;
    will-change: transform;
    background-color: #fff;
}
.main::-webkit-scrollbar {
    display: none;
}


.post {
    padding: 25px 0;
}
.post__author {
    display: flex;
    align-items: center;
    padding: 0 23px;
    margin-bottom: 25px;
}
.post__avatar {
    width: 76px;
    height: 76px;
    margin-right: 20px;
}
.post__menu {
    margin-left: auto;
}
.post__photo {
    position: relative;
}
.post__like {
    opacity: 0;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    will-change: transform;
}
.post__info {
    padding: 28px;
}
.post__tools {
    display: flex;
    margin-bottom: 25px;
}
.post__tools-item {
    min-width: 64px;
}
.post__tools-item + .post__tools-item {
    margin-left: 40px;
}
.post__tools-item:last-child {
    margin-left: auto;
    min-width: 0;
}
.post__likes {
    margin-bottom: 10px;
}
.post__hashtags {
    margin-bottom: 15px;
}
.post__hashtag {
    color: rgb(0, 52, 104);
}
.post__show-comments {
    font-size: 43px;
    color: rgb(153, 153, 153);
    margin-bottom: 15px;
}
.post__date {
    font-size: 40px;
    color: rgb(153, 153, 153);
}



.comments-screen {
    background-color: #fff;
    margin-top: 181px;
    will-change: transform;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.comments {
    padding: 50px 32px;
    flex-grow: 1;
    overflow: auto;
    scroll-behavior: smooth;
}
.comments::-webkit-scrollbar {
    display: none;
}
.comment {
    display: flex;
}
.comment--small {
    margin-top: 40px;
}
.comment + .comment {
    margin-top: 90px;
}
.comment__avatar {
    width: 108px;
    height: 108px;
    margin-right: 25px;
    flex-shrink: 0;
}
.comment--small .comment__avatar {
    width: 72px;
    height: 72px;
}
.comment__container {
    flex-grow: 1;
}
.comment__inner {
    display: flex;
}
.comment__main {
    margin-right: 30px;
}
.comment__text {
    margin-bottom: 10px;
    word-break: break-word;
}
.comment__bar {
    font-size: 36px;
    color: #949494;
    display: flex;
    align-items: center;
}
.comment__time {
    font-weight: 300;
}
.comment-meta-list {
    font-weight: 500;
}
.comment__like {
    margin-left: auto;
    flex-shrink: 0;
}
.comment__replies {
    margin-top: 50px;
}
.comment-meta-list {
    display: flex;
    margin-left: 40px;
}
.comment-meta-list__item + .comment-meta-list__item {
    margin-left: 40px;
}


.toolbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    bottom: -2px;
    left: 0;
    right: 0;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
}



.add-new-post {
    font-size: 50px;
    padding: 30px;
    background-color: #03a9f4;
    color: #fff;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.comments-input .keyboard-holder {
    left: 0;
}

.keyboard-holder img {
    vertical-align: baseline;
}

.comments-input {
    position: relative;
    transition: margin-bottom .3s;
    flex-shrink: 0;
}
.comments-input__reply {
    background-color: rgb(239, 239, 239);
    color: rgb(183, 183, 183);
    position: relative;
    padding: 30px 43px;
    border-top: 1px solid #B1B1B1;
}
.comments-input__reply-close {
    background: none;
    outline: none;
    border: 0;
    font-size: 44px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-family: Helvetica, sans-serif;
}
.comments-input__main {
    display: flex;
    align-items: flex-end;
    padding: 20px 43px;
    border-top: 1px solid #B1B1B1;
}
.comments-input__avatar {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-right: 35px;
    margin-bottom: 13px;
}
.comments-input__holder {
    position: relative;
    flex-grow: 1;
}
.comments-input__send {
    position: absolute;
    bottom: 61px;
    right: 30px;
    color: rgb(55, 160, 243);
    border: none;
    font-size: 35px;
    outline: none;
    background: none;
    font-weight: 700;
}
.comments-input__send:disabled {
    opacity: .5;
}
.message-text {
    font-family: -apple-system, Helvetica, Arial, serif;
    border: 2px solid #D7D7D7;
    border-radius: 80px;
    padding: 50px 292px 45px 42px;
    resize: none;
    font-size: 39px;
    height: 150px;
    width: 100%;
    outline: none;
    max-height: 375px;
}
.message-text::-webkit-scrollbar {
    display: none;
}


/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .1s, opacity .1s;
}
.scale-enter, .scale-leave-active {
    transform: scale(.75);
    opacity: .3;
}



.bounce-enter-to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.bounce-enter-active {
    animation: bounce-in .35s, bounce-out .2s 1s;
}



.slide-enter-active {
    transition: transform .25s;
}
.slide-leave-active {
    transition: transform .25s, opacity .25s;
    transform: translateX(-20%);
}
.slide-enter {
    transform: translateX(100%);
}

.slide-reverse-enter-active {
    transition: transform .25s;
}
.slide-reverse-leave-active {
    transition: transform .45s;
    transform: translateX(100%);
}
.slide-reverse-enter {
    transform: translateX(-100%);
}



.fade-header-enter-active, .fade-header-leave-active {
    transition: opacity .25s;
}
.fade-header-enter, .fade-header-leave-active {
    opacity: .3;
}


.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}

/*
    End Vue Animations
*/



@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes bounce-out {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(.3);
        opacity: 0;
    }
}
