<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="utf-8"/>
	<meta content="width=1080px, maximum-scale=1.0" name="viewport"/>
	<style>
		[v-clok] {
			display: none;
		}
	</style>
</head>
<body>
<div class="page-wrapper" id="app" v-cloak>

	<div class="page-container" :class="{ [screenSettings.currentLang] : screenSettings.currentLang }">

		<transition :name="animationName">

			<comments-screen
					v-if="showPost"
					key="comment"
					:selected-post-id="selectedPostId"
					v-model="screenSettings"
					@back-was-clicked="backToFeed('slide-reverse', 'showPost')"></comments-screen>

			<new-status-screen v-else-if="createNewStatus"
							   :screen-settings="screenSettings"
							   @hide-was-clicked="backToFeed('slide-bottom', 'createNewStatus')"
							   @share-was-clicked="createNewPost"></new-status-screen>


			<new-post-screen v-else-if="createNewPostPopup"
							 :screen-settings="screenSettings"
							 @hide-was-clicked="backToFeed('slide-bottom', 'createNewPostPopup')"
							 @share-was-clicked="createNewPost"></new-post-screen>

			<main-wrapper v-else key="profile" v-model="scrollTop">
				<div class="header">
					<div class="header__tool">
						<img src="./img/arrow-back.svg" alt="">
					</div>
					<div class="header__search">
						<img src="./img/search.svg" alt="" class="header__search-icon">
						{{ screenSettings.name }}
					</div>
					<div class="header__tool">
						<img src="./img/edit-profile.svg" alt="">
					</div>
				</div>

				<div class="profile-head card">
					<div class="profile-bg">
						<img :src="screenSettings.background" class="profile-bg__img" alt="">
						<div class="edit-photo">
							<img src="./img/edit-photo.svg" alt="">
						</div>
					</div>
					<div class="profile-avatar">
						<figure class="profile-avatar__container">
							<img :src="screenSettings.avatar"  class="profile-avatar__img flexible-img" alt="">
							<div class="edit-photo">
								<img src="./img/edit-photo.svg" alt="">
							</div>
						</figure>
					</div>
					<div class="profile-name">
						{{ screenSettings.name }}
					</div>
					<div class="profile-status">
						{{ screenSettings.status }}
					</div>
					<menu class="profile-tools">
						<li class="profile-tools__item">
							<img src="./img/profile-tools/new-post.svg" alt="" class="profile-tools__icon">
							{{ currentLang.profile.tools[0] }}
						</li>
						<li class="profile-tools__item">
							<img src="./img/profile-tools/update-info.svg" alt="" class="profile-tools__icon">
							{{ currentLang.profile.tools[1] }}
						</li>
						<li class="profile-tools__item">
							<img src="./img/profile-tools/activity-log.svg" alt="" class="profile-tools__icon">
							{{ currentLang.profile.tools[2] }}
						</li>
						<li class="profile-tools__item">
							<img src="./img/profile-tools/more.svg" alt="" class="profile-tools__icon">
							{{ currentLang.profile.tools[3] }}
						</li>
					</menu>
					<ul class="profile-info">
						<li class="profile-info__item">
							<img src="./img/profile-info/univer.svg" alt="" class="profile-info__icon">
							<span class="profile-info__caption">{{ currentLang.profile.bio.university }}</span>
							{{ screenSettings.university }}
						</li>
						<li class="profile-info__item">
							<img src="./img/profile-info/home.svg" alt="" class="profile-info__icon">
							<span class="profile-info__caption">{{ currentLang.profile.bio.place }}</span>
							{{ screenSettings.place }}
						</li>
						<li class="profile-info__item">
							<img src="./img/profile-info/pin.svg" alt="" class="profile-info__icon">
							<span class="profile-info__caption">{{ currentLang.profile.bio.from }}</span>
							{{ screenSettings.hometown }}
						</li>
					</ul>
					<ul class="profile-nav">
						<li class="profile-nav__item">{{ currentLang.profile.nav[0] }}</li>
						<li class="profile-nav__item">{{ currentLang.profile.nav[1] }}</li>
						<li class="profile-nav__item">{{ currentLang.profile.nav[2] }}</li>
					</ul>
				</div>

				<div class="add-new-post card">
					<div class="add-new-post__top" @click="goToScreen('slide-bottom', 'createNewPostPopup')">
						<figure class="add-new-post__avatar rounded">
							<img :src="screenSettings.avatar" alt="" class="flexible-img">
						</figure>
						{{ currentLang.profile.addNewPost.top }}
					</div>
					<ul class="add-new-post__tools">
						<li class="add-new-post__tool" @click="goToScreen('slide-bottom', 'createNewStatus')">
							<img src="./img/add-new-post/status.svg" class="add-new-post__tool-img" alt="">
							{{ currentLang.profile.addNewPost.tool1 }}
						</li>
						<li class="add-new-post__tool" @click="goToScreen('slide-bottom', 'createNewStatus')">
							<img src="./img/add-new-post/photo.svg" class="add-new-post__tool-img" alt="">
							{{ currentLang.profile.addNewPost.tool2 }}
						</li>
						<li class="add-new-post__tool">
							<img src="./img/add-new-post/flag.svg" class="add-new-post__tool-img" alt="">
							{{ currentLang.profile.addNewPost.tool3 }}
						</li>
					</ul>
				</div>

				<div class="profile-photos card">
					<div class="profile-photos__title">
						<img src="./img/profile-photos-icon.svg" alt="" class="profile-photos__icon head-icon">
						{{ currentLang.profile.photo }}
					</div>
					<div class="post__attachments">
						<div class="post__attachment">
							<ul class="post__tile post-tile">
								<li class="post-tile__item"
									v-for="(profilePhoto, profilePhotoIndex) in screenSettings.profilePhotos"
									:class="{'post-tile__item--big' : profilePhotoIndex === 0 || profilePhotoIndex === 1 }">
									<img :src="profilePhoto" class="post-tile__img flexible-img" alt="">
								</li>
							</ul>
						</div>
					</div>
					<div class="see-all">
						<span class="see-all__text">
							{{ currentLang.profile.allPhoto }}
						</span>
					</div>
				</div>

				<div class="profile-friends card">
					<div class="profile-friends__head">
						<img src="./img/profile-friends-icon.svg" alt="" class="profile-friends__icon head-icon">
						{{ currentLang.profile.friends }} • {{ screenSettings.friendsCount }}
					</div>
					<ul class="profile-friends__list">
						<li class="friend-preview" v-for="profileFriend in screenSettings.profileFriends">
							<figure class="friend-preview__avatar-holder">
								<img :src="profileFriend.avatar" alt="" class="friend-preview__avatar flexible-img">
							</figure>
							<div class="friend-preview__container">
								<div class="friend-preview__name">
									{{ profileFriend.name }}
								</div>
								<div v-if="profileFriend.withUpdates" class="friend-preview__updates">
									{{ profileFriend.updateText }}
								</div>
							</div>
						</li>
					</ul>
					<div class="see-all">
						<span class="see-all__text">
							{{ currentLang.profile.allPhoto }}
						</span>
					</div>
				</div>

				<div class="profile-bar card">
					<img src="./img/profile-dedicated-albums.svg" alt="" class="profile-bar__icon head-icon">
					{{ currentLang.profile.dedicated }}
				</div>

				<div class="profile-bar card">
					<img src="./img/profile-cloud.svg" alt="" class="profile-bar__icon head-icon">
					{{ currentLang.profile.question }}
					<span class="profile-bar__add">
						{{ currentLang.profile.questionAdd }}
					</span>
				</div>

				<post v-for="(post, postIndex) in screenSettings.posts"
				  :key="postIndex"
				  @like-was-clicked="toggleLike"
				  @comments-was-clicked="goToComments"
				  @share-was-clicked="showSharePost"
				  :screen-settings="screenSettings"
				  :post="post"></post>
			</main-wrapper>

		</transition>

		<ul class="fb-panel">
			<li class="fb-panel__item">
				<img src="./img/card.svg" class="fb-panel__img" alt="">
			</li>
			<li class="fb-panel__item">
				<img src="./img/friends.svg" class="fb-panel__img" alt="">
			</li>
			<li class="fb-panel__item">
				<img src="./img/bell.svg" class="fb-panel__img" alt="">
			</li>
			<li class="fb-panel__item">
				<img src="./img/menu.svg" class="fb-panel__img" alt="">
			</li>
		</ul>

		<transition name="fade-slide-popup">
			<div v-if="showSharePopup" class="share-popup-overlay">
				<repost-popup v-if="showSharePopup"
							  :screen-settings="screenSettings"
							  @share-was-clicked="sharePost"
							  @overlay-was-clicked="closeSharePopup"></repost-popup>
			</div>
		</transition>

		<!--<loading-overlay v-if="loadingOverlayIsVisible"></loading-overlay>-->
	</div>




	<div class="tools-col">
		<switch-lang v-model="screenSettings.currentLang"></switch-lang>
		<chat-settings v-model="screenSettings" :database-ref="databaseRef"></chat-settings>
		<p style="margin-bottom: 40px;">
			<button class="button" @click="screenSettings.posts.unshift(defaultPost())">
				+ new post above
			</button>
		</p>
		<p>
			<button class="button" @click="screenSettings.posts.push(defaultPost())">
				+ new post below
			</button>
		</p>
	</div>


</div>


<!-- Vue templates -->
<script type="text/x-template" id="chat-settings-template">
	<div class="chat-settings-wrapper">

		<chat-settings-presets
				:inputs="inputs"
				:database-versions-ref="databaseVersionsRef"
				@version-was-selected="selectVersion"
				@version-remove-was-clicked="removeVersion"
				@select-default-was-clicked="selectDefault"></chat-settings-presets>

		<button
				class="chat-settings-button button"
				@click="$modal.show('chat-settings')">
			<svg class="chat-settings-button__icon" viewBox="0 0 478.703 478.703">
				<g>
					<g>
						<path d="M454.2,189.101l-33.6-5.7c-3.5-11.3-8-22.2-13.5-32.6l19.8-27.7c8.4-11.8,7.1-27.9-3.2-38.1l-29.8-29.8    c-5.6-5.6-13-8.7-20.9-8.7c-6.2,0-12.1,1.9-17.1,5.5l-27.8,19.8c-10.8-5.7-22.1-10.4-33.8-13.9l-5.6-33.2    c-2.4-14.3-14.7-24.7-29.2-24.7h-42.1c-14.5,0-26.8,10.4-29.2,24.7l-5.8,34c-11.2,3.5-22.1,8.1-32.5,13.7l-27.5-19.8    c-5-3.6-11-5.5-17.2-5.5c-7.9,0-15.4,3.1-20.9,8.7l-29.9,29.8c-10.2,10.2-11.6,26.3-3.2,38.1l20,28.1    c-5.5,10.5-9.9,21.4-13.3,32.7l-33.2,5.6c-14.3,2.4-24.7,14.7-24.7,29.2v42.1c0,14.5,10.4,26.8,24.7,29.2l34,5.8    c3.5,11.2,8.1,22.1,13.7,32.5l-19.7,27.4c-8.4,11.8-7.1,27.9,3.2,38.1l29.8,29.8c5.6,5.6,13,8.7,20.9,8.7c6.2,0,12.1-1.9,17.1-5.5    l28.1-20c10.1,5.3,20.7,9.6,31.6,13l5.6,33.6c2.4,14.3,14.7,24.7,29.2,24.7h42.2c14.5,0,26.8-10.4,29.2-24.7l5.7-33.6    c11.3-3.5,22.2-8,32.6-13.5l27.7,19.8c5,3.6,11,5.5,17.2,5.5l0,0c7.9,0,15.3-3.1,20.9-8.7l29.8-29.8c10.2-10.2,11.6-26.3,3.2-38.1    l-19.8-27.8c5.5-10.5,10.1-21.4,13.5-32.6l33.6-5.6c14.3-2.4,24.7-14.7,24.7-29.2v-42.1    C478.9,203.801,468.5,191.501,454.2,189.101z M451.9,260.401c0,1.3-0.9,2.4-2.2,2.6l-42,7c-5.3,0.9-9.5,4.8-10.8,9.9    c-3.8,14.7-9.6,28.8-17.4,41.9c-2.7,4.6-2.5,10.3,0.6,14.7l24.7,34.8c0.7,1,0.6,2.5-0.3,3.4l-29.8,29.8c-0.7,0.7-1.4,0.8-1.9,0.8    c-0.6,0-1.1-0.2-1.5-0.5l-34.7-24.7c-4.3-3.1-10.1-3.3-14.7-0.6c-13.1,7.8-27.2,13.6-41.9,17.4c-5.2,1.3-9.1,5.6-9.9,10.8l-7.1,42    c-0.2,1.3-1.3,2.2-2.6,2.2h-42.1c-1.3,0-2.4-0.9-2.6-2.2l-7-42c-0.9-5.3-4.8-9.5-9.9-10.8c-14.3-3.7-28.1-9.4-41-16.8    c-2.1-1.2-4.5-1.8-6.8-1.8c-2.7,0-5.5,0.8-7.8,2.5l-35,24.9c-0.5,0.3-1,0.5-1.5,0.5c-0.4,0-1.2-0.1-1.9-0.8l-29.8-29.8    c-0.9-0.9-1-2.3-0.3-3.4l24.6-34.5c3.1-4.4,3.3-10.2,0.6-14.8c-7.8-13-13.8-27.1-17.6-41.8c-1.4-5.1-5.6-9-10.8-9.9l-42.3-7.2    c-1.3-0.2-2.2-1.3-2.2-2.6v-42.1c0-1.3,0.9-2.4,2.2-2.6l41.7-7c5.3-0.9,9.6-4.8,10.9-10c3.7-14.7,9.4-28.9,17.1-42    c2.7-4.6,2.4-10.3-0.7-14.6l-24.9-35c-0.7-1-0.6-2.5,0.3-3.4l29.8-29.8c0.7-0.7,1.4-0.8,1.9-0.8c0.6,0,1.1,0.2,1.5,0.5l34.5,24.6    c4.4,3.1,10.2,3.3,14.8,0.6c13-7.8,27.1-13.8,41.8-17.6c5.1-1.4,9-5.6,9.9-10.8l7.2-42.3c0.2-1.3,1.3-2.2,2.6-2.2h42.1    c1.3,0,2.4,0.9,2.6,2.2l7,41.7c0.9,5.3,4.8,9.6,10,10.9c15.1,3.8,29.5,9.7,42.9,17.6c4.6,2.7,10.3,2.5,14.7-0.6l34.5-24.8    c0.5-0.3,1-0.5,1.5-0.5c0.4,0,1.2,0.1,1.9,0.8l29.8,29.8c0.9,0.9,1,2.3,0.3,3.4l-24.7,34.7c-3.1,4.3-3.3,10.1-0.6,14.7    c7.8,13.1,13.6,27.2,17.4,41.9c1.3,5.2,5.6,9.1,10.8,9.9l42,7.1c1.3,0.2,2.2,1.3,2.2,2.6v42.1H451.9z" fill="#FFFFFF"/>
						<path d="M239.4,136.001c-57,0-103.3,46.3-103.3,103.3s46.3,103.3,103.3,103.3s103.3-46.3,103.3-103.3S296.4,136.001,239.4,136.001    z M239.4,315.601c-42.1,0-76.3-34.2-76.3-76.3s34.2-76.3,76.3-76.3s76.3,34.2,76.3,76.3S281.5,315.601,239.4,315.601z" fill="#FFFFFF"/>
					</g>
				</g>
			</svg>

		</button>


		<modal
				class="chat-settings"
				name="chat-settings"
				:width="1366"
				:height="'auto'">

			<h2 class="chat-settings__title">Links to settings:</h2>

			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Profile background:
				</label>
				<vue-dropzone
						@vdropzone-success="getAvatar($event, 'background')"
						id="profile-background"
						:options="dropzoneOptions"></vue-dropzone>
			</div>

			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Profile avatar:
				</label>
				<vue-dropzone
						@vdropzone-success="getAvatar($event)"
						id="avatar"
						:options="dropzoneOptions"></vue-dropzone>
			</div>

			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Profile name:
				</label>
				<input
						v-model="inputs.name"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>

			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Profile status:
				</label>
				<textarea class="chat-settings__textarea"
						  v-model="inputs.status"
						  @input="emitInput"></textarea>
			</div>

			<h2 class="chat-settings__title">Profile bio:</h2>
			<div class="chat-settings__row chat-settings__row--with-background">
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						University:
					</label>
					<input
							v-model="inputs.university"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						lives in:
					</label>
					<input
							v-model="inputs.place"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						From:
					</label>
					<input
							v-model="inputs.hometown"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
			</div>


			<div class="chat-settings__row chat-settings__row--with-background">
				<div class="chat-settings__row" v-for="(profilePhoto, profilePhotoIndex) in inputs.profilePhotos">
					<label class="chat-settings__label">
						{{ profilePhotoIndex + 1 | numberSuffix }} profile photo:
					</label>
					<vue-dropzone
							@vdropzone-success="getAvatar($event, 'profilePhotos', profilePhotoIndex)"
							:id="`profile-photo${profilePhotoIndex}`"
							:options="dropzoneOptions"></vue-dropzone>
				</div>
			</div>


			<h2 class="chat-settings__title">Profile friends</h2>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Friend count:
				</label>
				<input
						v-model="inputs.friendsCount"
						@input="emitInput"
						type="text"
						class="chat-settings__input">
			</div>
			<div class="chat-settings__row chat-settings__row--with-background" v-for="(profileFriend, profileFriendIndex) in inputs.profileFriends">
				<h3 class="chat-settings__title">
					{{ profileFriendIndex + 1 | numberSuffix }} Profile friend
				</h3>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Friend's photo:
					</label>
					<vue-dropzone
							@vdropzone-success="getAvatar($event, 'profileFriends', profileFriendIndex, 'avatar')"
							:id="`profile-friend${profileFriendIndex}`"
							:options="dropzoneOptions"></vue-dropzone>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Friend's name:
					</label>
					<input
							v-model="profileFriend.name"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="checkbox">
						<input
								v-model="profileFriend.withUpdates"
								@input="emitInput"
								type="checkbox"
								class="checkbox__input">
						With updates
					</label>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Friend's updates:
					</label>
					<input
							v-model="profileFriend.updateText"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
			</div>


			<h2 class="chat-settings__title">
				New post image:
			</h2>
			<div class="chat-settings__row">
				<label class="chat-settings__label">
					Photo attachment:
				</label>
				<vue-dropzone
						@vdropzone-success="getAvatar($event, 'newPostAttachment')"
						id="newPostAttachment"
						:options="dropzoneOptions"></vue-dropzone>
			</div>


			<h2 class="chat-settings__title">
				Posts section:
			</h2>
			<div class="chat-settings__row chat-settings__row--with-background"
				 v-for="(post, postIndex) in inputs.posts">
				<h3 class="chat-settings__title">
					{{ postIndex + 1 | numberSuffix }} post settings:
				</h3>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Author avatar:
					</label>
					<vue-dropzone
							@vdropzone-success="getAvatar($event, 'posts', postIndex, 'avatar')"
							:id="`dropzonePostAuthorAvatar${postIndex}`"
							:options="dropzoneOptions"></vue-dropzone>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Author name:
					</label>
					<input
							v-model="post.name"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Location (if you don't need location leave this field empty):
					</label>
					<input
							v-model="post.location"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Place:
					</label>
					<input
							v-model="post.place"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div v-if="post.caption" class="chat-settings__row">
					<label class="chat-settings__label">
						Place:
					</label>
					<input
							v-model="post.caption"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Tagged Users:
					</label>
					<div class="chat-settings__row">
						<button class="button"
								@click="addElemToArray(post, 'taggedUsers', 'Some Name')">
							add new tag
						</button>
					</div>
					<div v-if="post.taggedUsers.length" class="chat-settings__row"
						 v-for="(taggedUser, taggedUserIndex) in post.taggedUsers">
						<label class="chat-settings__label">
							{{ taggedUserIndex + 1 | numberSuffix }} Tagged user:
						</label>
						<input
								v-model="post.taggedUsers[taggedUserIndex]"
								@input="emitInput"
								type="text"
								class="chat-settings__input">
					</div>
					<div v-else class="chat-settings__row">
						There are no Tagged Users yet...
					</div>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Time:
					</label>
					<input
							v-model="post.time"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Text:
					</label>
					<textarea
							v-model="post.text"
							@input="emitInput"
							class="chat-settings__textarea"></textarea>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Attachment:
					</label>

					<div class="chat-settings__row">
						<label class="checkbox">
							<input
									v-model="post.attachment.exists"
									@input="emitInput"
									type="checkbox"
									class="checkbox__input">
							Post with attachment
						</label>
					</div>

					<template v-if="post.attachment.exists">

						<div class="chat-settings__row">
							<label class="radiobutton">
								<input
										class="radiobutton__input"
										type="radio" value="withSingleImg"
										v-model="post.attachment.pickedMode"
										@input="emitInput">
								<span class="radiobutton__text">Post with single image</span>
							</label>
							<label>
								<input
										class="radiobutton__input"
										type="radio" value="withTile"
										v-model="post.attachment.pickedMode"
										@input="emitInput">
								<span class="radiobutton__text">Post with multiple images</span>
							</label>
							<label>
								<input
										class="radiobutton__input"
										type="radio" value="withVideo"
										v-model="post.attachment.pickedMode"
										@input="emitInput">
								<span class="radiobutton__text">Post with video</span>
							</label>
						</div>

						<div class="chat-settings__row" v-if="post.attachment.pickedMode === 'withSingleImg'">
							<label class="chat-settings__label">
								Attachment img:
							</label>
							<vue-dropzone
									@vdropzone-success="getAvatar($event, 'posts', postIndex, 'attachment', 'img')"
									:id="`dropzonePostAttachment${postIndex}`"
									:options="dropzoneOptions"></vue-dropzone>
						</div>
						<div class="hui" v-if="post.attachment.pickedMode === 'withTile'">
							<div class="chat-settings__row" v-for="(attachmentImg, attachmentImgIndex) in post.attachment.images">
								<label class="chat-settings__label">
									{{ attachmentImgIndex + 1 }} attachment img
									{{ attachmentImgIndex === 0 || attachmentImgIndex === 1 ? '(big)' : '(small)' }}
									:
								</label>
								<vue-dropzone
										@vdropzone-success="getAvatar($event, 'posts', postIndex, 'attachment', 'images', attachmentImgIndex)"
										:id="`dropzonePostAttachments${attachmentImgIndex}`"
										:options="dropzoneOptions"></vue-dropzone>
							</div>
						</div>
						<div class="chat-settings__row" v-if="post.attachment.pickedMode === 'withVideo'">
							<label class="chat-settings__label">
								Attachment img:
							</label>
							<vue-dropzone
									@vdropzone-success="getAvatar($event, 'posts', postIndex, 'attachment', 'img')"
									:id="`dropzonePostAttachment${postIndex}`"
									:options="dropzoneOptions"></vue-dropzone>
						</div>

					</template>
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Likes count:
					</label>
					<input
							v-model="post.likesCount"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Comments caption:
					</label>
					<input
							v-model="post.commentsCaption"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>
				<div class="chat-settings__row">
					<label class="chat-settings__label">
						Reposts caption:
					</label>
					<input
							v-model="post.reposts"
							@input="emitInput"
							type="text"
							class="chat-settings__input">
				</div>

				<h3 class="chat-settings__title">
					{{ postIndex + 1 }} post comments:
				</h3>
				<div class="chat-settings__row">
					<button class="button"
							@click="addElemToArray(post, 'comments', {
								name: '',
								avatar: '',
								text: '',
								time: '1h',
								likesCount: 0
							})">
						add new comment
					</button>
				</div>
				<div v-if="post.comments.length" class="chat-settings__row" v-for="(comment, commentIndex) in post.comments">
					<div class="chat-settings__row">
						<label class="chat-settings__label">
							{{ commentIndex + 1 | numberSuffix }} Comment author name:
						</label>
						<input
								v-model="comment.name"
								@input="emitInput"
								type="text"
								class="chat-settings__input">
					</div>
					<div class="chat-settings__row">
						<strong class="chat-settings__label">
							{{ commentIndex + 1 | numberSuffix }} Comment author avatar:
						</strong>
						<vue-dropzone
								@vdropzone-success="getAvatar($event, 'posts', postIndex, 'comments', commentIndex, 'avatar')"
								:id="`commentAuthorAvatar{commentIndex}`"
								:options="dropzoneOptions"></vue-dropzone>
					</div>
					<div class="chat-settings__row">
						<strong class="chat-settings__label">
							{{ commentIndex + 1 | numberSuffix }} Comment text:
						</strong>
						<textarea
								v-model="comment.text"
								@input="emitInput"
								class="chat-settings__textarea"></textarea>
					</div>
					<div class="chat-settings__row">
						<strong class="chat-settings__label">
							{{ commentIndex + 1 | numberSuffix }} Comment time:
						</strong>
						<input
								v-model="comment.time"
								@input="emitInput"
								type="text"
								class="chat-settings__input">
					</div>
				</div>
				<div v-else class="chat-settings__row">
					No comments yet...
				</div>
			</div>




			<chat-settings-save
					:inputs="inputs"
					:database-ref="databaseRef"
					:database-versions-ref="databaseVersionsRef"
					:version-key="currentVersionKey"
					@version-name-was-added="addNameVersion"
					@new-version-was-added="setCreatedVersion"></chat-settings-save>
		</modal>
	</div>
</script>

<!-- End of vue templates -->


<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="./dist/bundle.js"></script>
</body>
</html>