<template>
  <div class="event-date">
    <div class="event-date-head">
      <button class="event-date-head__button fb-txt-button" @click="hideModal('datePopupIsVisible')">
        Отмена
      </button>
      <strong class="event-date-head__title">
        Дата и время
      </strong>
      <button class="event-date-head__button fb-txt-button" @click="saveTime">
        Создать
      </button>
    </div>
    <div class="event-date__chosen">
      {{ localEventTime.resultDate }} в {{ localEventTime.hours }}:{{ localEventTime.minutes }}
    </div>
    <div class="event-date__datepicker-holder datepicker-holder" v-scroll="handleScroll">
      <!--<Datepicker
        v-for="i in monthCount"
        :key="i"
        calendar-class="calendar-inner"
        :value="new Date(1968, -1 + i, 1)"
        @input="selectDay"
        :inline="true"
        :full-month-name="true"
        :monday-first="true"
        :language="ru"></Datepicker>-->
      <Datepicker
        calendar-class="calendar-inner"
        v-model="localEventTime.date"
        @input="selectDay"
        :inline="true"
        :full-month-name="true"
        :monday-first="true"
        :language="ru"></Datepicker>
    </div>
    <div class="event-date__time-picker">
      <swiper :options="hoursSwiperOptions"
              ref="hoursSwiper"
              class="time-slider hours-slider"
              @transitionEnd="swiperChange($refs.hoursSwiper, 'hours')">
        <swiper-slide v-for="h in 24"
                      :ref="`hours${h}`"
                      :key="h">
          {{ (h - 1) | addZero }}
        </swiper-slide>
      </swiper>
      <swiper :options="minutesSwiperOptions"
              ref="minutesSwiper"
              class="time-slider minutes-slider"
              @transitionEnd="swiperChange($refs.minutesSwiper, 'minutes')">
        <swiper-slide v-for="m in 12"
                      :ref="`minutes${m}`"
                      :key="m">
          {{ (m - 1) * 5 | addZero }}
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Datepicker from 'vuejs-datepicker'
import {en, ru} from 'vuejs-datepicker/dist/locale'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

// const shallowClone = (obj) => {
//   return Object.create(
//     Object.getPrototypeOf(obj),
//     Object.getOwnPropertyDescriptors(obj)
//   )
// }
//
// const leaveFirstCharOfDay = (obj) => {
//   const clone = shallowClone(obj)
//   clone._days.forEach((day, i, arr) => {
//     arr[i] = day.charAt(0)
//   })
//   return clone
// }

const commonSwiperOpitions = {
  speed: 400,
  direction: 'vertical',
  slidesPerView: 7,
  height: 568,
  centeredSlides: true,
  loop: true,
  grabCursor: true
}

export default {
  name: 'EventDateModal',
  components: {
    Datepicker,
    swiper,
    swiperSlide
  },
  directives: {
    scroll: {
      inserted (el, binding) {
        let handler = function (evt) {
          if (binding.value(evt, el)) {
            el.removeEventListener('scroll', handler)
          }
        }
        el.addEventListener('scroll', handler)
      }
    }
  },
  filters: {
    addZero (n) {
      return `${n}`.length > 1 ? n : `0${n}`
    }
  },
  data () {
    return {
      monthCount: 12,
      en,
      ru,
      localEventTime: {}
    }
  },
  computed: {
    ...mapGetters([
      'datePopupIsVisible',
      'eventTime'
    ]),
    hoursSwiperOptions () {
      return {
        ...commonSwiperOpitions,
        initialSlide: parseInt(this.eventTime.hours)
      }
    },
    minutesSwiperOptions () {
      return {
        ...commonSwiperOpitions,
        initialSlide: parseInt(this.eventTime.minutes) / 5
      }
    }
  },
  created () {
    this.localEventTime = {...this.eventTime}
  },
  methods: {
    ...mapActions([
      'hideModal',
      'updateEventTime'
    ]),
    selectDay (day) {
      this.localEventTime.resultDate = `${ru._months[day.getMonth()]} ${day.getDate()}`
    },
    handleScroll (evt, el) {
      if (el.scrollTop === (el.scrollHeight - el.offsetHeight)) {
        this.monthCount += 12
      }
    },
    swiperChange ({ swiper }, refName) {
      const activeSlide = this.$refs[`${refName}${swiper.realIndex + 1}`][0].$el
      this.localEventTime[refName] = activeSlide.textContent.replace(/\s/g, '')
    },
    saveTime () {
      this.updateEventTime(this.localEventTime)
      this.hideModal('datePopupIsVisible')
    }
  }
}
</script>

<style scoped lang="scss">
  .event-date {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F7F9;
    z-index: 1;
    &__chosen {
      padding: 27px 37px;
      background-color: #fff;
      color: #007AFF;
    }
    &__datepicker-holder {
      width: 925px;
      margin: 0 auto 120px;
      padding-top: 50px;
      /*height: 825px;*/
      /*overflow: auto;*/
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__time-picker {
      display: flex;
      font-size: 65px;
      justify-content: center;
      height: 570px;
      position: relative;
      &:before, &:after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: #D8D8D8;
      }
      &:before {
        top: 42%;
      }
      &:after {
        top: 58%;
      }
    }
  }

  .event-date-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 95px 37px 25px;
    &__title {
      font-size: 55px;
    }
  }

  .datepicker-holder /deep/ {
    .vdp-datepicker + .vdp-datepicker {
      margin-top: 50px;
    }
    .calendar-inner {
      width: 100%;
      background-color: transparent;
      border: none;
      font-size: 45px;
      .cell.day-header {
        font-size: 40px;
      }
      & > div {
        color: #7F7F7F;
        display: grid;
        grid-template-columns: repeat(7, 96px);
        justify-content: space-between;
        row-gap: 25px;
      }
    }
    .day__month_btn {
      width: 100%;
    }
    header {
      overflow: hidden;
      text-transform: uppercase;
      pointer-events: none;
      margin-bottom: 30px;
      font-size: 40px;
    }
    .day-header {
      pointer-events: none;
    }
    .prev, .next {
      display: none;
    }
    .cell {
      width: 96px;
      height: 96px;
      line-height: 96px;
      border-radius: 50%;
    }
    .selected, .selected:hover {
      background-color: #5491FF;
      color: #fff;
    }
    .cell:not(.blank):not(.disabled).day:hover {
      border-color: transparent;
    }
  }

  .time-slider {
    margin: 0;
    user-select: none;
    & + & {
      margin-left: 70px;
    }
  }
  .swiper-slide:not(.swiper-slide-active) {
    color: #ADAEB0;
    transform: scale(.88);
    transition: transform .2s;
  }
</style>
