<template>
  <div class="event-place">
    <div class="event-place-head">
      <button class="event-place-head__cancel fb-txt-button" @click="hideModal('placePopupIsVisible')">
        Отменить
      </button>
      <strong class="event-place-head__title">
        Добавить место
      </strong>
    </div>
    <div class="event-place__main">
      <div class="event-place__search">
        <OutgoingMessage class="event-place__search-input"
                         placeholder="Поиск"
                         v-model="searchPlace"
                         @focus.native="inputWasFocused = true"
                         @blur.native="inputWasFocused = false"></OutgoingMessage>
      </div>
      <ul class="event-place-places">
        <li class="event-place-item"
            v-for="(place, placeIndex) in filteredPlaces" :key="placeIndex"
            @click="selectEventPlace(place)">
          <div class="event-place-item__icon">
            <img src="../../assets/event-place/marker.svg" alt="" class="event-place-item__img">
          </div>
          <div class="event-place-item__container">
            <div class="event-place-item__place">{{ place.place }}</div>
            <div class="event-place-item__address">{{ place.address }}</div>
          </div>
        </li>
      </ul>
    </div>

    <transition name="keyboard-slide">
      <IosKeyboard v-if="inputWasFocused"></IosKeyboard>
    </transition>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { places } from './places'
import OutgoingMessage from '@quadrupleNestingCommon/messaging/vue-outgoing-message'
import IosKeyboard from '@quadrupleNestingCommon/ios-keyboard/vue-ios-keyboard'

export default {
  name: 'EventPlaceModal',
  components: {
    OutgoingMessage,
    IosKeyboard
  },
  data () {
    return {
      places,
      searchPlace: '',
      inputWasFocused: false
    }
  },
  computed: {
    filteredPlaces () {
      return this.places.filter((obj) => {
        const place = obj.place.toLowerCase()
        const address = obj.address.toLowerCase()
        const searchString = this.searchPlace.toLowerCase()
        return place.indexOf(searchString) > -1 || address.indexOf(searchString) > -1
      })
    }
  },
  methods: {
    ...mapActions([
      'hideModal',
      'selectPlace'
    ]),
    selectEventPlace (place) {
      this.selectPlace(place)
      this.hideModal('placePopupIsVisible')
    }
  }
}
</script>

<style scoped lang="scss">
  .event-place-head {
    text-align: center;
    padding: 68px 37px;
    background-color: #F6F7F9;
    &__cancel {
      position: absolute;
      left: 37px;
      top: 71px;
    }
    &__title {
      font-size: 55px;
    }
  }

  .event-place {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F7F9;
    z-index: 1;
    &__search {
      padding: 23px 14px;
      background-color: #C7C8C8;
    }
    &__main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    &__search-input {
      height: 86px;
      max-height: 86px;
      display: block;
      width: 100%;
      padding: 20px 20px 20px 70px;
      background: #fff url(../../assets/event-place/search.svg) no-repeat 20px 50%;
      border-radius: 25px;
      font-size: 40px;
      &::placeholder {
        color: #8E8E93;
      }
    }
  }

  .event-place-places {
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .event-place-item {
    display: flex;
    padding: 40px 30px;
    border-bottom: 1px solid #AEAEAE;
    &__icon {
      width: 127px;
      height: 117px;
      border-radius: 8px;
      background-color: #9197A2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
    }
    &__place {
      font-size: 50px;
    }
    &__address {
      color: #C7C8C8;
      font-size: 45px;
    }
  }

  .keyboard-holder {
    position: static;
    flex-shrink: 0;
  }
</style>
