*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    touch-action: manipulation;
    font-size: 20px;
}

body {
    font: 15px/1.3 -apple-system, Helvetica, Arial, sans-serif;
}

.page-wrapper {
    display: flex;
}

[v-cloak] {
    display: none;
}


.page-container {
    width: 375px;
    height: 667px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 237, 240);
}

.top-bar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px 3px;
    background-color: #4076B3;
    flex-shrink: 0;
}
.top-bar__tools {
    flex-basis: 30%;
}
.top-bar__time {
    font-size: .6rem;
}
.top-bar__tools:last-child {
    text-align: right;
}
.top-bar__img {
    vertical-align: middle;
}
.icon-battery {
    width: 25px;
}


.main {
    flex-grow: 1;
    position: relative;
    overflow: auto;
}
.main::-webkit-scrollbar {
    display: none;
}


.screen-bar {
    color: #fff;
    padding: 10px;
    background-color: #4076B3;
    font-size: 17px;
    position: relative;
    display: flex;
    justify-content: center;
}
.screen-bar__tool {
    position: absolute;
    left: 13px;
    bottom: 7px;
}
.icon-chevron-down {
    vertical-align: middle;
}

.bordered {
    background-color: #fff;
    border-top: 1px solid rgb(215, 216, 217);
    border-bottom: 1px solid rgb(215, 216, 217);
}
.bordered + .bordered {
    margin-top: 10px;
}

.posting-tools {
    display: flex;
    text-align: center;
    color: rgb(81, 138, 204);
    font-size: 13px;
    padding: 10px 0;
}
.posting-tools__item {
    flex-basis: 50%;
}
.posting-tools__item + .posting-tools__item {
    border-left: 1px solid rgb(215, 216, 217);
}
.posting-tools__img {
    margin-right: 8px;
    vertical-align: bottom;
}


.stories {
    display: flex;
    padding: 15px 20px;
    text-align: center;
}

.stories__item + .stories__item {
    margin-left: 15px;
}
.stories__frame-inner {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
}
.stories__img {
    width: 100%;
    height: auto;
}
.stories__item:first-child .stories__frame:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/plus.svg);
}
.stories__item--updated {
    color: #5181B8;
}
.stories__frame {
    position: relative;
    margin-bottom: 5px;
}
.stories__frame--bordered:before {
    content: '';
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border: 2px solid #5692D6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.card {
    padding: 10px 10px 0;
}
.card__head {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.card__avatar {
    margin-right: 10px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}
.card__img {
    width: 100%;
    height: auto;
}
.card__author-name {
    font-size: 15px;
    color: #3C6A9E;
    margin-bottom: 3px;
}
.card__time {
    font-size: 12px;
    color: #909499;
}
.card__more {
    margin-left: auto;
    margin-bottom: 17px;
}
.card__text {
    margin-bottom: 15px;
}
.card__attachment {
    margin-left: -10px;
    margin-right: -10px;
}
.card-attachment__info {
    padding: 5px 12px 9px;
    position: relative;
}
.card-attachment__info:after {
    content: '';
    height: 1px;
    background-color: rgb(215, 215, 217);
    width: 94%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.card-attachment__name {
    letter-spacing: 1.66px;
    color: rgb(45, 48, 51);
}
.card-attachment__views {
    color: rgb(143, 148, 153);
    font-size: 12px;
}
.card__meta {
    position: relative;
}
.card__meta-top {
    padding: 12px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.card-meta-list {
    display: flex;
    color: #676E75;
    user-select: none;
}
.card-meta-list__item + .card-meta-list__item {
    margin-left: 30px;
}
.card-meta-list__item:first-child {
    min-width: 56px;
}
.card-meta-list__item--red {
    color: #E62E40;
}
.card-meta-list__img {
    vertical-align: middle;
    margin-right: 3px;
    height: 20px;
}
.icon-heart {
    width: 23px;
}
.card__views {
    color: #A8ADB3;
}
.card__meta-bottom {
    padding: 4px 10px;
    background-color: #F5F5F5;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px solid rgb(227, 228, 230);
    display: flex;
    align-items: center;
    font-size: 13px;
    color: rgb(103, 110, 116);
}
.card-friends-likes {
    display: flex;
    margin-right: 7px;
}
.card-friends-likes__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
}
.card-friends-likes__item + .card-friends-likes__item{
    margin-left: -5px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(199, 201, 204);
    background-color: #fff;
    padding: 13px 24px;
    text-align: center;
}
.nav__item {
    position: relative;
}
.nav__notification {
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -13px;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: #FC374C;
    color: #fff;
}






.page-wrapper .button {
    font-size: 24px;
}
.page-wrapper .loading-overlay {
    font-size: 20px;
}
.page-wrapper .chat-settings {
    font-size: 1rem;
}
.page-wrapper .chat-settings__input {
    font-size: 1.25rem;
}