*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.main-screen {
    height: 100%;
    will-change: opacity;
}

.header {
    background-color: rgb(252, 186, 44);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    padding: 83px 60px 83px 42px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
}

.header__menu {
    margin-right: 40px;
}

.header__title {
    font-size: 70px;
}

.header__tools {
    margin-left: auto;
}

.header__icon {
    vertical-align: middle;
}
.header__icon + .header__icon {
    margin-left: 50px;
}

.header__caption {
    font-size: 30px;
    /*color: rgb(119, 119, 119);*/
    line-height: 36px;
    min-height: 40px;
}


.main {
    padding-top: 193px;
    height: 100%;
    background-color: rgb(237, 238, 237);
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 91%;
    overflow: auto;
    flex-grow: 1;
    font-size: 50px;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}
.bubble-holder {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    flex-shrink: 0;
}
.bubble-avatar {
    margin-right: 20px;
}
.bubble {
    color: #fff;
    background-color: #617d8a;
    padding: 26px;
    line-height: 60px;
    max-width: 780px;
    border-radius: 50px;
}
.bubbles-list > * {
    margin-bottom: 30px;
}
.bubble-holder.is-outgoing {
    align-self: flex-end;
}
.bubble-holder.is-outgoing .bubble {
    background-color: #fff;
    color: #000;
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 724px;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    margin-top: auto;
    padding: 45px 30px 55px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, .2);
}

.input-bar__note {
    color: rgb(209, 209, 209);
    font-size: 50px;
}

.message-text {
    flex-grow: 1;
    resize: none;
    outline: none;
    height: 58px;
    font-size: 48px;
    font-family: sans-serif;
    border: none;
    background-color: transparent;
    color: rgb(126, 126, 126);
    font-weight: 700;
    padding-right: 30px;
    margin-top: -7px;
}

.input-bar__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-bar__tool {
    display: flex;
}
.input-bar__tool + .input-bar__tool {
    margin-left: 75px;
}
.mic {
    height: 100%;
}


.new-note {
    height: 100%;
    will-change: opacity;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}

.new-note__head {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    padding: 83px 60px 83px 42px;
}
.new-note__main {
    flex-grow: 1;
    /*padding: 70px 30px 20px 50px;*/
    padding: 70px 50px;
}


.notes-list__item {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.notes-list__menu {
    margin-right: 30px;
    display: flex;
}
.notes-list__checkbox {
    margin-right: 30px;
}

.add-new-note {
    border: none;
    outline: none;
    background: none;
    display: block;
    color: rgb(209, 209, 209);
    font-size: 45px;
    font-family: "-apple-system", Helvetica, Arial, serif;
    padding-left: 55px;
}
.add-new-note__icon {
    font-size: 1.5em;
}

.checkbox {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: 5px solid rgb(175, 175, 175);
}
.checkbox__input {
    display: none;
}
.checkbox__checked {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(175, 175, 175);;
}
.checkbox__input:checked + .checkbox__checked {
    opacity: 1;
}


.keyboard-wrapper .keyboard-holder {
    position: static;
}

.notes-tools {
    display: flex;
    justify-content: space-between;
    padding: 36px 40px;
    background-color: rgb(245, 245, 245);
}

.notes-tools__undo {
    opacity: .5;
    transition: opacity .2s;
}
.notes-tools__arrow-tool--active {
    opacity: 1;
}

.notes-tools__arrow-tool + .notes-tools__arrow-tool {
    margin-left: 80px;
}





/*
    Vue Animations
*/
.slide-fade-enter-active, .slide-fade-leave-active {
    transition: transform .1s, opacity .1s;
}
.main-screen.slide-fade-leave-active {
    /*transform: translateY(200px);*/
    opacity: 0;
}
.slide-fade-enter {
    transform: translateY(300px);
    opacity: 0;
}

/*
    End Vue Animations
*/
