@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format("woff2");
    font-weight: 300;
}



*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}

html {
    touch-action: manipulation;
}

body {
    font: 300 40px/1.3 'HelveticaNeueCyr-Roman', Helvetica, Arial, sans-serif;
}
button:disabled {
    opacity: .4;
}

.page-wrapper {
    height: 1923px;
    display: flex;
}

.page-container {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.header {
    border-bottom: 1px solid rgb(233, 234, 235);
    background-color: #fff;
    padding: 50px 29px 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 1080px;
}

.header__avatar {
    font-size: 40px;
    color: rgb(0, 122, 255);
    height: 110px;
    width: 110px;
    overflow: hidden;
    border-radius: 50%;
}
.header__avatar-img {
    width: 100%;
    height: auto;
}

.header__add {
    text-align: right;
}

.header__title {
    text-align: center;
    font-size: 65px;
}

.header__name {
    font-size: 65px;
    line-height: 65px;
    font-weight: 500;
    margin-bottom: 15px;
}

.chevron {
    vertical-align: middle;
}
.online {
    color: rgb(0, 122, 255);
}


.main {
    padding-top: 190px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bubbles-list {
    padding: 20px 40px 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
.animated-items-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}
.bubbles-list::-webkit-scrollbar {
    display: none;
}

.twit {
    display: flex;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.twit.new {
    order: -1;
}
.twit:not(:last-child) {
    border-bottom: 1px solid rgb(233, 234, 235);
    margin-bottom: 30px;
}
.twit__avatar {
    margin-right: 30px;
    width: 164px;
    height: 164px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.twit__img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.twit__container {
    flex-grow: 1;
}
.twit__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 45px;
}
.twit__name {
    font-weight: 500;
}
.twit__username {
    color: rgb(155, 158, 161);
}
.twit__more {
    color: rgb(155, 158, 161);
}
.twit__figure {
    margin-top: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.twit__arrow-down {
    margin-left: 20px;
}
.twit__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: rgb(116, 128, 139);
}
.twit__meta-elem {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}
.twit__meta-count {
    margin-left: 20px;
}

.bubble {
    background-color: #fff;
    padding: 18px 19px;
    line-height: 60px;
    max-width: 973px;
    border-radius: 17px;
    margin-bottom: 30px;
}
.bubbles-list > * {
    margin-bottom: 30px;
}
.bubble.is-outgoing {
    align-self: flex-end;
    background-color: rgb(226, 253, 202);
}

.rectangle {
    background: rgb(215, 215, 215);
    height: 487px;
    width: 775px;
}

.input-bar-wrapper {
    /*will-change: margin;*/
    /*transition: margin .323s;*/
    /*position: relative;*/
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input-bar__recipient {
    font-size: 30px;
    color: rgb(155, 158, 161);
    padding: 10px 0 30px;
}

.keyboard-wrapper {
    position: relative;
}

.keyboard-wrapper .keyboard-holder {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.input-bar {
    display: flex;
    flex-grow: 1;
    padding: 30px 50px 20px 40px;
    /*border-top: 1px solid rgb(233, 234, 235);*/
    /*border-bottom: 1px solid rgb(233, 234, 235);*/
}


.input-bar__attachment {
    margin-right: 30px;
}

.input-bar__avatar {
    flex-shrink: 0;
    align-self: flex-start;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
}
.input-bar__avatar-img {
    width: 100%;
    height: auto;
}
.input-bar__textarea-holder {
    position: relative;
    flex-grow: 1;
}
.input-bar__resize {
    position: absolute;
    width: 60px;
    bottom: 42px;
    right: 27px;
}
.sending-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-top: 2px solid rgb(153, 153, 153);
}
.sending-tools__group {
    display: flex;
    align-items: center;
}
.sending-tools__add {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(40, 168, 234);
    font-size:  50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 120px;
    position: relative;
}
.sending-tools__add:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    width: 2px;
    height: 89px;
    background-color: rgb(153, 153, 153);

}
.icon-plus {
    width: 27px;
}
.sending-tools__attach {
    display: flex;
    align-items: center;
}
.sending-tools__icon + .sending-tools__icon {
    margin-left: 80px;
}
.sending-tools__reply {
    outline: none;
    border-radius: 50px;
    color: #fff;
    font-size: 37px;
    border: none;
    padding: 20px 30px;
    background-color: rgb(97, 161, 235);
}
.twitter-nav {
    padding: 40px 60px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-top: 1px solid rgb(233, 234, 235);
}
.twitter-nav__item {
    position: relative;
}
.twitter-nav__icon {
    vertical-align: middle;
}
.twitter-nav__notification {
    position: absolute;
    top: -17px;
    right: -17px;
    background-color: #1BA0FC;
    border-radius: 30px;
    border: 4px solid #fff;
    padding: 8px 13px;
    color: #fff;
    font-size: 22px;
    line-height: 1;
}


.message-text {
    /*border-radius: 70px;*/
    resize: none;
    outline: none;
    font-size: 50px;
    font-family: sans-serif;
    padding: 30px 0 30px 30px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.input-bar__sending-tools {
    width: 105px;
    display: flex;
    justify-content: flex-end;
}

.input-bar__mic {
    width: 47px;
    margin-right: 20px;
}

.mic {
    height: 100%;
}


.new-tweet {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.new-tweet__head {
    padding: 50px 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(153, 153, 153);
}
.new-tweet__submit {
    font-size: 50px;
    background-color: rgb(40, 168, 234);
    color: #fff;
    border: none;
    padding: 20px 45px 30px;
    border-radius: 70px;
}

.new-tweet .keyboard-holder {
    position: static;
}




/*
    Vue Animations
*/
.scale-enter-active, .scale-leave-active {
    transition: transform .1s, opacity .1s;
}
.scale-enter, .scale-leave-active {
    transform: scale(.35);
    opacity: .3;
}


.slide-popup-enter-active, .slide-popup-leave-active {
    transition: transform .25s, opacity .25s;
}
.slide-popup-enter, .slide-popup-leave-active {
    transform: translateY(100%);
    opacity: .5;
}



.slide-fade-enter-active {
    transition: transform .2s, opacity .5s;
}
.slide-fade-enter {
    transform: translateY(20px);
    opacity: 0;
}






.tweet-slide-enter-active {
    transition: all .35s ease;
}
.tweet-slide-enter {
    transform: translateY(-100px);
    opacity: 0;
}
.tweet-slide-move {
    transition: transform .35s;
}
/*
    End Vue Animations
*/