*, *:before, *:after {
    box-sizing: border-box;
}

body, figure, p, h2 {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    touch-action: manipulation;
    font-size: 20px;
}

body {
    font: 15px/1.3 -apple-system, Helvetica, Arial, sans-serif;
}

.page-wrapper {
    display: flex;
}

[v-cloak] {
    display: none;
}

.page-container {
    width: 375px;
    height: 667px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 237, 240);
}
.top-bar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px 3px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.top-bar__tools {
    flex-basis: 30%;
}
.top-bar__time {
    font-size: .6rem;
}
.top-bar__tools:last-child {
    text-align: right;
}
.top-bar__img {
    vertical-align: middle;
}
.icon-battery {
    width: 25px;
}


.main {
    flex-grow: 1;
    position: relative;
    overflow: auto;
}
.main::-webkit-scrollbar {
    display: none;
}


.screen-bar {
    color: #fff;
    padding: 33px 10px;
    background-color: #4076B3;
    font-size: 17px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 112px;
    background-size: cover;
}

.bordered {
    background-color: #fff;
    border-top: 1px solid rgb(215, 216, 217);
    border-bottom: 1px solid rgb(215, 216, 217);
}
.bordered + .bordered {
    margin-top: 10px;
}

.group-info {
    padding: 24px 12px 13px;
    background-color: #fff;
    border-bottom: 1px solid rgb(215, 216, 217);
    margin-bottom: 10px;
}
.group-info__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.group-info__name {
    font-size: 18px;
    color: #2C2D2E;
}
.group-info__type {
    font-size: 14px;
    color: #909499;
}
.group-info__visual {
    display: flex;
    align-items: center;
}
.group-info__about {
    margin-right: 10px;
}
.group-info__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.group-info__img {
    width: 100%;
    height: auto;
}
.group-info__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
}
.group-info__button {
    width: 172px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background-color: #5181B8;
    text-align: center;
    border-radius: 40px;
}
.group-info__button--gray {
    color: #45678F;
    background-color: #E5EBF0;
}
.group-info-meta {
    display: flex;
    font-size: 13px;
    color: #909499;
    text-align: center;
}
.group-info-meta__item + .group-info-meta__item {
    margin-left: 15px;
}
.group-info-meta__count {
    font-size: 17px;
    color: #2E3033;
    letter-spacing: 1.49px;
}
.group-info__donate {
    display: flex;
    align-items: center;
    color: #528BCC;
    font-size: 15px;
    margin-top: 18px;
    padding-top: 11px;
    border-top: 1px solid #D9D9D9;
}
.group-info__donate-img {
    margin-right: 10px;
}





.card {
    padding: 10px 10px 0;
}
.card__head {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.card__avatar {
    margin-right: 10px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}
.card__img {
    width: 100%;
    height: auto;
}
.card__author-name {
    font-size: 15px;
    color: #3C6A9E;
    margin-bottom: 3px;
}
.card__time {
    font-size: 12px;
    color: #909499;
}
.card__more {
    margin-left: auto;
    margin-bottom: 17px;
}
.card__text {
    margin-bottom: 15px;
}
.card__attachment {
    margin-left: -10px;
    margin-right: -10px;
}
.card-attachment__info {
    padding: 5px 12px 9px;
    position: relative;
    /*border-bottom: 1px solid rgb(215, 215, 217);;*/
}
.card-attachment__info:after {
    content: '';
    height: 1px;
    background-color: rgb(215, 215, 217);
    width: 94%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.card-attachment__name {
    letter-spacing: 1.66px;
    color: rgb(45, 48, 51);
}
.card-attachment__views {
    color: rgb(143, 148, 153);
    font-size: 12px;
}
.card__meta {
    position: relative;
}
.card__meta-top {
    padding: 12px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.card-meta-list {
    display: flex;
    color: #676E75;
    user-select: none;
}
.card-meta-list__item + .card-meta-list__item {
    margin-left: 30px;
}
.card-meta-list__item:first-child {
    min-width: 56px;
}
.card-meta-list__item--red {
    color: #E62E40;
}
.card-meta-list__img {
    vertical-align: middle;
    margin-right: 3px;
    height: 20px;
}
.icon-heart {
    width: 23px;
}
.card__views {
    color: #A8ADB3;
}
.card__meta-bottom {
    padding: 4px 10px;
    background-color: #F5F5F5;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px solid rgb(227, 228, 230);
    display: flex;
    align-items: center;
    font-size: 13px;
    color: rgb(103, 110, 116);
}
.card-friends-likes {
    display: flex;
    margin-right: 7px;
}
.card-friends-likes__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
}
.card-friends-likes__item + .card-friends-likes__item{
    margin-left: -5px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(199, 201, 204);
    background-color: #fff;
    padding: 13px 24px;
    text-align: center;
}
.nav__item {
    position: relative;
}
.nav__notification {
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -13px;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: #FC374C;
    color: #fff;
}





.page-wrapper .button {
    font-size: 24px;
}
.page-wrapper .loading-overlay {
    font-size: 20px;
}
.page-wrapper .chat-settings {
    font-size: 1rem;
}
.page-wrapper .chat-settings__input {
    font-size: 1.25rem;
}